<div id="customersList" data-ng-controller="CustomerSearchCtrl">
    <div class="row-fluid">
        <div class="tabbable tabbable-bordered">
            <ul class="nav nav-tabs">
                <li class="pls-menu-item">
                    <a href="#/customer/active">Active</a>
                </li>
                <li class="pls-menu-item" data-ng-if="$root.isFieldRequired('CUSTOMER_PROFILE_VIEW')">
                    <a href="#/customer/inactive">Inactive</a>
                </li>
                <li class="pls-menu-item" data-ng-if="$root.isFieldRequired('CUSTOMER_PROFILE_VIEW')">
                    <a href="#/customer/hold">Hold</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" data-pls-ignore-location-change-check="true">
                    <div class="row-fluid">
                        <div class="span3">
                            <button type="button" class="btn a_addButton" 
                                    data-ng-click="addCustomer()" 
                                    data-ng-if="$root.isFieldRequired('CUSTOMER_PROFILE_VIEW') && customerModel.selectedTab=='active'">
                                Add
                            </button>
                            <button type="button" class="btn a_editButton" data-ng-click="editCustomer()"
                                    data-ng-disabled="_.isEmpty(customerModel.selectedCustomers)">
                                <span data-ng-bind="changeLabelAccordingToPermission('CUSTOMER_PROFILE_VIEW','View','Edit')"></span>
                            </button>
                        </div>
                        <div class="span4">
                            <div class="form-inline text-right" data-ng-if="$root.isFieldRequired('CUSTOMER_PROFILE_VIEW') && customerModel.selectedTab=='active'"
                                data-ng-hide="_.isEmpty(customerModel.businessUnits)">
                                <label class="label-middle" for="businessUnitName">Business Unit:&nbsp;</label>
                                <select id="businessUnitName"
                                    class="input-large"
                                    data-ng-model="customerModel.selectedBusinessUnit"
                                    data-ng-options="item.value as item.name for item in customerModel.businessUnits">
                                </select>
                            </div>
                        </div>
                        <form class="span5 margin0 text-right">
                            <div class="form-inline">
                                <label class="label-middle" for="inputSearch">Customer:&nbsp;</label>
                                <input class="input-xlarge" id="inputSearch" type="text" data-ng-model="customerModel.filterName"
                                       data-pls-wildcard-search placeholder="Wildcard Search"/>
                                <button type="submit" class="btn a_searchutton" data-ng-click="getCustomersList()">Search</button>
                            </div>
                        </form>
                    </div>
                    <br/>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="gridStyle span12 gridHeight4_8 a_customersGrid" data-ng-grid="customersGrid" data-ng-model="customers"></div>
                        </div>
                    </div>
                    <div data-ng-include="'pages/content/customer/add-customer.html'"></div>
                    <div data-ng-include="'pages/content/customer/location-info.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
