<div data-ng-controller="LocationInfoController" data-pls-modal="showLocationInfo" data-options="locationInfoOptions"
        data-close="closeLocationInfoDialog()" class="modal modalWidth7" data-enter="closeLocationInfoDialog()">
    <div class="modal-header">
        <h4>Account Executive - {{accountExecutive}}</h4>
    </div>
    <div class="modal-body" data-ng-if="showLocationInfo">
        <div class="gridStyle span12" data-ng-grid="locationsGrid"></div>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button type="button" class="btn" data-ng-click="closeLocationInfoDialog()">OK</button>
        </div>
    </div>
</div>
