<div class="row-fluid">
    <div class="span6">
        <label for="direction" class="label-middle span5">Inbound/Outbound</label>
        <select id="direction" data-ng-model="billTo.billToDefaultValues.direction" class="span6">
            <option value="I">Inbound</option>
            <option value="O">Outbound</option>
        </select>
    </div>
    <div class="span6">
        <label for="manualBolDirection" class="label-middle span5">Manual BOL: Inbound/Outbound</label>
        <select id="manualBolDirection" data-ng-model="billTo.billToDefaultValues.manualBolDirection" class="span6">
            <option value="I">Inbound</option>
            <option value="O">Outbound</option>
        </select>
    </div>
</div>

<div class="row-fluid padding-bottom10">
    <div class="span6">
        <label for="payTerms" class="label-middle span5">Pay Terms</label>
        <select id="payTerms" data-ng-model="billTo.billToDefaultValues.payTerms"
                data-ng-options="pt as pt | paymentTerms for pt in paymentTermsValues" class="span6"></select>
    </div>
    <div class="span6">
        <label for="manualBolTerms" class="label-middle span5">Manual BOL: Pay Terms</label>
        <select id="manualBolTerms" data-ng-model="billTo.billToDefaultValues.manualBolPayTerms"
                data-ng-options="pt as pt | paymentTerms for pt in paymentTermsValues" class="span6"></select>
    </div>
</div>
<hr>
<div class="padding-top10"></div>
<div class="row-fluid">
    <div class="span6">
        <label for="EDIBrokerInput" class="label-middle span4">EDI 210: Customs Broker</label>
        <input type="text" id="EDIBrokerInput" data-ng-model="billTo.billToDefaultValues.ediCustomsBroker" class="span8" maxlength="50">
    </div>
    <div class="span6">
        <label for="ediDirection" class="label-middle span5">EDI 210: Inbound/Outbound</label>
        <select id="ediDirection" data-ng-model="billTo.billToDefaultValues.ediDirection" class="span6">
            <option value="I">Inbound</option>
            <option value="O">Outbound</option>
        </select>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <label for="ediBrokerPhone" class="label-middle span4">EDI 210: Phone</label>
        <div class="span8 pls-margin-left-0">
            +
            <input class="span2" id="ediBrokerPhone" type="text" data-ng-model="billTo.billToDefaultValues.ediCustomsBrokerPhone.countryCode"
                placeholder="###"data-ng-minlength="1" data-ng-maxlength="3" maxlength="3" data-pls-digits-validation></input>
            &nbsp;(
            <input class="span2" type="text" data-ng-model="billTo.billToDefaultValues.ediCustomsBrokerPhone.areaCode"
                placeholder="###" data-ng-minlength="1" data-ng-maxlength="3" maxlength="3" data-pls-digits-validation>
            )&nbsp;
            <input id="defaultValuesPhone" class="span3" type="text" data-ng-model="billTo.billToDefaultValues.ediCustomsBrokerPhone.number"
                placeholder="#######" data-ng-minlength="7" data-ng-maxlength="7" maxlength="7" data-pls-digits-validation>
            &nbsp;&nbsp;Ext.:&nbsp;
            <input id="defaultValuesPhoneExtension" class="span3" type="text" data-ng-model="billTo.billToDefaultValues.ediCustomsBrokerPhone.extension"
                placeholder="######" data-ng-maxlength="6" maxlength="6" data-pls-digits-validation>
        </div>
    </div>
    <div class="span6">
        <label for="ediPayTerms" class="label-middle span5">EDI 210: Pay Terms</label>
        <select id="ediPayTerms" data-ng-model="billTo.billToDefaultValues.ediPayTerms"
                data-ng-options="pt as pt | paymentTerms for pt in paymentTermsValues" class="span6">
        </select>
    </div>
</div>