<div data-pls-modal="showDialog" data-options="dialogOptions" class="modal modalWidth5 modalHeight7">
    <div class="modal-header">
        <h4>Prepaid Details</h4>
    </div>

    <div class="modal-body">
        <div data-ng-if="mode === 'editable'" class="row-fluid">
            <span class="text-info">Double click on the cell to edit</span>
        </div>

        <div class="row-fluid">
            <div data-ng-grid="prepaidDetailsGrid" data-ng-class="{span8: mode === 'editable', span12: mode === 'modal'}"
                 class="pls-grid-responsive gridStyle gridHeight0_9"></div>

            <div data-ng-if="mode === 'editable'" class="span4">
                <button type="button" data-ng-click="addPrepaidDetails()" data-ng-disabled="prepaidDetails.length > 1"
                        class="btn btn-block span12">Add
                </button>

                <button type="button" data-ng-click="removePrepaidDetails()" data-ng-disabled="!prepaidDetailsGrid.$gridScope.selectedItems[0]"
                        class="btn btn-block span12 pls-margin-left-0">Delete
                </button>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12">
                <button type="button" data-ng-if="mode === 'editable'" data-ng-click="saveDialog()" data-ng-disabled="isWrongDetails"
                        class="btn btn-primary">Ok</button>
                <button type="button" data-ng-click="cancelDialog()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>