<div data-ng-controller="EditProfilePasswordCtrl">
    <div id="editUserPasswordDialog" data-pls-modal="userModel.editUserPasswordDialogModalOptions.show" data-close="closeEditUserPasswordDialog()"
        class="modal modalWidth5 modalHeight5" data-options="userModel.editUserPasswordDialogModalOptions" data-pls-input-cleaning 
        data-enter-allowed="{{!editUserPasswordForm.$invalid}}" data-enter="savePasswordDialog()">

        <div class="modal-header">
            <h4>Change Password</h4>
        </div>

        <div><br/>
            <div class="row-fluid">
                <div class="span10 offset1">
                    <form name="editUserPasswordForm" novalidate>
                        <div class="row-fluid">
                            <label class="control-label span4 label-middle" for="currentPassword"><b>Current Password:</b></label>
                            <input id="currentPassword" name="currentPassword" placeholder="######" type="password" class="span8" data-ng-model="userModel.credentials.currentPassword" required>
                        </div><hr>
                        <div class="row-fluid">
                            <label class="control-label span4 label-middle" for="newPassword"><b>New Password</b></label>
                            <input id="newPassword" name="newPassword" placeholder="######" type="password" class="span8" data-ng-model="userModel.credentials.newPassword"
                                data-ng-pattern="/^(?=.*[\d])(?=.*[A-Z])(?=.*[a-z]).{6,}$/" required>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label span4 label-middle" for="confirmPassword"><b>Confirm Password</b></label>
                            <input id="confirmPassword" name="confirmPassword" placeholder="######" type="password" class="span8" data-ng-model="userModel.credentials.confirmedPassword"
                                data-ng-pattern="/^(?=.*[\d])(?=.*[A-Z])(?=.*[a-z]).{6,}$/" required>
                        </div>
                        <div class="row-fluid" data-ng-show="!editUserPasswordForm.newPassword.$error.pattern && userModel.credentials.confirmedPassword !== userModel.credentials.newPassword">
                            <span class="text-error">Passwords should be equal</span>
                        </div>
                        <div class="row-fluid" data-ng-show="editUserPasswordForm.newPassword.$error.pattern">
                            <span class="text-error">
                                Password should be at least 6 characters long, contain both letters and digits and at least one uppercase and lowercase letter
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn span2 offset8" data-ng-click="closeEditUserPasswordDialog()">Cancel</button>
            <button type="button" class="btn btn-primary span2" data-ng-click="savePasswordDialog()" data-ng-disabled="editUserPasswordForm.$invalid || userModel.credentials.confirmedPassword !== userModel.credentials.newPassword">Ok</button>
        </div>
    </div>
</div>