<div data-ng-controller="EditProfileCtrl">
    <form name="editUserForm" novalidate>
        <div class="row-fluid" data-ng-if="user && $root.isPlsPermissions('EDIT_MY_PROFILE')">
            <div class="tabbable tabbable-bordered">
                <div class="row-fluid">
                    <div data-ng-include="'pages/content/profile/edit/edit-my-profile-details.html'"></div>
                </div>
            </div>

            <br/><br/>
                <div class="row-fluid">
                    <button type="button" class="btn btn-primary" data-ng-click="saveUser()" data-ng-disabled="editUserForm.$invalid">Save Changes</button>
                <a class="btn" href="#/my-profile">Close</a>
            </div>
        </div>
    </form>
</div>
<div data-ng-include="'pages/content/customer/location-info.html'"></div>