<div class="row-fluid">
    <div class="row-fluid">
        <div class="span3 pull-right">
            <button type="button" class="btn pull-right" data-not-disable-me data-ng-disabled="!isSelectedEmail()" data-ng-click="sendCopy()">Send Copy</button>
            <button type="button" class="btn pull-right" data-not-disable-me data-ng-disabled="!isSelectedEmail()" data-ng-click="viewEmail()">View</button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="gridStyle gridHeight4_12 span12" data-ng-grid="gridOptions"></div>
    </div>
</div>