<div id="confirmationCancelOrderDialog" data-pls-modal="showConfirmationDialog" data-close="showConfirmationDialog=false"
        class="modalWidth4 a_confirmationCancelOrderDialog" data-enter="cancelOrder()" data-options="dialogOptions">
     <div class="modal-header">
         <h4>Cancel Order</h4>
     </div>
     <div class="modal-body" data-ng-cloak>
         <div>
             <div class="text-center">You are canceling the Order #<strong><span data-ng-bind="shipmentId"></span></strong></div>
             <div data-ng-show="status === 'DISPATCHED'">
                <br/>
                <div class="text-center" data-ng-hide="apiCapable">The notification will be sent to Carrier.</div>
                <div class="text-center" data-ng-show="apiCapable">The notification can not be sent to Carrier automatically.</div>
             </div>
             <br/>
             <div class="text-center">Do you want to proceed?</div>
         </div>
     </div>
     <div class="modal-footer">
         <button type="button" class="btn a_cancelButton" data-ng-click="showConfirmationDialog=false">Cancel</button>
         <button type="button" class="btn btn-primary a_okButton" data-ng-click="cancelOrder()">OK</button>
     </div>
</div>