<form class="modalWidth4" name="forgotPasswordForm" data-show-above-login="true" data-pls-modal="forgotPasswordOpen" data-ng-controller="ForgotPasswordCtrl"
data-close="closeForgotPasswordDialog()"  data-enter="closeForgotPasswordDialog()">
    <div class="modal-header">
        <h5>Reset Password</h5>
    </div>
    <div class="modal-body">
        A temporary password will be sent to user email. <br> <br>
        <div class="control"  data-ng-hide ="userIdHide" >
            <span style="width: 35px">User ID:</span> <input type="text"
                id="login" name="login" required
                data-ng-model="login"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-ng-click="closeForgotPasswordDialog()">Cancel</button>
        <button type="button" class="btn btn-primary" data-ng-disabled ="!forgotPasswordForm.$valid" data-ng-click="resetPassword()">Reset</button>
    </div>
</form>