<div data-pls-modal="pageNoteModel.showAddNoteDialog" data-close="closeAddNoteDialog()" class="modalWidth7 a_addNoteDialog"
        data-options="pageNoteModel.addNoteModalOptions" data-enter="addNewNote()"
        data-enter-allowed="{{!!(pageNoteModel.newNote && pageNoteModel.newNote.length > 0 && pageNoteModel.lengthCounter >= 0)}}">
    <div class="modal-header">
        <h4>Add Note</h4>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <textarea id="inputElement" rows="10" class="input-block-level a_text"
                    data-required data-ng-model="pageNoteModel.newNote" data-ng-trim="false"></textarea>
            </div>
        </div>
        <div class="row-fluid">
            <div class="text-right span1 offset11 muted" data-ng-class="{'text-error':pageNoteModel.lengthCounter < 0}">
                {{pageNoteModel.lengthCounter}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn cancel a_closeButon" data-ng-click="closeAddNoteDialog()">Cancel</button>
        <button type="button" class="btn btn-primary a_okButton" data-ng-click="addNewNote()"
            data-ng-disabled="!pageNoteModel.newNote || pageNoteModel.newNote.length == 0 || pageNoteModel.lengthCounter < 0">OK
        </button>
    </div>
</div>