<div class="row-fluid">
    <div class="span6">
        <div class="span2">
            <button class="btn btn-block padding5" type="button" data-ng-click="printDocument()"
                data-ng-disabled="selectedDocs.length !== 1" data-not-disable-me>Print</button>
        </div>
        <div class="span5" data-not-disable-me>
            <select class="span9" data-ng-init="selectedPrintType = printTypes[2]" data-ng-model="selectedPrintType"
                title="{{selectedPrintType.description}}" data-ng-disabled="!isSelectedOnlyShippingLabelDocument()" data-not-disable-me
                data-ng-options="printType as printType.label for printType in printTypes"></select>
        </div>
        <div class="row-fluid" data-ng-if="canShowAddDocument()">
            <div class="span10 well well-small">
                <form novalidate action="{{uploadModel.uploadUrl}}" data-ng-upload data-ng-submit="uploadSubmit()">
                    <label class="text-center">File types: <b>pdf, jpeg, png, bmp, tif, tiff, gif</b>. Maximum file size <b>2.5MB</b></label>

                    <div class="control-group" data-not-disable-me>
                        <label class="span2 padding5 text-right" for="upload">File:</label>
                        <input type="file" class="filestyle" data-buttonText="Browse" data-classButton="btn span2 pull-right" data-icon="false"
                             data-classInput="span8" name="upload" id="upload" onchange="angular.element(this).scope().uploadModel.setFile(this)"/>
                    </div>

                    <div class="control-group" data-not-disable-me>
                        <label class="span2 padding5 text-right" for="doc-type-select">Docs:</label>

                        <select class="span8" id="doc-type-select" data-ng-model="uploadModel.selectedDocType"
                                data-ng-options="documentType as documentType.label for documentType in docTypes"></select>

                        <button class="btn span2 pull-right a_addButton" type="submit"
                                data-upload-submit="uploadModel.uploadCallback(content, completed)"
                                data-ng-if="!isAddDisabled()"><i class="icon-arrow-down"></i> Add
                        </button>
                        <button class="btn span2 pull-right a_addButton" type="button" data-ng-disabled="true"
                                data-ng-if="isAddDisabled()"><i class="icon-arrow-down"></i> Add
                        </button>
                    </div>
                    <!-- please do not remove following block. It was add to solve the problem with select in IE-->
                    <div class="x-ng-cloak">
                        <span data-ng-bind="uploadModel.selectedDocType"></span>
                    </div>
                </form>
            </div>
            <div class="span2">
            <div class="divHeight43"></div>
                <button class="btn btn-block a_getButton" type="button" data-ng-click="getDocumentsFromAPI()"
                        data-ng-disabled="!isDownloadEnabled"
                        data-not-disable-me>Get</button>
            </div>
        </div>
        <div class="row-fluid" data-ng-if="canShowAddDocument()">
            <div class="span10 well well-small">
                <label data-ng-if="!requiredDocuments.length" class="text-center">All Required documents are uploaded.</label>
                      <span class="label label-warning margin2" data-ng-repeat="document in requiredDocuments">
                        <span data-ng-bind="document.documentTypeDescription"></span>
                    </span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10" data-ng-if="!salesOrderModel || salesOrderModel.selectedTab === 'docs'">
                <div data-ng-grid="docsGrid.options" class="gridStyle gridHeight4 span12" data-ng-if="docsGrid.options.data"></div>
            </div>
            <div class="span2">
                <button class="btn btn-block padding5" type="button" data-ng-click="viewDocument()"
                        data-ng-disabled="selectedDocs.length !== 1" data-not-disable-me>View</button>                <button class="btn btn-block padding5" type="button" data-ng-click="emailToDocument()"
                        data-ng-hide="shouldSaveTempDocuments && !salesOrderModel"
                        data-ng-disabled="selectedDocs.length === 0" data-not-disable-me>Email To</button>

                <button class="btn btn-block a_deleteButton" type="button" data-ng-click="deleteDocument()" data-ng-if="canDeleteDocs()"
                        data-ng-disabled="selectedDocs.length !== 1 || disableDeleteButton()" data-not-disable-me>
                    Delete
                </button>
                <button class="btn btn-block" type="button" data-ng-click="regenerateBol()" data-ng-if="canViewAddShipLabel()"
                        data-ng-disabled="!canRegenerate || !$root.isFieldRequired('CAN_REGENERATE_BOL')" data-not-disable-me>
                        Regenerate BOL</button>
                <div class="row-fluid text-center" data-ng-if="shouldSaveTempDocuments  && canHideTimeOnBol()">
                    <div>
                        <input id="hideCreatedTime" type="checkbox" data-ng-model="timeOnBol.hideCreatedTime"/>
                    </div>
                    <span class="text-error nowrap">Do not display time</span>
                    <span class="text-error nowrap">for 'Shipment</span>
                    <span class="text-error nowrap">created by'</span>
                </div>
                <div></div>
                <div class="divHeight43"></div>
                <div data-not-disable-me>
                <select class="span10" id="doc-type-select" data-ng-model="shipment.markup" data-ng-if="canRegenerateConsigneeInvoice()"
                                data-ng-options="markupVal as markupVal + '%' for markupVal in $root._.range(51)"></select>
                </div>
                <button class="btn btn-block a_regenerateBOLButton" type="button"
                        data-ng-click="regenerateConsigneeInvoice()"
                        data-ng-if="canRegenerateConsigneeInvoice()"
                        data-ng-disabled="shouldSaveTempDocuments  && canRegenerateConsigneeInvoiceByHand"
                        data-not-disable-me>Regenerate Consignee Invoice</button>
                <button class="btn btn-block" type="button" data-ng-click="regenerateShippingLabels()" data-ng-if="shouldSaveTempDocuments && canViewElement()"
                        data-ng-disabled="!canRegenerate || !$root.isFieldRequired('BOARD_CAN_REGENERATE_SHIP_LABEL')" data-not-disable-me>
                        Regenerate Ship. Label</button>
            </div>
        </div>
    </div>
    <div data-pls-pdf-container="docOptions" data-ng-class="{'pls-margin-top-200': openDatePickerIE}" class="span6 a_pdf"></div>
</div>
