<div class="row-fluid" data-ng-hide="hideControls">
    <div class="span12 well well-small">
    <div data-ng-form="addProductForm" data-pls-form-disabled="shipment.finishOrder.quoteMaterials.length >= maxCountOfProducts">
        <div class="row-fluid">
            <div data-ng-if="showLargeLoadMessage" class="alert pls-font-bold" >
                To avoid potential cubic capacity upcharges and for potential additional savings, please call your PLS representative for 
                a spot/volume quote if your shipment meets 1 or more of these criteria:
                <ul>
                    <li>weight is greater than or = 5,000 lbs</li>
                    <li>occupies 9 linear feet of trailer space</li>
                    <li>contains 5 or more pallets</li>
                    <li>involves origin and/or destination in Alaska, Hawaii or an off shore point</li>
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2 controls-row">
                <label class="control-label label-middle" for="productWeight"><span class="pls-font-bold">Weight:</span></label>
                <input id="productWeight" type="text" data-pls-number data-integral="8" data-fractional="2" data-forbid-zero="true" tabindex="{{plsTabIndex}}"
                   class="span6 a_weight" data-ng-model="material.weight" data-ng-init="material.weight" maxlength="11" required/>
                <select id="weightMeasure" class="span6 a_weightMeasure" data-ng-model="material.weightUnit" data-ng-disabled="true"
                   data-ng-options="w as w | weightMeasure for w in rateQuoteDictionary.weights"></select>
            </div>
            <div class="span4 controls-row">
                <label class="control-label label-middle" for="commodityClass"><span class="pls-font-bold">Class:</span></label>
                    <select id="commodityClass" class="span4 a_commodityClass" data-ng-model="material.commodityClass"
                        data-ng-options="c as c | commodityClass for c in rateQuoteDictionary.classes" data-ng-required="isClassRequired()"
                        data-ng-init="material.commodityClass" data-ng-change="cleanProduct();" tabindex="{{plsTabIndex}}">
                        <option value=""></option>
                    </select>
                <button type="button" class="btn span8 nowrap a_classEstimatorButton" data-ng-click="open()" tabindex="-1"
                    data-pls-popover="densityClassEstimatorHelp{{parentDialog}}" data-placement="top"
                    data-title="<div class='text-center'> Density Class Estimator </div>"
                    data-pls-class-estimator="{{parentDialog}}" data-ng-model="material">Density Class Estimator
                </button>
                <div class="container-fluid" data-ng-attr-id="densityClassEstimatorHelp{{parentDialog}}">
                            The Class number provided in this Density Calculator is only an estimate and does not take<br>
                            into account the commodity. Moreover, this calculator does not factor in possible liability<br>
                            or handling characteristics of the commodity. Due to these limitations, items shipped that<br>
                            are not classed solely based on density may be more likely to have an alternate classification.
                </div>
            </div>
            <div class="span5 controls-row">
                <label class="control-label label-middle" for="product"><span class="pls-font-bold">Product:</span>
                 <span style="float: right;">
                    <input id="onlyHazmat" class="a_onlyHazmat" type="checkbox" data-ng-model="products.hazmatOnly" 
                       data-ng-init="products.hazmatOnly" data-ng-change="cleanProduct()" style="margin:0px;" tabindex="-1"/>
                   Hazardous
                  </span>
                </label>
                <div id="product" class="a_product">
                    <div data-pls-product-list="products.product" data-mandatory="descriptionRequired" tabindex="{{plsTabIndex}}"
                         data-commodity-class="material.commodityClass" data-hazmat-only="products.hazmatOnly"
                        data-customer-id="selectedCustomer.id"  data-ng-init="products.product"></div>
                </div>
            </div>
            <div class="span1">
                <label class="control-label label-middle" for="createProduct">&nbsp;</label>
                <button id="createProduct" type="button" class="btn a_addProductButton"
                        data-pls-popover="addProductHelp{{parentDialog}}" data-placement="top"
                        data-ng-disabled="!selectedCustomer.id || !$root.isFieldRequired('ADD_EDIT_PRODUCT')"
                        tabindex="-1" data-ng-click="openAddProductDialog()">
                    <i class="icon-plus"></i>
                </button>
            </div>
            <div class="container-fluid text-center" data-ng-attr-id="addProductHelp{{parentDialog}}">Add Product</div>
        </div>
        <div class="row-fluid">
            <div class="span6 controls-row">
                <label class="control-label label-middle" for="productLength"><span class="pls-font-bold">Dimensions:</span></label>
                <input id="productLength" type="text" class="span3 a_length" data-ng-init="material.length" placeholder="LLL" data-pls-number
                    tabindex="-1" data-integral="8" data-fractional="2" data-forbid-zero="true"
                    data-ng-model="material.length" maxlength="11" data-ng-required="isDimensionsRequired()"
                    data-ng-focus="changeTabIndex(plsTabIndex)"/>
                <input id="width" type="text" class="span3 a_width" data-ng-init="material.width" placeholder="WWW" data-pls-number
                    tabindex="-1" data-integral="8" data-fractional="2" data-forbid-zero="true" data-ng-model="material.width"
                    maxlength="11" data-ng-required="isDimensionsRequired()"/>
                <input id="height" type="text" class="span3 a_height" data-ng-init="material.height" placeholder="HHH" data-pls-number
                    tabindex="-1" data-integral="8" data-fractional="2" data-forbid-zero="true" data-ng-model="material.height"
                    maxlength="11" data-ng-required="isDimensionsRequired()"/>
                <select id="dimensionsMeasure" data-ng-model="material.dimensionUnit" class="span3 a_dimensionsMeasure" data-ng-disabled="true" tabindex="-1"
                    data-ng-options="d as d | dimensionsMeasure for d in rateQuoteDictionary.dimensions"></select>
            </div>
            <div class="span5 controls-row">
                <div class="span2">
                    <label class="control-label label-middle" for="qty">Qty:</label>
                    <input id="qty" type="text" data-pls-number data-forbid-zero="true" class="span12 a_qty" data-ng-model="material.quantity" tabindex="{{plsTabIndex}}"
                       data-ng-required="material.packageType==='PLT'" data-ng-pattern="/^\d+$/" maxlength="6"/>
                </div>
                <div class="span8">
                    <label class="control-label label-middle" for="packageType">Pack. Type:
                     <span style="float: right;">
                        <input id="stackable" type="checkbox" class="a_stackable" data-ng-model="material.stackable" tabindex="-1"
                            data-ng-init="material.stackable" style="margin: 0px;"/>
                    Stackable</span>
                    </label>
                    <select id="packageType" class="span12 a_packageType" data-ng-model="material.packageType"
                        data-ng-options="t.code as t.label for t in rateQuoteDictionary.packageTypes"
                        data-ng-init="material.packageType" data-ng-required="material.productId || descriptionRequired" tabindex="{{plsTabIndex}}">
                        <option value=""></option>
                    </select>
                 </div>
                 <div class="span2">
                    <label class="control-label  label-middle" for="length">Pcs:</label>
                    <input data-pls-number data-pls-digits-validation type="text" data-ng-model="material.pieces" class="span12"
                    maxlength="6" tabindex="{{plsTabIndex}}">
                 </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="row-fluid" data-ng-hide="hideControls">
    <button type="button" class="btn span2 a_addItemButton" data-ng-disabled="addProductForm.$invalid || shipment.finishOrder.quoteMaterials.length >= maxCountOfProducts" data-ng-click="addProduct()">
        <i class="icon-arrow-down"></i>Add
    </button>
    <button type="button" class="btn span2 a_editButton" data-ng-disabled="getSelectedMaterialRowNum() < 0"
        data-ng-click="editProduct()"><i class="icon-arrow-up"></i>Edit
    </button>
    <button type="button" class="btn span2 a_removeButton" data-ng-disabled="getSelectedMaterialRowNum() < 0"
        data-ng-click="removeProduct()"><i class="icon-trash"></i>Remove
    </button>
    <div class="span2 offset2" style="padding-top:6px; text-align:right;" data-ng-show="isProcessingRequired() && $root.isFieldRequired('REQUEST_VLTL_RATES')">
        <label class="checkbox" style="display:inline-block; margin-right:10px;">
            <input type="checkbox" name="checkbox" data-ng-model="shipment.requestLTLRates" class="checkbox-label-spacing">
            LTL
        </label>
        <label class="checkbox" style="display:inline-block">
            <input type="checkbox" name="checkbox" data-ng-model="shipment.requestVLTLRates" class="checkbox-label-spacing">
            VLTL
        </label>
    </div>
    <button type="button" class="btn span2 btn-primary a_getQuoteButton" data-ng-class="{'offset4':!$root.isFieldRequired('REQUEST_VLTL_RATES')}" data-ng-show="isProcessingRequired()"
        data-ng-click="getQuote()">Get Quote
    </button>
</div>
<div class="row-fluid"><span>&nbsp;</span></div>
<div class="row-fluid">
    <div class="gridStyle span12 gridHeight1_8" data-ng-grid="materialsGrid" data-ng-if="renderGrid !== false" data-ng-model="shipment.finishOrder.quoteMaterials"></div>
</div>
<div class="row-fluid">
    <div class="span2">Total Weight: {{totals.weight | number}} lbs</div>
    <div class="span2">Total Cube: {{totals.cubes | cube}}</div>
    <div class="span2">Total Density: {{totals.density | density}}</div>
    <div class="span4">
        <div class="offset2 span3">Q-Ty: {{totals.quantity}}</div>
        <div class="offset2 span3">Pieces: {{totals.pieces}}</div>
    </div>
</div>
