<form name="addressDirectiveForm" data-ng-attr-id="addressDirective{{origin}}" novalidate class="margin0">

    <div class="well well-small">
        <div class="row-fluid">
            <div class='row-fluid' data-ng-show="isRequiredPhoneMissing()">
                <div class="label label-warning text-center span12">
                     A phone number is required for this address. 
                     <br> Please select the Edit Address icon to enter the phone number.
                </div>
            </div>
            <div class="pull-left section-header" data-ng-if="origin">Origin</div>
            <div class="pull-left section-header" data-ng-if="!origin">Destination</div>
            <div class="pull-right">
                <button class="btn" type="button" data-ng-click="openGoogleMaps(origin)" data-ng-disabled="!canEditAddress()">Map</button>
                <button class="btn a_addAddressButton" type="button" data-ng-click="addAddressEntry(origin)"
                    data-ng-disabled="!$root.isFieldRequired('ADD_EDIT_ADDRESS_BOOK_PAGE')" title="Add new address book entry">Add</button>
                <button class="btn a_editAddressButton" type="button" data-ng-click="editAddressEntry(origin)"
                    data-ng-disabled="!canEditAddress() || !$root.isFieldRequired('ADD_EDIT_ADDRESS_BOOK_PAGE')" title="Edit address book entry">Edit</button>
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <label class="control-label span4 text-right" for="addressNameInp{{$id}}">Name:</label>

            <div class="input-append span8 a_addressNameInp">
                <input type="text" data-ng-attr-id="addressNameInp{{$id}}" class="span10 addressNameInp" data-ng-model="selectedAddressName"
                       data-typeahead-auto-select="true" required
                       data-pls-typeahead="addressName for addressName in findAddress($viewValue)" data-typeahead-id="selectAddressNameTahd">

                <div class="btn-group">
                    <button type="button" class="btn span12" data-ng-click="$broadcast('event:showTypeaheadList', 'selectAddressNameTahd');">
                        <i class="icon-arrow-down"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <label class="control-label span4 text-right" for="addressCodeInp{{$id}}">Code:</label>

            <div class="input-append span8 a_addressCodeInp">
                <input type="text" data-ng-attr-id="addressCodeInp{{$id}}" class="span10 addressCode" data-ng-model="selectedAddressCode"
                       data-typeahead-auto-select="true" required
                       data-pls-typeahead="addressCode for addressCode in findAddressCode($viewValue)" data-typeahead-id="selectAddressCodeTahd">

                <div class="btn-group">
                    <button type="button" class="btn span12" data-ng-click="$broadcast('event:showTypeaheadList', 'selectAddressCodeTahd');">
                        <i class="icon-arrow-down"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <label class="control-label span4 text-right">Address 1:</label>
            <span class="controls span8 a_address1 text-clipping" data-ng-bind="address.address1"></span>
        </div>
        <div class="row-fluid">
            <label class="control-label span4 text-right">Address 2:</label>
            <span class="controls span8 a_address2 text-clipping" data-ng-bind="address.address2"></span>
        </div>
        <div class="row-fluid">
            <label class="control-label span4 text-right">City, ST, ZIP:</label>
            <span class="controls span8 a_adressZip" data-ng-bind="address.zip | zip"></span>
        </div>
        <div class="row-fluid">
            <label class="control-label span4 text-right">Country:</label>
            <span class="controls span8 a_coutryId" data-ng-bind="address.zip.country.id"></span>
        </div>
        <div class="row-fluid">
            <label class="control-label span4 text-right">Contact Name:</label>
            <span class="controls span8 a_contactName text-clipping" data-ng-bind="address.contactName"></span>
        </div>
        <div class="row-fluid">
            <label class="control-label span4 text-right">Phone:</label>
            <span class="controls span8 a_phone" data-ng-bind="address.phone | phone"></span>
        </div>
        <div class="row-fluid">
            <label class="control-label span4 text-right">Fax:</label>
            <span class="controls span8 a_fax" data-ng-bind="address.fax | phone"></span>
        </div>
        <div class="row-fluid">
            <label class="control-label span4 text-right">Email:</label>
            <span class="controls span8 a_email text-clipping" data-ng-bind="address.email"></span>
        </div>
        <div class="row-fluid">
            <label class="control-label span4 text-right" data-ng-if="origin">Pickup Notes:</label>
            <label class="control-label span4 text-right" data-ng-if="!origin">Delivery Notes:</label>
            <div class="controls span8">
                <textarea class="span12" rows="2" data-ng-bind="origin ? address.pickupNotes : address.deliveryNotes" readonly></textarea>
            </div>
        </div>
        <div class="row-fluid" data-ng-if="$root.isFieldRequired('CAN_ADD_VIEW_INTERNAL_NOTES')">
            <label class="control-label span4 text-right" data-ng-if="origin">Internal Pickup Notes:</label>
            <label class="control-label span4 text-right" data-ng-if="!origin">Internal Delivery Notes:</label>
            <div class="controls span8">
                <textarea class="span12" rows="2" data-ng-bind="origin ? address.internalPickupNotes : address.internalDeliveryNotes" readonly></textarea>
            </div>
        </div>
    </div>
</form>