<div data-ng-if="!shipment.selectedProposition.hideCostDetails || $root.isFieldRequired('CAN_VIEW_HIDDEN_RATES')">
    <div data-ng-if="showCostDetails()" class="well well-small">
        <div class="row-fluid">
            <div class="span12">
                <span class="pull-left">Item</span>
                <span class="pull-right" data-ng-if="showCarrierCost()">Revenue / Cost</span>
                <span class="pull-right" data-ng-if="showCustomerRevenue()">Cost</span>
            </div>
        </div>
        <hr>

        <div class="row-fluid" >
            <div class="span12">
                <span class="pull-left">Base Rate:</span>
                <span class="pull-right"
                      data-ng-if="showCarrierCost()">
                    {{getBaseRate() | plsCurrency}} / {{getCarrierBaseRate() | plsCurrency}}
                </span>
                <span class="pull-right"
                      data-ng-if="showCustomerRevenue()">
                    {{getBaseRate() | plsCurrency}}
                </span>
            </div>
        </div>

        <div class="row-fluid"
             data-ng-if="getSelectedGuaranteed()">
            <div class="span12">
                <span class="pull-left">Guaranteed by {{getSelectedGuaranteedBy() | longTime}}:</span>
                <span class="pull-right"
                      data-ng-if="showCarrierCost()">
                    {{getSelectedGuaranteed().subTotal | plsCurrency}} / {{getCarrierSelectedGuaranteed().subTotal | plsCurrency}}
                </span>
                <span class="pull-right"
                      data-ng-if="showCustomerRevenue()">
                    {{getSelectedGuaranteed().subTotal | plsCurrency}}
                </span>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <span class="pull-left">Fuel Surcharge:</span>
                <span class="pull-right"
                      data-ng-if="showCarrierCost()">
                    {{getFuelSurcharge() | plsCurrency}} / {{getCarrierFuelSurcharge() | plsCurrency}}
                </span>
                <span class="pull-right"
                      data-ng-if="showCustomerRevenue()">
                    {{getFuelSurcharge() | plsCurrency}}
                </span>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="pull-left">
                    Accessorials(Total):&nbsp;
                    <button data-ng-if="showAdditionalAccessorials"
                            data-ng-click="setVisibleAccessorialsDetails()"
                            data-pls-popover="accessorialsDetails"
                            data-placement="top">
                        <i class="icon-info-sign"></i>
                    </button>
                    <div id="accessorialsDetails"
                         data-ng-if="showAdditionalAccessorials"
                         class="container-fluid" >
                        {{visibility ? 'Hide' : 'Show'}} additional accessorial details
                    </div>
                </div>
                <span class="pull-right"
                      data-ng-if="showCarrierCost()">
                    {{getAccessorials() | plsCurrency}} / {{getCarrierAccessorials() | plsCurrency}}
                </span>
                <span class="pull-right" data-ng-if="showCustomerRevenue()">
                    {{getAccessorials() | plsCurrency}}
                </span>
            </div>
        </div>
        <hr>

        <div class="row-fluid">
            <div class="span12">
                <span class="pull-left">Total Cost:</span>

                <span data-ng-if="showCarrierCost()" class="pull-right">
                    {{getTotalCost() | plsCurrency}} / {{getCarrierTotalCost() | plsCurrency}}
                </span>

                <span data-ng-if="showCustomerRevenue()" class="pull-right">
                    {{getTotalCost() | plsCurrency}}
                </span>
            </div>
        </div>

        <div data-ng-if="shipment.billTo.paymentMethod === 'PREPAID_ONLY' && shipment.id && !shipment.guid" class="row-fluid">
            <div data-pls-prepaid-amount data-prepaid-details="shipment.prepaidDetails" data-total-revenue="getTotalCost()" class="span12"></div>
        </div>
    </div>
</div>