<div data-ng-controller="AddEditAddressCtrl">
    <div id="addEditAddressDialog" data-pls-modal="editAddressModel.showEditAddress" data-close="closeEditAddressDialog()"
         class="modalWidth11 modalHeight7 a_address_book_add_edit" data-options="editAddressModel.showEditAddressOptions"
         data-enter-allowed="{{!isAddressInvalid()}}" data-enter="saveEditAddress()">
        <div class="modal-header">
            <h4>{{editAddressModel.label}}</h4>
        </div>
        <div class="modal-body address-modal-body">
            <div class="row-fluid">
                <form name="addEditAddressForm" novalidate class="margin0" data-pls-input-cleaning>
                    <div class="span4">
                        <div class="row-fluid">
                            <label class="control-label text-right span4" for="addressNameInp"><strong>Name:</strong></label>

                            <div class="span8">
                                <input id="addressNameInp" class="span12 a_addressName" type="text"
                                       data-ng-model="editAddressModel.address.addressName"
                                       maxlength="60" required data-ng-class="{'ng-invalid':editAddressModel.addressNameExist}"
                                       data-ng-init="editAddressModel.address.addressName">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label text-right span4" for="addressCodeInp{{$id}}">Code:</label>

                            <div class="span8">
                                <input data-ng-attr-id="addressCodeInp{{$id}}" class="span12 a_locCode" type="text" data-ng-model="editAddressModel.address.addressCode"
                                       placeholder="{{editAddressModel.isEditAddress ? '' : '(optional)'}}"
                                       data-ng-class="{'ng-invalid':editAddressModel.locationCodeExist}"
                                       maxlength="50" data-ng-required="editAddressModel.isEditAddress"
                                       data-ng-init="editAddressModel.address.addressCode">
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-if="!$root.isFieldRequired('REQUIRE_PHONE_NUMBERS_FOR_ORDERS')">
                            <label class="control-label text-right span4" for="contactNameInp">
                                <strong>Contact Name:</strong>
                            </label>

                            <div class="span8">
                                <input data-ng-model="editAddressModel.address.contactName" id="contactNameInp" type="text" maxlength="50"
                                       data-ng-required="editAddressModel.address.type !== 'FREIGHT_BILL'" class="span12 a_contactName">
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-init="editAddressModel.address.country">
                            <label class="control-label text-right span4" for="countryInp"><strong>Country:</strong></label>

                            <div class="span8">
                                <input id="countryInp" class="span12 a_country" data-pls-country-search="editAddressModel.address.country" required
                                       data-country-disabled="editAddressModel.zipCodeReadOnly" maxlength="3">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label text-right span4" for="address1Inp"><strong>Address1:</strong></label>

                            <div class="span8">
                                <input id="address1Inp" class="span12 a_address1" type="text" data-ng-model="editAddressModel.address.address1"
                                       required
                                       maxlength="200" data-ng-init="editAddressModel.address.address1">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label text-right span4" for="address2Inp">Address2:</label>

                            <div class="span8">
                                <input id="address2Inp" class="span12 a_address2" type="text" data-ng-model="editAddressModel.address.address2"
                                       maxlength="200" data-ng-init="editAddressModel.address.address2">
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-if="editAddressModel.zipAutoComplete" data-ng-init="editAddressModel.address.zip">
                            <label class="control-label text-right span4" for="zipInp"><strong>City, ST, ZIP:</strong></label>

                            <div class="span7">
                                <input name="zipInp" id="zipInp" class="span12 a_cityStateZip"
                                       data-pls-zip-search="editAddressModel.address.zip" data-input-label-filter="zip"
                                        data-not-disable-me required data-country="editAddressModel.address.country.id"
                                       data-zip-disabled="!editAddressModel.address.country || editAddressModel.zipCodeReadOnly">
                            </div>
                            <div class="span1">
                                <i data-ng-show="editAddressModel.address.zip.warning" data-pls-popover="warning"
                                     data-placement="top" class="fa fa-exclamation-circle fa-lg color-warning"></i>
                                <div id="warning" style="display:none;">
                                    <div data-ng-include="'pages/content/sales-order/po-box-warning-tooltip.html'">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-if="!editAddressModel.zipAutoComplete">
                            <label class="control-label text-right span4" for="cityInp">
                                <strong>City:</strong>
                            </label>

                            <div class="span8">
                                <input id="cityInp" type="text" class="span12 a_city" data-ng-model="editAddressModel.address.zip.city"
                                       maxlength="30" required
                                       data-ng-disabled="!editAddressModel.address.country || editAddressModel.zipCodeReadOnly"
                                       data-ng-init="editAddressModel.address.zip.city">
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-if="!editAddressModel.zipAutoComplete">
                            <label class="control-label text-right span4" for="zipCodeInp"><strong>ZIP:</strong></label>

                            <div class="span8">
                                <input id="zipCodeInp" type="text" class="span12 a_zip" data-ng-model="editAddressModel.address.zip.zip"
                                       maxlength="10" required
                                       data-ng-disabled="!editAddressModel.address.country || editAddressModel.zipCodeReadOnly"
                                       data-ng-init="editAddressModel.address.zip.zip">
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-if="$root.isFieldRequired('REQUIRE_PHONE_NUMBERS_FOR_ORDERS')">
                            <label class="control-label text-right span4" for="contactNameInp">
                                <strong>Contact Name:</strong>
                            </label>

                            <div class="span8">
                                <input data-ng-model="editAddressModel.address.contactName" id="contactNameInp" type="text" maxlength="50"
                                       data-ng-required="editAddressModel.address.type !== 'FREIGHT_BILL'" class="span12 a_contactName">
                            </div>
                        </div>
                        <div class="row-fluid divHeight30"></div>
                        <div class="row-fluid">
                            <label class="control-label text-right label-middle span4" for="phoneNumberCodeId">Phone:</label>

                            <div class="span8 control">
                                +
                                <span data-ng-bind="editAddressModel.address.phone.countryCode"></span>
                                &nbsp;(
                                <input id="phoneAreaCodeId" class="span2 a_phoneAreaCode" type="text"
                                       data-ng-model="editAddressModel.address.phone.areaCode"
                                       data-ng-required="(editAddressModel.address.phone.number || $root.isFieldRequired('REQUIRE_PHONE_NUMBERS_FOR_ORDERS'))
                                        && editAddressModel.address.type !== 'FREIGHT_BILL'"
                                       data-ng-minlength="1" data-ng-maxlength="3" maxlength="3" data-pls-digits-validation
                                       data-ng-init="editAddressModel.address.phone.areaCode" placeholder="###">
                                )&nbsp;
                                <input id="phoneNumberCodeId" data-pls-digits-validation class="span4 a_phoneNumberCode" type="text"
                                       data-ng-model="editAddressModel.address.phone.number"
                                       placeholder="#######"
                                       data-ng-required="(editAddressModel.address.phone.areaCode || $root.isFieldRequired('REQUIRE_PHONE_NUMBERS_FOR_ORDERS'))
                                       && editAddressModel.address.type !== 'FREIGHT_BILL'"
                                       data-ng-minlength="7" data-ng-maxlength="7" maxlength="7"
                                       data-ng-init="editAddressModel.address.phone.number">
                                &nbsp;Ext.:
                                <input id="phoneExtId" data-pls-digits-validation class="span2" type="text"
                                       data-ng-model="editAddressModel.address.phone.extension"
                                       placeholder="######" data-ng-maxlength="6" maxlength="6"
                                       data-ng-init="editAddressModel.address.phone.extension">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label text-right span4" for="fax">Fax:</label>

                            <div class="span8">
                                +
                                <span data-ng-bind="editAddressModel.address.fax.countryCode"></span>
                                &nbsp;(
                                <input class="span2 a_faxAreaCode" type="text" data-ng-model="editAddressModel.address.fax.areaCode"
                                       data-ng-required="editAddressModel.address.fax.number"
                                       data-ng-minlength="1" data-ng-maxlength="3" maxlength="3" data-pls-digits-validation
                                       data-ng-init="editAddressModel.address.fax.areaCode" placeholder="###">
                                )&nbsp;
                                <input id="fax" class="span4 a_faxNumber" type="text" data-ng-model="editAddressModel.address.fax.number"
                                       data-ng-required="editAddressModel.address.fax.areaCode" placeholder="#######"
                                       required data-ng-minlength="7" data-ng-maxlength="7" maxlength="7" data-pls-digits-validation
                                       data-ng-init="editAddressModel.address.fax.number">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label text-right span4" for="emailInp">Email:</label>

                            <div class="span8">
                                <input id="emailInp" class="span12 a_email" type="email"
                                        data-ng-pattern="/^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[_A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$/"
                                        data-ng-model="editAddressModel.address.email"
                                        maxlength="100" data-ng-init="editAddressModel.address.email">
                            </div>
                        </div>
                    </div>
                    <div class="span8">
	                    <div class="span6">
	                        <div class="row-fluid">
	                            <div class="form-inline" data-ng-show="$root.isFieldRequired('CAN_CREATE_ADDRESSES_WITH_SELF_OPTION')">
	                                <input data-ng-model="editAddressModel.address.sharedAddress" data-ng-checked="editAddressModel.address.sharedAddress"
	                                       data-ng-disabled="!_.isUndefined(editAddressModel.address.createdBy) && editAddressModel.address.createdBy!== authData.personId"
	                                       id="addressSelfPermission" type="checkbox">
	                                <label class="control-label text-left" for="addressSelfPermission">Shared</label>
	                            </div>
	                        </div>
	                        <div class="row-fluid divHeight15"></div>
	                        <hr>
	                        <div class="row-fluid">
	                            <label class="control-label label-middle span5"><strong>Shipping hours of operation:</strong></label>
                                <div class="span7">
                                    <div class="row-fluid">
	                                    <div class="span12" data-ng-init="editAddressModel.address.pickupWindowFrom">
	                                        <label class="control-label span3 label-middle" for="fromPickupTime">From</label>
	                                        <div class="span8">
	                                            <input data-pls-pickup-window="editAddressModel.address.pickupWindowFrom" id="fromPickupTime"
	                                                   data-pls-pickup-window-required="isPickupWindowRequired()" placeholder="HH:MM AM/PM"
	                                                   class="input-mini span12 a_fromTime"/>
	                                        </div>
	                                    </div>
                                    </div>
                                    <div class="row-fluid">
	                                    <div class="span12" data-ng-init="editAddressModel.address.pickupWindowTo">
	                                        <label class="control-label span3 label-middle" for="toPickupTime">To</label>
	                                        <div class="span8">
	                                            <input data-pls-pickup-window="editAddressModel.address.pickupWindowTo" id="toPickupTime"
	                                                   data-pls-pickup-window-required="isPickupWindowRequired()" placeholder="HH:MM AM/PM"
	                                                   class="input-mini span12 a_toTime"/>
	                                        </div>
	                                    </div>
                                    </div>
								</div>
	                            &nbsp;
	                        </div>
	                        <div class="row-fluid">
	                            <label class="control-label span5"><strong>Receiving hours of operation:</strong></label>
                                <div class="span7">
                                    <div class="row-fluid">
	                                    <div class="span12" data-ng-init="editAddressModel.address.deliveryWindowFrom">
	                                        <label class="control-label span3 label-middle" for="fromDeliveryTime">From</label>
	        
	                                        <div class="span8">
	                                            <input data-pls-pickup-window="editAddressModel.address.deliveryWindowFrom" id="fromDeliveryTime"
	                                                   data-pls-pickup-window-required="isDeliveryWindowRequired()" placeholder="HH:MM AM/PM"
	                                                   class="input-mini span12"/>
	                                        </div>
	                                    </div>
                                    </div>
                                    <div class="row-fluid">
		                                <div class="span12" data-ng-init="editAddressModel.address.deliveryWindowTo">
		                                    <label class="control-label span3 label-middle" for="toDeliveryTime">To</label>
		    
		                                    <div class="span8">
		                                        <input id="toDeliveryTime" data-pls-pickup-window="editAddressModel.address.deliveryWindowTo"
		                                               data-pls-pickup-window-required="isDeliveryWindowRequired()" placeholder="HH:MM AM/PM"
		                                               class="input-mini span12"/>
		                                    </div>
		                                </div>
	                                </div>
                                </div>
	                        </div>
	                        <hr>
	                        <div data-ng-if="$root.isPlsPermissions('CAN_SELECT_FRT_BILL_TO')" class="row-fluid">
	                        <div class="row-fluid divHeight15"></div>
	                            <div class="span2">
	                                <label for="addressType" class="control-label">Type:</label>
	                            </div>
	
	                            <div class="span4">
	                                <select data-ng-model="editAddressModel.address.type" id="addressType" name='addressTypeSelect' class="span12">
	                                    <option value="SHIPPING">Shipping</option>
	                                    <option data-ng-if="!editAddressModel.hideTypesSelection" value="FREIGHT_BILL">Freight Bill</option>
	                                    <option value="BOTH">Both</option>
	                                </select>
	                            </div>
	
	                            <div data-ng-show="(editAddressModel.address.type === 'FREIGHT_BILL' || editAddressModel.address.type === 'BOTH') && !editAddressModel.hideTypesSelection"
	                                 class="form-inline offset3 span2 label-middle">
	                                <input data-ng-model="editAddressModel.address.isDefault" data-ng-checked="editAddressModel.address.isDefault"
	                                       id="defaultType" type="checkbox">
	                                <label class="control-label text-left" for="defaultType">Default</label>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="span6">
	                        <div class="row-fluid">
	                            <label class="control-label span4" for="pickupNotesTxt">Pickup Notes:</label>
	
	                            <div class="span8">
	                            <textarea class="span12 a_pickupNotes" id="pickupNotesTxt" data-ng-model="editAddressModel.address.pickupNotes"
	                                      rows="4" maxlength="3000" data-ng-init="editAddressModel.address.pickupNotes"></textarea>
	                            </div>
	                        </div>
	                        <div class="row-fluid">
	                            <label class="control-label span4" for="deliveryNotesTxt">Delivery Notes:</label>
	
	                            <div class="span8">
	                            <textarea class="span12 a_deliveryNotes" id="deliveryNotesTxt" data-ng-model="editAddressModel.address.deliveryNotes"
	                                      rows="4" maxlength="3000" data-ng-init="editAddressModel.address.deliveryNotes"></textarea>
	                            </div>
	                        </div>
	                        <div class="row-fluid" data-ng-if="$root.isFieldRequired('CAN_ADD_VIEW_INTERNAL_NOTES')">
	                            <label class="control-label span4" for="internalPickupNotesTxt">Internal Pickup Notes:</label>
	                            
	                            <div class="span8">
	                            <textarea class="span12" id="internalPickupNotesTxt" data-ng-model="editAddressModel.address.internalPickupNotes"
	                                    rows="4" maxLength="3000" data-ng-init="editAddressModel.address.internalPickupNotes"></textarea>
	                            </div>
	                        </div>
	                        <div class="row-fluid" data-ng-if="$root.isFieldRequired('CAN_ADD_VIEW_INTERNAL_NOTES')">
	                            <label class="control-label span4" for="internalDeliveryNotesTxt">Internal Delivery Notes:</label>
	                            
	                            <div class="span8">
	                            <textarea class="span12" id="internalDeliveryNotesTxt" data-ng-model="editAddressModel.address.internalDeliveryNotes"
	                                    rows="4" maxLength="3000" data-ng-init="editAddressModel.address.internalDeliveryNotes"></textarea>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="row-fluid">
		                    <div class="span12 well well-small margin0" id="notificationDiv">
	                            <h5>Notifications</h5>
	                            <div class="row-fluid">
	                                <div class="span6">
	                                    <span class="control-label">Notify:</span>
	                                </div>
	                                <div class="span3">
	                                    <span class="control-label">Settings:</span>
	                                </div>
	                                <div class="span3">
	                                    <span class="control-label">Origin/Destination:</span>
	                                </div>
	                            </div>
	                
	                            <div class="row-fluid">
	                                <div class="span4">
	                                    <div class="controls" data-ng-form="newEmailForm" data-ng-model="newEmailFormArea" id="newEmailFormArea">
	                                        <input type="email" name="newEmailInp" class="input-block-level" placeholder="Email" maxlength="255"
	                                           data-ng-pattern="/^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[_A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$/"
	                                           data-ng-change="selectEmailAddress(editAddressModel.editedEmail)" data-ng-model="editAddressModel.editedEmail"
	                                           data-ng-paste="selectEmailAddressPaste()">
	                                    </div>
	                                    <div class="controls">
	                                        <select class="input-block-level" size="3" data-pls-onchange="selectEmailAddress" data-not-disable-me>
	                                            <option data-ng-repeat="email in getEmails()" data-not-disable-me
	                                                data-ng-click="selectEmailAddress(email)" data-ng-selected="email == editAddressModel.editedEmail"
	                                                value="{{email}}" label="{{email}}">{{email}}
	                                            </option>
	                                        </select>
	                                    </div>
	                                </div>
	                
	                                <div class="span2">
	                                    <button type="button" class="btn btn-block a_addButton" data-ng-click="addEmailNotifications()"
	                                        data-ng-disabled="newEmailFormArea.$invalid || !editAddressModel.editedEmail || !isNewNotification() || !isAnyNotificationSelected()">
	                                    Add
	                                    </button>
	                                    <button type="button" class="btn btn-block" data-ng-click="openAddressesListDialog()">Select to Notify</button>
	                                    <button type="button" class="btn btn-block a_removeButton" data-ng-disabled="!editAddressModel.editedEmail || isNewNotification()"
	                                        data-ng-click="removeEmailNotifications()">Remove
	                                    </button>
	                                </div>
	                
	                                <div class="span3">
	                                    <div class="form-inline min-width-130" data-ng-repeat="notificationType in notificationTypes">
	                                        <input type="checkbox" data-ng-attr-id="id_address{{notificationType.label.split(' ').join('_') | lowercase}}" style="min-height: 0;"
	                                           data-ng-disabled="!editAddressModel.editedEmail"
	                                           data-ng-model="notificationType.selected" data-ng-change="changeNotificationType(notificationType)">
	                                        <label for="id_address{{notificationType.label.split(' ').join('_') | lowercase}}" class="pls-margin-bottom-0">{{notificationType.label}}
	                                            <i data-ng-if="notificationType.value === 'DETAILS'" class="icon-info-sign"
	                                                data-pls-popover="higherEmailsVolumeOnAddress" data-placement="top"></i>
	                                        </label>
	                
	                                        <div data-ng-if="notificationType.value === 'DETAILS'" class="container-fluid" id="higherEmailsVolumeOnAddress">
	                                            Selecting this notification will generate higher volume of emails
	                                        </div>
	                                    </div>
	                                </div>
	                
	                                <div class="span3">
	                                    <select class="input-block-level" data-ng-model="editAddressModel.editedEmailDirection" 
	                                        data-ng-change="changeDirection(editAddressModel.editedEmail, editAddressModel.editedEmailDirection)">
	                                            <option value="BOTH">Both</option>
	                                            <option value="ORIGIN">Origin</option>
	                                            <option value="DESTINATION">Destination</option>
	                                    </select>
	                                </div>
	                            </div>
	                        </div>
	                    </div>

                    </div>
                </form>
            </div>
        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn a_add_address_cancel" data-ng-click="closeEditAddressDialog()">Cancel</button>
            <button type="button" class="btn btn-primary a_add_address_ok" data-ng-click="saveEditAddress()" data-ng-disabled="isAddressInvalid()">
                OK
            </button>
        </div>
    </div>
    <div data-pls-notification data-parent-dialog="'addEditAddressDialog'" data-dialog-open="pickUpWindowOpen"
         data-title="'Exceed Shipping Hours of Operation'"
         data-message="'Your settings exceed the shipping hours of operation. Contact your account exec first.'"
         data-user-id="authData.personId" data-customer-id="authData.organization.orgId"></div>
    <div data-dialog-id="'addressSelector'" data-pls-customer-notification-list="editAddressModel.selectedCustomerId"
        parent-dialog = "addEditAddressDialog"/>
</div>