<div data-ng-controller="AddressesListCtrl" data-pls-ignore-location-change-check="true">
    <div class="row-fluid">
        <div class="span8">
            <div class="row-fluid form-inline">
                <div>
                    <span class="span1 customer-label">Customer:</span>

                    <div class="control-group span5">
                        <div data-pls-customer-lookup="pageModel.selectedCustomer" data-pls-customer-lookup-required
                             data-show-all-statuses='true'></div>
                    </div>
                    <a class="pull-right" data-ng-hide="pageModel.showWarnings" data-ng-click="pageModel.showWarnings=true">Show Warnings</a>
                    <a class="pull-right" data-ng-show="pageModel.showWarnings" data-ng-click="pageModel.showWarnings=false">Hide Warnings</a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="gridStyle gridHeight5 span12 table a_addressBookGrid" data-ng-grid="addressBookGrid.options"></div>
            </div>
            <div class="row-fluid">
                <div class="span5">
                    <button type="button" class="btn a_addButton" data-ng-disabled="!_.isNumber(pageModel.selectedCustomer.id)"
                            data-ng-show="$root.isFieldRequired('ADD_EDIT_ADDRESS_BOOK_PAGE')" data-ng-click="addAddress()">Add
                    </button>
                    <button type="button" class="btn a_editButton" data-ng-disabled=" _.isEmpty(pageModel.selectedAddressBook)"
                            data-ng-show="$root.isFieldRequired('ADD_EDIT_ADDRESS_BOOK_PAGE')" data-ng-click="editAddress()">Edit
                    </button>
                    <button type="button" class="btn a_deleteButton" data-ng-disabled="_.isEmpty(pageModel.selectedAddressBook)"
                            data-ng-show="$root.isFieldRequired('DELETE_ADDRESS')" data-ng-click="deleteAddress()">Delete
                    </button>
                </div>
                <div class="span7 text-right" data-ng-show="$root.isFieldRequired('IMPORT_ADDRESS')">
                    <a data-ng-href="/restful/customer/{{authData.organization.orgId}}/address/addressImportTemplate"
                       download>Address-Import-Template.xlsx</a>
                    &nbsp;
                    <button type="button" class="btn a_importButton" data-ng-disabled="!_.isNumber(pageModel.selectedCustomer.id)"
                            data-ng-click="importAddresses()">Import
                    </button>
                    <button data-ng-if="$root.isFieldRequired('EXPORT_ADDRESSES')" data-ng-click="exportAddresses()" type="button"
                            data-ng-disabled="!pageModel.selectedCustomer.id" class="btn a_importButton">Export
                    </button>
                </div>
            </div>
        </div>
        <div class="span4">
            <fieldset>
                <legend>Details</legend>
                <div class="row-fluid">
                    <div class="span4">
                        <strong>Name:</strong>
                    </div>
                    <div class="span6 a_addressName text-clipping" style="max-width: 420px"
                         data-ng-bind="pageModel.selectedAddressBook[0].addressName"></div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <strong>Code:</strong>
                    </div>
                    <div class="span6 a_addressCode text-clipping" style="max-width: 420px"
                         data-ng-bind="pageModel.selectedAddressBook[0].addressCode"></div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <strong>Country:</strong>
                    </div>
                    <div class="span6 a_country" data-ng-bind="pageModel.selectedAddressBook[0].zip.country.name"></div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <strong>Address 1:</strong>
                    </div>
                    <div class="span6 a_address text-clipping" style="max-width: 420px"
                         data-ng-bind="pageModel.selectedAddressBook[0].address1"></div>
                </div>
                <div class="row-fluid"
                     data-ng-if="pageModel.selectedAddressBook[0].address2">
                    <div class="span4">
                        <strong>Address 2:</strong>
                    </div>
                    <div class="span6 a_address2 text-clipping" style="max-width: 420px"
                         data-ng-bind="pageModel.selectedAddressBook[0].address2"></div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <strong>City, ST, ZIP:</strong>
                    </div>
                    <div class="span6">
                        {{pageModel.selectedAddressBook[0].zip | zip}}
                        <i data-ng-show="pageModel.showWarnings && pageModel.selectedAddressBook.length && pageModel.selectedAddressBook[0].zip.warning"
                           data-pls-popover="warning" data-placement="top" class="fa fa-exclamation-circle fa-lg color-warning"></i>

                        <div id="warning">
                            <div data-ng-include="'pages/content/address-book/po-box-warning-tooltip.html'"></div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div data-ng-if="mapOptions.mapIsReady">
                        <div class="span12 divHeight100 a_map" data-ui-map="mapOptions.myMap" data-ui-options="mapOptions"
                             data-ui-event="{'map-idle' : 'onMapIdle()', 'map-click' : 'onMapClick()'}"></div>
                        <div data-ng-repeat="marker in mapOptions.mapMarkers" data-ui-map-marker="mapOptions.mapMarkers[$index]"></div>
                    </div>
                </div>
                <br>

                <div class="row-fluid">
                    <div class="span4">
                        <strong>Contact Name:</strong>
                    </div>
                    <div class="span6 a_contactName text-clipping" style="max-width: 420px"
                         data-ng-bind="pageModel.selectedAddressBook[0].contactName"></div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <strong>Phone:</strong>
                    </div>
                    <div class="span6 a_phone" data-ng-bind="pageModel.selectedAddressBook[0].phone | phone"></div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <strong>Fax:</strong>
                    </div>
                    <div class="span6 a_fax" data-ng-bind="pageModel.selectedAddressBook[0].fax | phone"></div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <strong>Email:</strong>
                    </div>
                    <a href="mailto:{{pageModel.selectedAddressBook[0].email}}" onclick="ignoreUnload=true" class="span6 a_email text-clipping"
                       style="max-width: 420px" data-ng-if="pageModel.selectedAddressBook[0] && pageModel.selectedAddressBook[0].email">
                        {{pageModel.selectedAddressBook[0].email}}
                    </a>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <strong>Shipping hours of operation:</strong>
                    </div>
                    <div class="span6 a_pickupWindow" data-ng-bind="pageModel.selectedAddressBook[0] | pickupWindowDiapason"></div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <strong>Receiving hours of operation:</strong>
                    </div>
                    <div class="span6" data-ng-bind="pageModel.selectedAddressBook[0] | deliveryWindowDiapason"></div>
                </div>
				<div class="tabbable tabbable-bordered">
				    <ul class="nav nav-tabs">
				        <li class="active"><a data-toggle="tab" data-ng-click="shouldShowInternalNotes(false)">External Notes</a></li>
				        <li data-ng-if="$root.isFieldRequired('CAN_ADD_VIEW_INTERNAL_NOTES')">
				            <a data-toggle="tab" data-ng-click="shouldShowInternalNotes(true)">Internal Notes</a>
				        </li>
				    </ul>
				    <div class="tab-content">
	                   <div data-ng-if="!showInternalNotes" class="tab-pane fade in active">
	                       <div class="row-fluid">
	                           <div class="span4">
	                               <strong>Pickup Notes:</strong>
	                           </div>
	                           <textarea class="span8"
                                   disabled
                                   data-ng-model="pageModel.selectedAddressBook[0].pickupNotes"
                                   rows="3"></textarea>
	                       </div>
	                       <div class="row-fluid">
	                           <div class="span4">
	                               <strong>Delivery Notes:</strong>
	                           </div>
	                           <textarea class="span8"
                                   disabled
                                   data-ng-model="pageModel.selectedAddressBook[0].deliveryNotes"
                                   rows="3"></textarea>
	                       </div>
	                   </div>
	                   <div data-ng-if="showInternalNotes" class="tab-pane fade in active">
	                       <div class="row-fluid">
	                           <div class="span4">
	                               <strong>Internal Pickup Notes:</strong>
	                           </div>
	                           <textarea class="span8"
                                   disabled
                                   data-ng-model="pageModel.selectedAddressBook[0].internalPickupNotes"
                                   rows="3"></textarea>
	                       </div>
	                       <div class="row-fluid">
	                           <div class="span4">
	                               <strong>Internal Delivery Notes:</strong>
	                           </div>
                               <textarea class="span8"
                                   disabled
                                   data-ng-model="pageModel.selectedAddressBook[0].internalDeliveryNotes"
                                   rows="3"></textarea>
	                       </div>
	                   </div>
	               </div>
				</div>

                <div class="divHeight15"></div>
                <div data-ng-if="$root.isPlsPermissions('CAN_SELECT_FRT_BILL_TO')" class="row-fluid">
                    <div class="span4">
                        <strong>Type:</strong>
                    </div>
                    <div class="span6" data-ng-switch="pageModel.selectedAddressBook[0].type">
                        <span data-ng-switch-when="SHIPPING">Shipping</span>
                        <span data-ng-switch-when="FREIGHT_BILL">Freight Bill</span>
                        <span data-ng-switch-when="BOTH">Both</span>
                    </div>

                    <div data-ng-if="pageModel.selectedAddressBook[0].isDefault" class="span2">
                        <strong>Default:</strong>
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span8">
                        <strong>Notifications:</strong>
                        <select class="input-block-level" size="3" data-pls-onchange="selectEmailAddress" data-not-disable-me>
                            <option data-ng-repeat="email in getEmails()" data-not-disable-me
                                data-ng-click="selectEmailAddress(email)" data-ng-selected="email == selectedEmail"
                                value="{{email}}" label="{{email}}">{{email}} 
                            </option>
                        </select>
                        <strong>Origin/Destination: {{getSelectedNotificationDirection()}}</strong>
                    </div>
                    <div class="span4">
                        <div class="form-inline min-width-130" data-ng-repeat="notificationType in notificationTypes">
                        <input type="checkbox" data-ng-attr-id="id_{{notificationType.label.split(' ').join('_') | lowercase}}" style="min-height: 0;"
                           data-ng-disabled="true" data-ng-model="notificationType.selected">
                        <label for="id_{{notificationType.label.split(' ').join('_') | lowercase}}"
                                class="pls-margin-bottom-0">{{notificationType.label}}
                            <i data-ng-if="notificationType.value === 'DETAILS'" class="icon-info-sign"
                                data-pls-popover="higherEmailsVolumeOnList" data-placement="top"></i>
                        </label>
                        <div data-ng-if="notificationType.value === 'DETAILS'" class="container-fluid" id="higherEmailsVolumeOnList">
                            Selecting this notification will generate higher volume of emails
                        </div>
                    </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="modalWidth11 a_fullMapDialog" data-pls-modal="fullMapDialog.show" data-close="fullMapDialog.close()"
         data-enter="fullMapDialog.close()">
        <div class="modal-header">
            <h4 data-ng-bind="pageModel.selectedAddressBook[0].addressName">Address name</h4>
        </div>
        <div class="modal-body" data-ng-cloak>
            <div class="container-fluid">
                <div class="row-fluid">
                    <form class="form-search">
                        <label class="control-label" for="geocodeString">Google</label> <input id="geocodeString" type="text"
                                                                                               class="input-xxlarge search-query"
                                                                                               data-ng-model="fullMapDialog.mapSearchString">
                        <button type="submit" class="btn" data-ng-click="doMapSearch()">Search</button>
                    </form>
                    <hr/>
                </div>
                <div class="row-fluid">
                    <div class="span3 mapDivHeight right-border-line">
                        <div class="row-fluid cursor-pointer" data-ng-repeat="geocodeResult in geocodeResults"
                             data-ng-click="chooseGeocodeResult(geocodeResult)">
                            <div class="span2">
                                <img data-ng-src="{{getMarkerImageUrl($index, geocodeResult.formatted_address)}}">
                            </div>
                            <div class="span10">
                                <span data-ng-bind="geocodeResult.formatted_address"></span>
                            </div>
                        </div>
                    </div>
                    <div class="span9 mapDivHeight">
                        <div data-ng-if="bigMapOptions.mapIsReady">
                            <div id="map_canvas" class="span12 mapDivHeight" data-ui-map="bigMapOptions.map" data-ui-options="bigMapOptions"
                                 data-ui-event="{'map-idle' : 'onBigMapIdle()'}"></div>
                            <div data-ng-repeat="marker in bigMapOptions.mapMarkers" data-ui-map-marker="bigMapOptions.mapMarkers[$index]"
                                 data-ui-event="{'map-rightclick': 'bigMapMarkerClicked(marker)'}"></div>
                            <div data-ui-map-info-window="bigMapOptions.infoWindow" data-ui-options="{disableAutoPan: true}">
                                <h4 data-ng-bind="bigMapOptions.chosenMarker.title"></h4>
                                <button type="button" class="btn" data-ng-click="confirmSelectedMarker(bigMapOptions.chosenMarker)">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn a_closeButton" data-ng-click="fullMapDialog.close()">Close</button>
        </div>
    </div>

    <div data-ng-include="'pages/content/address-book/add-edit-address.html'"></div>
    <div data-pls-import="importAddressOptions"></div>
</div>