<div id="log-message" data-pls-modal="logDetailsPopup.show"
    data-close="logDetailsPopup.close()"
    class="modalWidth10 modalHeight7">
    <div class="modal-header">
        <h4>Message Log</h4>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="form-inline" data-ng-form="plsLogSearchForm">
                    <div class="span12">
                        <div class="span12 well well-small"
                            data-pls-input-cleaning>
                            <div class="span3">
                                <div class="row-fluid">
                                    <label
                                        class="control-label span4 label-middle"
                                        for="bolNumberInput">BOL:
                                    </label>
                                    <div class="span8">
                                        <label
                                            class="control-label span10 label-middle"
                                            for="bolNumberInput">{{selectedLog[0].bol}}</label>
                                    </div>
                                </div>

                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <label
                                        class="control-label span4 label-middle"
                                        for="shipmentNumInput">Shipment
                                        Number: </label> <label
                                        class="control-label span8 label-middle"
                                        for="shipmentNumInput">{{selectedLog[0].shipmentNumber}}
                                    </label>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <label
                                        class="control-label span4 label-middle"
                                        for="Audit ID">Audit Id:
                                    </label> <label
                                        class="control-label span4 label-middle"
                                        for="carrierIdInput">{{selectedLog[0].auditId}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Received XML: </h3>
                <div class="nav">
                <div><textarea style="width: 950px; height: 150px;" cols="600" rows="5" id="message" class="box" data-ng-model="logDetails.message"></textarea></div>
                </div>
                <br>
                <div class="row-fluid">
                    <div class="span8">
                        <div class="form-inline">
                            <button type="button" class="btn span2" data-ng-click="resubmit()">Resubmit</button>
                            <button type="button" class="btn span2" data-ng-click="logDetailsPopup.close()">Close</button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer"></div>