<div>
   <div class="row-fluid">
         <div class="span8">
            <div class="span3">
                <label class="pls-font-bold" for="costDiff">Cost Difference:</label>
            </div>
            <div class="span2">
                <label data-ng-bind="billToListModel.selectedBillTos[0].billToThresholdSettings.costDifference | plsCurrency"></label>
            </div>
        </div>
    </div>
   <div class="row-fluid">
         <div class="span11">
            <div class="span4">
                <label class="pls-font-bold" for="costDiff">High Revenue:</label>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span11">
            <div class="span2">
                <label for="revenue">Total Revenue:</label>
            </div>
            <div class="span2">
                <label data-ng-bind="billToListModel.selectedBillTos[0].billToThresholdSettings.totalRevenue | plsCurrency"></label>
            </div>
            <div class="span2">
                <label for="revenue">Margin %:</label>
            </div>
            <div class="span2">
                <label data-ng-bind="billToListModel.selectedBillTos[0].billToThresholdSettings.margin"></label>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span5">
            <div class="form-inline nowrap">
                <input type="checkbox" data-ng-model="billToListModel.selectedBillTos[0].auditPrefReq" class="checkbox inline" disabled>
                <span class="checkbox inline">Invoice Audit Required for all loads</span>
            </div>
        </div>
        <div class="span7">
            <div class="form-inline nowrap">
                <input type="checkbox" data-ng-model="billToListModel.selectedBillTos[0].emailAccountExecutive" class="checkbox inline" disabled>
               <span class="checkbox inline">Email Account Executive when shipment is sent to Invoice Audit</span>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="row-fluid">
            <label for="auditInstr" class="control-label">Manual Invoice Audit Notes:</label>
            <textarea class="span12" id="auditInstr" rows="10" disabled
                data-ng-model="billToListModel.selectedBillTos[0].auditInstructions"></textarea>
        </div>
    </div>
</div>
