<div class="row-fluid">
    <div class="span6">
        <div class="row-fluid">
            <strong class="span12">Required Fields:</strong>
        </div>
        <label data-ng-repeat="requiredField in billToListModel.requiredFields">
            <input data-checklist-model="getSelectedBillTo().billToRequiredFields" data-checklist-value="requiredField[0]" type="checkbox" disabled
                   class="checkbox-label-spacing"/>
            <span data-ng-bind="requiredField[1]"></span>
        </label>
    </div>
</div>