<div class="row-fluid">
    <div class="controls-row">
        <label for="brandBranch" class="control-label label-middle span3">Branch / Cost Center:</label>
        <div class="span4">
            <select id="brandBranch" data-ng-model="shipment.finishOrder.opBolNumber"
                    data-ng-options="i.value as i.description for i in getBranch()"
                    data-ng-required="shipment.billTo" data-ng-disabled="!shipment.billTo" class="span12"></select>
        </div>
        <label for="brandGl" class="control-label label-middle span2">GL #:</label>
        <div class="span3">
            <select id="brandGl" data-ng-model="shipment.finishOrder.glNumber"
                    data-ng-options="i.value as i.value for i in getGL()"
                    data-ng-required="shipment.billTo" data-ng-disabled="!shipment.billTo" class="span12"></select>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="controls-row">
        <label for="brandJobCode" class="control-label label-middle span3">Job Code:</label>
        <div class="span4">
            <input id="brandJobCode" type="text" data-ng-model="shipment.finishOrder.jobNumbers[0].jobNumber"
                   data-ng-disabled="!shipment.billTo || !shipment.finishOrder.jobNumbers.length" class="span12" maxlength="30" />
        </div>
        <label for="brandContract" class="control-label label-middle span2 nowrap">Contract #:</label>
        <div class="span3">
            <input id="brandContract" type="text" data-ng-model="shipment.finishOrder.partNumber"
                   data-ng-disabled="!shipment.billTo" class="span12" maxlength="2000" />
        </div>
    </div>
</div>