<hr/>
<div class="row-fluid">
    <div class="span3 controls-row">
        <label for="glCountry" class="control-label label-middle span6">Division:</label>

        <div class="span6">
            <select id="glCountry" data-ng-model="glCodes[0]" data-ng-change="editGl(0)"
                    data-ng-options="value as getCountryDescription(value) for value in glData.CMP_NUM"
                    data-ng-required="required" data-ng-disabled="inputDisabled" class="span12"></select>
        </div>
    </div>

    <div class="span3 controls-row">
        <label for="glBranch" class="control-label label-middle span5">Branch:</label>

        <div class="span6">
            <select id="glBranch" data-ng-model="glCodes[1]" data-ng-change="editGl(1)" data-ng-options="value for value in glData.BRN_NUM"
                    data-ng-required="required" data-ng-disabled="inputDisabled" class="span12"></select>
        </div>
    </div>

    <div class="span3 controls-row">
        <label for="glDiscipline" class="control-label label-middle span6">Discipline:</label>

        <div class="span6">
            <select id="glDiscipline" data-ng-model="glCodes[2]" data-ng-change="editGl(2)" data-ng-options="value for value in glData.SBR_NUM"
                    data-ng-required="required" data-ng-disabled="inputDisabled" class="span12"></select>
        </div>
    </div>

    <div class="span3 controls-row">
        <label for="glDivision" class="control-label label-middle span5">Account:</label>

        <div class="span6">
            <select id="glDivision" data-ng-model="glCodes[3]" data-ng-change="editGl(3)" data-ng-options="value for value in glData.DIV_NUM"
                    data-ng-required="required" data-ng-disabled="inputDisabled" class="span12"></select>
        </div>
    </div>
</div>
<hr/>