<div data-ng-class="{warning: isModelValueFormatWarn || isModelValueWarn || isModelFormatWarn, error: isModelFormatError}"
     class="control-group pls-margin-bottom-0">
    <label for="{{plsIdentifier}}" class="control-label label-middle span3">
        <span data-ng-bind="plsIdentifierDetails.label"></span>:
    </label>

    <div data-ng-class="{'input-append span12 pls-input-append': isModelInvalid}" class="span9">
        <textarea data-ng-attr-id="{{plsIdentifier}}" data-ng-model="inputModel" data-ng-disabled="!shipment.billTo || disabledIdentifier"
                  maxlength="{{getMaxFieldLength()}}" data-ng-required="required" rows="3" class="controls span12"></textarea>

        <i data-ng-if="isModelInvalid" data-pls-popover data-placement="top" class="fa fa-exclamation-circle add-on add-on-lg pls-warn-icon">
            <span data-ng-if="isModelValueWarn || isModelValueError">
                Incorrect value of {{plsIdentifierDetails.label}}. It should be filled with "{{defaultValueBackup}}"
            </span>

            <span data-ng-if="isModelFormatWarn || isModelFormatError">
                Incorrect format of {{plsIdentifierDetails.label}}. It should Start with "{{startWith}}", End with "{{endWith}}"
            </span>

            <span  data-ng-if="isModelValueFormatWarn">
                Incorrect format of {{plsIdentifierDetails.label}}. It should Start with "{{startWith}}", End with "{{endWith}}" or be filled with"{{defaultValueBackup}}"
            </span>
        </i>
    </div>
</div>