<hr/>
<div class="row-fluid">
    <div class="controls-row">
        <label for="glFrtBill" class="control-label label-middle span3">Freight Charge To Branch:</label>

        <div class="span3">
            <select id="glFrtBill" data-ng-model="glCodes[0]" data-ng-change="editGl(0)"
                    data-ng-options="val.value as val.description for val in glData.FRT_BILL"
                    data-ng-required="required" data-ng-disabled="inputDisabled" class="span12"></select>
        </div>
        <label for="glFrtType" class="control-label label-middle span3">Freight ChargeType:</label>
        <div class="span3">
            <select id="glFrtType" data-ng-model="glCodes[1]" data-ng-change="editGl(1)" data-ng-options="val.value as val.description for val in glData.FRT_TYPE"
                    data-ng-required="required" data-ng-disabled="inputDisabled" class="span12"></select>
        </div>
    </div>
</div>
<hr/>