<div class="row-fluid">
    <div class="control-group span2">
        <a class="btn btn-primary" href="#/pricing/customer/{{route.current.params.customerId}}">Back to Customer Profile</a>
    </div>
</div>
<div class="row-fluid" data-pls-ignore-location-change-check="true">
    <div class="well">
        <div class="row-fluid" data-ng-controller="BlockLaneDtlCtrl">
            <!--FIRST COLUMN -->
            <div class="span4 green-block">
                <div class="span12">
                    <div class="row-fluid span12 control-group">
                        <div class="span4"><label><b>Block Lane</b></label></div>
                        <div class="span8">
                            <div class="span6" data-ng-bind="blockLane.lastModUser"></div>
                            <div class="span6" data-ng-bind="blockLane.lastModDate | date:appDateTimeFormat"></div>
                        </div>
                    </div>
                    <div class="row-fluid span12 control-group">
                        <div class="span4">
                            <label for="carrierProfiles">Blanket Carrier:</label>
                        </div>
                        <div class="span8">
                            <select id="carrierProfiles" data-ng-model="selectedCarrProfile" required
                                    data-ng-options="carrProfiles.name for carrProfiles in blanketCarrProfiles">
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid control-group span12">
                        <div class="span4">
                            <label for="origin">Origin (City/State/Zip/Country):</label>
                        </div>
                        <div class="span8">
                            <textarea id="origin" rows="5" class="input-block-level"
                                data-ng-model="blockLane.origin" required>
                            </textarea>
                        </div>
                     </div>
                     <div class="row-fluid control-group span12">
                        <div class="span4">
                            <label for="destination">Destination (City/State/Zip/Country):</label>
                        </div>
                        <div class="span8">
                            <textarea id="destination" rows="5" class="input-block-level"
                                data-ng-model="blockLane.destination" required>
                            </textarea>
                        </div>
                    </div>
                    <div class="row-fluid control-group span12">
                        <div class="span4">
                            <label for="inputEffectiveDate">Effective:</label>
                        </div>
                        <div class="span6 input-append">
                            <input name="dateField" type="text" id="inputEffectiveDate" required
                                class="input-small" data-ng-model="blockLane.effDate"
                                data-date-format="mm/dd/yy" data-pls-datepicker data-min-date="minEffectiveDate"
                                data-ng-change="setMinExpiryDate()"/>
                            <button type="button" class="btn" data-toggle="datepicker">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row-fluid control-group span12">
                        <div class="span4">
                            <label for="inputExpiredDate">Expires:</label>
                        </div>
                        <div class="span6 input-append">
                            <input name="dateField" type="text" id="inputExpiredDate" class="input-small"
                                data-ng-model="blockLane.expDate" data-date-format="mm/dd/yy"
                                data-pls-datepicker data-min-date="minExpiryDate"/>
                            <button type="button" class="btn" data-toggle="datepicker">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row-fluid control-group span12">
                        <div class="span4">
                            <label for="notes">Notes:</label>
                        </div>
                        <div class="span8">
                            <textarea id="notes" class="input-block-level" rows="5" data-ng-model="blockLane.notes"></textarea>
                        </div>
                    </div>
                    <div class="row-fluid control-group span12">
                        <div class="span5">&nbsp;</div>
                            <button type="button" class="btn btn-block span2" data-ng-click="clear()">Clear</button>
                            <button class="btn btn-primary span3" type="button" data-ng-click="saveAsNew()"
                                data-ng-disabled="!isEditCarrierZip || formArea.$invalid || selectedCarrProfile.invalid===true">Save as New</button>
                            <button type="button" class="btn btn-primary span2" data-ng-click="setZips()"
                                data-ng-disabled="formArea.$invalid">Save</button>
                    </div>
                </div>
            </div>
            <!-- END OF FIRST COLUMN -->
    
            <!--SECCOND COLUMN -->
            <div class="span8">
                <!--TABS -->
                <div class="tabbable tabbable-bordered span12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab"
                            data-ng-click="loadBlockLane('Active')">Active</a></li>
                        <li><a data-toggle="tab"
                            data-ng-click="loadBlockLane('Expired')">Expired</a></li>
                        <li><a data-toggle="tab"
                            data-ng-click="loadBlockLane('Archived')">Archived</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="span10">
                                <div
                                    class="gridStyle gridHeight3 span12"
                                    data-ng-grid="gridOptions" data-ng-dblclick="edit()"></div>
                            </div>
                            <div class="span2">
                                <div class="row-fluid" data-ng-hide="currentTabName == 'Archived'">
                                    <button class="btn btn-block"
                                        type="button"
                                        data-ng-click="edit()"
                                        data-ng-disabled="selectedItems.length != 1">Edit</button>
                                </div>
                                <br>
                                <div class="row-fluid" data-ng-show="currentTabName == 'Active'">
                                    <button class="btn btn-block"
                                        type="button"
                                        data-ng-click="expire()"
                                        data-ng-disabled="selectedItems.length != 1">Expire</button>
                                </div>
                                <br>
                                <div class="row-fluid" data-ng-hide="currentTabName == 'Archived'">
                                    <button class="btn btn-block"
                                        type="button"
                                        data-ng-click="currentTabName == 'Active'?inactivate(true):inactivate(false)"
                                        data-ng-disabled="selectedItems.length != 1">Archive</button>
                                </div>
                                <div class="row-fluid" data-ng-show="currentTabName == 'Archived'">
                                    <button class="btn btn-block"
                                        type="button"
                                        data-ng-click="reactivate()"
                                        data-ng-disabled="selectedItems.length != 1">Reactivate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END TABS -->
            </div>
            <!--END SECCOND COLUMN -->
        </div>
    </div>
</div>
