<div data-ng-controller="CustomerP44ConfigController">
    <form id="customerP44ConfigForm" name="customerP44ConfigForm">
        <div class="row-fluid">
            <button class="btn btn-primary" type="button" data-ng-click="backToCustomerScreen()">Back to Customer Search</button>
        </div>
        <br>
        <div class="row-fluid well well-small">
            <div class="form-horizontal">
                <div class="span3">
                    <label class="text-center"> <b> {{custP44Config.customerName}}</b> - P44 Account configuration</label>
                    <div class="row-fluid">
                        <div class="span12">&nbsp;</div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputP44AccountGroup">P44 Account Group:</label>
                        <div class="controls" >
                        <select id="inputP44AccountGroup" class="span12"
                            data-ng-model="custP44Config.accountGroupCode"
                            data-ng-options="accGroup.accountGroupCode as accGroup.accountGroupName for accGroup in availableAccountGroups" 
                            ng-change="accountGroupChanged()"
                            required></select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="offset3">
                            <b>Account assignments</b>
                            <div class="span12">&nbsp;</div>
                        </div>
                    </div>
                    
                    <!-- for each scac in group, list available accounts -->
                    
                    <div class="control-group" data-ng-repeat="scacToAccounts in selectedAccountGroupAccounts">
                        <label class="control-label" for="inputP44Account_{{scacToAccounts.scac}}">{{scacToAccounts.scac}}:</label>
                        <div class="controls" >
                        <select id="inputP44Account_{{scacToAccounts.scac}}" class="span12"
                            data-ng-model="custP44Config.accounts[$index]"
                            data-ng-options="acc.accountCode for acc in scacToAccounts.accounts" 
                            required></select>
                        </div>
                    </div>
                    <!--  -->
                    
  
                    </div>
                </div>
            </div>
    </form>
    
    <div class="control-group span12">
        <div class="span10"> &nbsp; </div>
        <div class="span2">
            <button class="btn" type="button" data-ng-click="backToCustomerScreen()">Cancel</button> &nbsp;
            <button class="btn btn-primary" type="button" ng-disabled="customerP44ConfigForm.$invalid" data-ng-click="submit()">Save</button>
        </div>
    </div>
</div>