<div data-ng-controller="CustomerPricingController">
    <form id="customerPricingForm" name="customerPricingForm">
        <div class="row-fluid">
            <button class="btn btn-primary" type="button" data-ng-click="backToCustomerScreen()">Back to Customer Search</button>
        </div>
        <br>
        <div class="row-fluid well well-small">
            <div class="form-horizontal">
                <div class="span3">
                    <label class="text-center"> <b> {{custPricing.customerName}} </b></label>
                    <div class="row-fluid">
                        <div class="span12">&nbsp;</div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputActivatePricing">Activate Pricing:</label>
                        <div class="controls" >
                            <input type="checkbox" id="inputActivatePricing"
                            data-ng-model="custPricing.orgPricing.activateCustPricing"
                            data-ng-disabled='{{updateDfltMrgnAndCarrBlockAllowed}}'/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputMarginTolerance">Margin Tolerance %:</label>
                        <div class="controls" >
                            <input id="inputMarginTolerance" name="inputMarginTolerance" class="span8"
                             type="text"  data-ng-model="custPricing.orgPricing.minAcceptMargin" data-pls-number
                             data-fractional="2"
                             data-ng-disabled='{{updateDfltMrgnAndCarrBlockAllowed}} || shouldDisableMarginFieds()'/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputGainshareAcct">Gainshare Account?</label>
                        <div class="controls" >
                            <input type="checkbox" id="inputGainshareAcct"
                             data-ng-model="custPricing.orgPricing.gainshareAccount"
                             data-ng-change="toggleColumns()"
                             data-ng-disabled='{{updateDfltMrgnAndCarrBlockAllowed}}'/>
                        </div>
                    </div>
                    <div class="control-group" data-ng-if="custPricing.orgPricing.gainshareAccount">
                        &nbsp; &nbsp;
                        PLS % : <input id="inputGSPlsPct" class="span2" type="text"
                                data-ng-model="custPricing.orgPricing.gsPlsPct" 
                                data-ng-disabled='{{updateDfltMrgnAndCarrBlockAllowed}}'/> &nbsp; &nbsp;
                        Customer % : <input id="inputGSCustPct" class="span2" type="text"
                                     data-ng-model="custPricing.orgPricing.gsCustPct"
                                     data-ng-disabled='{{updateDfltMrgnAndCarrBlockAllowed}}'/>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputIncludeBMAcc">Include Benchmark Accessorials:</label>
                        <div class="controls" >
                            <input type="checkbox" id="inputIncludeBMAcc"
                             data-ng-model="custPricing.orgPricing.includeBenchmarkAccessorial"
                             data-ng-disabled='{{updateDfltMrgnAndCarrBlockAllowed}}'/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="blkIndirectSrcTyp">Block Indirect Service Type:</label>
                        <div class="controls" >
                            <input type="checkbox" id="blkIndirectSrcTyp"
                             data-ng-model="custPricing.orgPricing.blkIndirectSrcTyp"
                             data-ng-disabled='{{updateDfltMrgnAndCarrBlockAllowed}}'/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputDefaultMargin">Default Margin %:</label>
                        <div class="controls" >
                            <input id="inputDefaultMargin" name="inputDefaultMargin" class="span8" type="text"
                             data-ng-model="custPricing.orgPricing.defaultMargin" data-pls-number data-fractional="2"
                             data-ng-disabled="!$root.isFieldRequired('UPDATE_DEFAULT_MARGIN') && !$root.isFieldRequired('PRICING_PAGE_VIEW') ||
                                            shouldDisableMarginFieds()"/>
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" for="inputDefaultMarginMinAmt">Default Margin Min $:</label>
                        <div class="controls" >
                            <input id="inputDefaultMarginMinAmt" name="inputDefaultMarginMinAmt" class="span8"
                             type="text"  data-ng-model="custPricing.orgPricing.defaultMinMarginAmt" data-pls-number
                             data-integral="5" data-fractional="2" required
                             data-ng-disabled="!$root.isFieldRequired('UPDATE_DEFAULT_MARGIN') && !$root.isFieldRequired('PRICING_PAGE_VIEW') ||
                                                shouldDisableMarginFieds()"/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6" >
                            <button class="btn btn-block" type="button" data-ng-click="setCustomerMargin()"
                             data-ng-disabled="customerPricingForm.inputDefaultMargin.$invalid ||
                                               customerPricingForm.inputMarginTolerance.$invalid ||
                                               updateDfltMrgnAndCarrBlockAllowed">Set Margin</button>
                        </div>
                        <div class="span6">
                            <button class="btn btn-block" type="button" data-ng-click="blockLane()"
                                    data-ng-disabled="!$root.isFieldRequired('UPDATE_BLOCK_LANE') &&
                                                      !$root.isFieldRequired('PRICING_PAGE_VIEW')">
                                        Block Lane
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECOND COLUMN -->
            <div class="span9 green-block">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="offset3">
                            <b>Benchmark</b>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="tabbable tabbable-bordered span12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="" data-toggle="tab"
                                    data-ng-click="loadBMProfilesByCriteria('ACTIVE')">Active</a></li>
                                <li><a href="" data-toggle="tab"
                                    data-ng-click="loadBMProfilesByCriteria('INACTIVE')">Archived</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div
                                        data-ng-include="'pages/content/pricing/customer/benchmark-details-data.html'">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END SECOND COLUMN -->
        </div>
    </form>
    <div class="row-fluid">
        <div class="span12">
            <label> <b> Carrier Profiles </b> </label>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="gridStyle span12 gridHeight4" data-ng-grid="custPricingProfilesGrid"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">&nbsp;</div>
    </div>
    <div class="control-group span12">
        <div class="span10"> &nbsp; </div>
        <div class="span2">
            <button class="btn" type="button" data-ng-click="backToCustomerScreen()">Cancel</button> &nbsp;
            <button class="btn btn-primary" type="button" data-ng-click="submit()" 
                data-ng-disabled="customerPricingForm.inputDefaultMargin.$invalid || 
                                  customerPricingForm.inputMarginTolerance.$invalid || 
                                  customerPricingForm.inputDefaultMarginMinAmt.$invalid ||
                                  !($root.isFieldRequired('PRICING_PAGE_VIEW') ||
                                  $root.isFieldRequired('UPDATE_DEFAULT_MARGIN') ||
                                  $root.isFieldRequired('UPDATE_CARRIER_BLOCK'))">
                                    Save
            </button>
        </div>
    </div>
</div>