<form name="editBillToForm" novalidate class="margin0">
    <div id="editBillToDialog" data-pls-modal="showEditBillToDialog" data-close="closeBillToDialog()"
         class="billToModalSize" data-enter-allowed="{{editBillToForm.$valid}}" data-enter="saveBillTo()">
        <div class="modal-header">
            <h4>Edit Bill To</h4>
        </div>
        <div class="modal-body" data-ng-if="showEditBillToDialog">
            <p class="form-inline">
                <label class="input-mini" for="addressNameInp"><strong>Name:</strong></label>
                <input id="addressNameInp" type="text" class="input-xlarge" data-ng-model="billToModel.billTo.address.addressName" required maxlength="50">
            </p>
            <div class="row-fluid">
                <div class="tabbable tabbable-bordered">
                    <ul class="nav nav-tabs">
                        <li data-ng-class="{active:billToModel.selectedTab=='address'}">
                            <a data-ng-click="billToModel.selectedTab = 'address'">Bill To Address</a>
                        </li>
                        <li data-ng-class="{active:billToModel.selectedTab=='invoicePreferences'}">
                            <a data-ng-click="billToModel.selectedTab = 'invoicePreferences'">Invoice Preferences</a>
                        </li>
                        <li data-ng-class="{active:billToModel.selectedTab=='ediSettings'}">
                            <a data-ng-click="billToModel.selectedTab = 'ediSettings'">EDI Settings</a>
                        </li>
                        <li data-ng-class="{active:billToModel.selectedTab=='reqFields'}">
                            <a data-ng-click="billToModel.selectedTab = 'reqFields'">Req. Fields</a>
                        </li>
                        <li data-ng-class="{active:billToModel.selectedTab=='defaultValues'}">
                            <a data-ng-click="billToModel.selectedTab = 'defaultValues'">Default Values</a>
                        </li>
                        <li data-ng-class="{active:billToModel.selectedTab=='reqDocs'}">
                            <a data-ng-click="billToModel.selectedTab = 'reqDocs'">Req. Docs</a>
                        </li>
                        <li data-ng-class="{active:billToModel.selectedTab=='auditPreferences'}">
                            <a data-ng-click="billToModel.selectedTab = 'auditPreferences'">Auditing Preferences</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div data-ng-show="billToModel.selectedTab=='address'" data-ng-include="'pages/content/customer/billTo/edit/billto-edit-address.html'"></div>
                            <div data-ng-show="billToModel.selectedTab=='invoicePreferences'" data-ng-include="'pages/content/customer/billTo/edit/billto-edit-invoice-preferences.html'"></div>
                            <div data-ng-show="billToModel.selectedTab=='ediSettings'" data-ng-include="'pages/content/customer/billTo/edit/billto-edit-edi-settings.html'"></div>

                            <div data-ng-show="billToModel.selectedTab=='reqFields'">
                                <div data-pls-bill-to-req-fields data-bill-to="billToModel.billTo" data-customer-id="editCustomerModel.customerId"
                                     data-parent-dialog-id="editBillToDialog"></div>
                            </div>

                            <div data-ng-show="billToModel.selectedTab=='defaultValues'" data-pls-bill-to-default-values data-bill-to="billToModel.billTo"></div>
                            <div data-ng-show="billToModel.selectedTab=='reqDocs'" data-ng-include="'pages/content/customer/billTo/edit/billto-edit-req-docs.html'"></div>
                            <div data-ng-show="billToModel.selectedTab=='auditPreferences'" data-ng-include="'pages/content/customer/billTo/edit/billto-edit-audit-preferences.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn a_cancelButton" data-ng-click="closeBillToDialog()">Cancel</button>
            <button type="button" class="btn btn-primary" data-ng-click="saveBillTo()" data-ng-disabled="editBillToForm.$invalid">
                OK
            </button>
        </div>
    </div>
</form>