<div data-ng-controller="ScacCodesCtrl" data-ng-init="loadScacCodes()">
    <div class="row-fluid">
        <div class="span2">
	        <form id="scacSearchForm" name="scacSearchForm" action="" novalidate>
	            <div class="row-fluid">
	                <div class="span3">
	                    <label for="scacCode"><b>SCAC:</b></label>
	                </div>
	                <div class="span9">
	                    <input id="scacCode" name="scacCode" type="text" data-ng-model="carrierInfoSearchCriteria.scacCode" class="span12">
	                </div>
	            </div>
	            <div class="row-fluid">
	                <div class="span3">
	                    <label for="carrier"><b>Carrier:</b></label>
	                </div>
	                <div class="span9">
	                    <input id="carrier" name="carrier" type="text" data-ng-model="carrierInfoSearchCriteria.carrier" class="span12">
	                </div>
	            </div>
	            <div class="row-fluid">
	                <div class="span3"><label><b>Status:</b></label></div>
	                <div class="span9">
	                    <select class="span12" data-ng-model="carrierInfoSearchCriteria.status">
	                        <option value="A">Active</option>
	                        <option value="I">Inactive</option>
	                        <option value="H">Hold</option>
	                        <option value="R">Rejected</option>
	                        <option value="P">Pending</option>
	                        <option value="E">Expired</option>
	                    </select>
	                </div>
	            </div>
	            <div class="row-fluid">
	                <button type="button" class="btn span12" data-ng-disabled="carrierInfoSearchCriteria.incomplete"
	                        data-ng-click="searchCarriersByCriteria();">Search
	                </button>
	            </div>
	        </form>
        </div>

        <div class="span4">
            <div id="scacCodesGrid" class="gridStyle gridHeight4 span12" data-ng-grid="gridOptions"></div>
        </div>

        <div class="span6">
            <div class="tabbable tabbable-border">
                <ul class="nav nav-tabs">
                       <li class="active"><a data-toggle="tab" data-ng-click="shouldShowDetails=true">Carrier Details</a></li>
                       <li>
                           <a data-toggle="tab" data-ng-click="shouldShowDetails=false; loadAccessorialMappingForCarrier()">LTL API Rate</a>
                       </li>
                </ul>
                   <div class="tab-content">
                        <div data-ng-if="shouldShowDetails" class="tab-pane fade in active">
                           <div class="row-fluid" data-ng-if="selectedItems[0]">
                               <div  class="span2">
                                   <div class="row-fluid">
                                       <div id="logo" class="logo logo-small">
                                           <img data-ng-src="{{carrierLogoUrl}}" data-ng-show="carrierLogoUrl" src=""/>
                                       </div>
                                   </div>
                                   <br/>
                                   <div class="row-fluid">
                                       <button class="btn btn-block" type="button" data-ng-disabled="disabledPanel"
                                       data-toggle="modal" data-target="#scacCodesLogoUpdateDialog">Browse...</button>
                                   </div>
                               </div>
                               <div class="span10" data-ng-show="showOrgServices">
                                   <div class="row-fluid">
                                       <form name="orgServicesForm">
                                           <div class="control-group form-horizontal">
                                               <label class="control-label"><b>Tracking (214)</b></label>
                                               <div class="controls controls-row">
                                                   <label class="radio inline">
                                                       <input data-ng-disabled="disabledPanel" type="radio" name="tracking" id="trackingApi" value="API" data-ng-model="carrier.orgService.tracking"/>API
                                                   </label>

                                                   <a data-ng-click="editApiDetails('TRACKING')">
                                                       <i class="icon-edit"></i>
                                                   </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                   <label class="radio inline">
                                                       <input data-ng-disabled="disabledPanel" type="radio" name="tracking" id="trackingEdi" value="EDI" data-ng-model="carrier.orgService.tracking"/>EDI
                                                   </label>

                                                   <a data-ng-click="editEdiDetails('TRACKING')">
                                                       <i class="icon-edit"></i>
                                                   </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                               </div>

                                               <label class="control-label"><b>Pickup (204)</b></label>

                                               <div class="controls controls-row">
                                                   <label class="radio inline">
                                                       <input data-ng-disabled="disabledPanel" type="radio" name="pickup" id="pickupApi" value="API" data-ng-model="carrier.orgService.pickup"/>API
                                                   </label>

                                                   <a data-ng-click="editApiDetails('PICKUP')">
                                                       <i class="icon-edit"></i>
                                                   </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                   <label class="radio inline">
                                                       <input data-ng-disabled="disabledPanel" type="radio" name="pickup" id="pickupEdi" value="EDI" data-ng-model="carrier.orgService.pickup"/>EDI
                                                   </label>

                                                   <a data-ng-click="editEdiDetails('PICKUP')">
                                                       <i class="icon-edit"></i>
                                                   </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                   <label class="radio inline">
                                                       <input data-ng-disabled="disabledPanel" type="radio" name="pickup" id="pickupManual" value="MANUAL" data-ng-model="carrier.orgService.pickup"/>Manual
                                                   </label>

                                                   <a data-ng-click="editManualDetails('PICKUP')">
                                                       <i class="icon-edit"></i>
                                                   </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                               </div>

                                               <label class="control-label"><b>Vendor Bill (210)</b></label>

                                               <div class="controls controls-row">
                                                   <label class="radio inline">
                                                       <input data-ng-disabled="disabledPanel" type="radio" name="invoice" id="invoiceApi" value="API" data-ng-model="carrier.orgService.invoice"/>API
                                                   </label>

                                                   <a data-ng-click="editApiDetails('INVOICE')">
                                                       <i class="icon-edit"></i>
                                                   </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                   <label class="radio inline">
                                                       <input data-ng-disabled="disabledPanel" type="radio" name="invoice" id="invoiceEdi" value="EDI" data-ng-model="carrier.orgService.invoice"/>EDI
                                                   </label>

                                                   <a data-ng-click="editEdiDetails('INVOICE')">
                                                       <i class="icon-edit"></i>
                                                   </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                               </div>

                                               <label class="control-label"><b>Imaging (Document)</b></label>

                                               <div class="controls controls-row">
                                                   <label class="radio inline">
                                                       <input data-ng-disabled="disabledPanel" type="radio" name="imaging" id="imagingApi" value="API" data-ng-model="carrier.orgService.imaging"/>API
                                                   </label>
                                                   <a data-ng-click="editApiDetails('IMAGING')">
                                                       <i class="icon-edit"></i>
                                                   </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                   <label class="radio inline">
                                                       <input data-ng-disabled="disabledPanel" type="radio" name="imaging" id="imagingEdi" value="EDI" data-ng-model="carrier.orgService.imaging"/>EDI
                                                   </label>
                                                   <a data-ng-click="editEdiDetails('IMAGING')">
                                                       <i class="icon-edit"></i>
                                                   </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                               </div>
                                           </div>

                                           <div class="row-fluid">
                                               <div class="row-fluid">
                                                   <label class="span12">
                                                       <input type="checkbox" data-ng-model="carrier.paperwork.dontRequestPaperwork"/>&nbsp<b>Don't request paperwork</b>
                                                   </label>
                                               </div>
                                               <div class="row-fluid">
                                                   <div class="span4">
                                                       <label><b>Paperwork Email:</b></label>
                                                   </div>
                                                   <div class="span8">
                                                       <input type="text" class="span10" maxlength="150" data-ng-model="carrier.paperwork.email"
                                                       data-ng-pattern="/^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[_A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$/"
                                                       data-ng-required="!carrier.paperwork.dontRequestPaperwork">
                                                   </div>
                                               </div>
                                               <div class="row-fluid">
                                                   <div class="span4">
                                                       <label><b>Actual SCAC code:</b></label>
                                                   </div>
                                                   <div class="span8">
                                                       <input type="text" class="span10" maxlength="4" readonly data-ng-model="carrier.actualScac"
                                                       data-ng-pattern="/^[A-Z0-9]{4}$/">
                                                   </div>
                                               </div>
                                           </div>
                                       </form>
                                   </div>

                                   <div class="row-fluid">
                                       <div class="row-fluid">
                                           <label class="control-label"><b>Reject EDI 210 For Customer:</b></label>
                                       </div>
                                       <div class="row-fluid">
                                           <div id="rejectedEdiCustomersGrid" data-ng-grid="rejectedEdiGrid" class="pls-grid-responsive gridStyle gridHeight span8"></div>
                                           <div class="span2">
                                               <button data-ng-disabled="disabledPanel" data-ng-click="editRejectedCustomersList()" type="button" class="btn btn-block">Edit List</button>
                                           </div>
                                       </div>
                                   </div>
                                   <br/>

                                   <div data-pls-assigned-customers-dialog data-assigned-customers="carrier.rejectedCustomers" data-model-id="carrier.id"></div>

                                   <div class="row-fluid">
                                       <div class="offset7 span2">
                                           <button data-ng-click="saveOrgServices()" data-ng-disabled="orgServicesForm.$invalid || manualEmailNeeded()" type="button"
                                                   class="btn btn-block">Save
                                           </button>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="row-fluid">
                               <div class="span12" data-ng-show="showEdiPanel">
                                   <form class="form-horizontal" name="ediDetailForm">
                                       <br/>
                                       <div class="control-group">
                                           <label class="control-label" for="ediUrl">FTP URL:</label>
                                           <div class="controls">
                                               <input data-ng-disabled="disabledPanel" type="url" name="ediUrl" id="ediUrl" data-ng-model="editEdiUrl" required/>
                                           </div>
                                       </div>
                                       <div class="control-group">
                                           <label class="control-label" for="ediUsername">Username:</label>
                                           <div class="controls">
                                               <input data-ng-disabled="disabledPanel" type="text" id="ediUsername" name="ediUsername" data-ng-model="editEdiLogin"/>
                                           </div>
                                       </div>
                                       <div class="control-group">
                                           <label class="control-label" for="ediPassword">Password:</label>
                                           <div class="controls">
                                               <input data-ng-disabled="disabledPanel" type="password" id="ediPassword" name="ediPassword" data-ng-model="editEdiPassword"/>
                                           </div>
                                       </div>
                                       <div class="offset6 span2">
                                           <button data-ng-disabled="disabledPanel" class="btn btn-block" type="button" data-ng-click="saveEdiDetails()" data-ng-disabled="ediDetailForm.$invalid">Save
                                           </button>
                                       </div>
                                   </form>
                               </div>
                               <form class="form-horizontal" name="apiDetailForm">
                                   <div class="span6" data-ng-show="showApiPanel">
                                       <br/>
                                       <div class="control-group">
                                           <label class="control-label" for="apiName">API Name:</label>
                                           <div class="controls">
                                               <input data-ng-disabled="disabledPanel" type="text" id="apiName" name="apiName" data-ng-model="apiType.apiDescription" required/>
                                           </div>
                                       </div>
                                       <div class="control-group">
                                           <label class="control-label" for="apiUrl">URL:</label>
                                           <div class="controls">
                                               <input data-ng-disabled="disabledPanel" type="url" name="apiUrl" id="apiUrl" data-ng-model="apiType.url" required/>
                                           </div>
                                       </div>
                                       <div class="control-group">
                                           <label class="control-label" for="apiUsername">Username:</label>
                                           <div class="controls">
                                               <input data-ng-disabled="disabledPanel" type="text" id="apiUsername" name="apiUsername" data-ng-model="apiType.username"/>
                                           </div>
                                       </div>
                                       <div class="control-group">
                                           <label class="control-label" for="apiPassword">Password:</label>
                                           <div class="controls">
                                               <input data-ng-disabled="disabledPanel" type="password" id="apiPassword" name="apiPassword" data-ng-model="apiType.password"/>
                                           </div>
                                       </div>
                                       <div class="offset6 span2">
                                           <button data-ng-disabled="disabledPanel" class="btn btn-block" type="button" data-ng-click="saveApiDetails()" data-ng-disabled="apiDetailForm.$invalid">Save
                                           </button>
                                       </div>
                                   </div>
                                   <div class="span6" data-ng-if="showManualPanel">
                                       <br/>
                                       <div class="control-group">
                                           <label class="control-label" for="emailInput">Email:</label>
                                           <div class="controls">
                                           <textarea data-ng-disabled="disabledPanel" id="emailInput" data-ng-model="carrier.orgService.manualTypeEmail" required="required" rows="4" maxlength="225"
                                                     data-pls-emails-separated-list></textarea>
                                           </div>
                                       </div>
                                   </div>
                               </form>
                           </div>
                        </div>
	                <div data-ng-if="!shouldShowDetails && selectedItems[0]" class="tab-pane fade in active">
	                    <div class="row-fluid">
                            <div class="span4">
                                <h4>Accessorial Mapping</h4>
                            </div>
                            <button type="button" class="btn span2 offset6" data-ng-click="saveMapping()">Save Mapping</button>
                        </div>
                        <div class="row-fluid">
                            <div id="accMappingTable" class="gridStyle gridHeight4 span12" data-ng-grid="accGridOptions"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="scacCodesLogoUpdateDialog" class="modal hide fade" data-role="dialog" data-aria-labelledby="myModalLabel" data-aria-hidden="true">
        <div class="modal-header">
            <h4>Update carrier LOGO</h4>
        </div>
        <form>
            <div>
                <div class="modal-body">
                    <input type="file" name="upload" data-pls-file-bind="carrierLogoFile" accept="image/png"/>

                    <div data-ng-show="uploadProgressMsg">{{uploadProgressMsg}}</div>
                    <div data-ng-show="fileSentOk">File sent successfully</div>
                </div>

                <div id="PreviewLogo" style="border: solid 1px; width:200px; height:200px;">
                    <img data-ng-src="{{carrierLogoUrl}}" src=""/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" data-aria-hidden="true">Close</button>
                    <button type="button" class="btn btn-primary" data-ng-click="onUpdateLogoButtonClick()">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>