<div data-ng-controller="ProductsListCtrl">
    <div class="row-fluid">
        <div class="span7">
            <div class="row-fluid">
                <div class="row-fluid" data-ng-cloak
                     data-pls-ignore-location-change-check="true">
                    <div class="form-inline control-group">
                        <span class="span1 customer-label">Customer:</span>

                        <div class="control-group span5">
                            <div data-pls-customer-lookup="productListModel.selectedCustomer" data-pls-customer-lookup-required
                                 data-show-all-statuses='true'></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div
                        class="gridStyle gridHeight4 span12 table a_productsGrid"
                        data-ng-grid="productsGrid.options"></div>
            </div>
            <div class="row-fluid">
                <div class="span5">
                    <button type="button"
                            class="btn a_addButton"
                            data-ng-disabled="!_.isNumber(productListModel.selectedCustomer.id)"
                            data-ng-show="$root.isFieldRequired('ADD_EDIT_PRODUCT')"
                            data-ng-click="addProduct()">Add
                    </button>
                    <button type="button"
                            class="btn a_editButton"
                            data-ng-disabled="_.isEmpty(selectedProducts) || (selectedProducts[0].hazmat && !$root.isFieldRequired('ADD_EDIT_HAZMAT_PRODUCT'))"
                            data-ng-show="$root.isFieldRequired('ADD_EDIT_PRODUCT')"
                            data-ng-click="editProduct()">Edit
                    </button>
                    <button type="button"
                            class="btn a_deleteButton"
                            data-ng-disabled="_.isEmpty(selectedProducts) || (selectedProducts[0].hazmat && !$root.isFieldRequired('ADD_EDIT_HAZMAT_PRODUCT'))"
                            data-ng-show="$root.isFieldRequired('DELETE_PRODUCT')"
                            data-ng-click="deleteProduct()">Delete
                    </button>
                </div>
                <div class="span7 text-right"
                     data-ng-show="$root.isFieldRequired('IMPORT_PRODUCT')">
                    <!-- HTML5 attribute download -->
                    <a data-ng-href="/restful/customer/{{authData.organization.orgId}}/product/productImportTemplate"
                       download>Product_Import_Template.xls</a>
                    &nbsp;
                    <button type="button"
                            class="btn a_importButton"
                            data-ng-disabled="!_.isNumber(productListModel.selectedCustomer.id) || !$root.isFieldRequired('ADD_EDIT_HAZMAT_PRODUCT')"
                            data-ng-click="importProducts()">Import
                    </button>
                    <button data-ng-if="$root.isFieldRequired('EXPORT_PRODUCTS')" data-ng-click="exportProducts()"
                            data-ng-disabled="!productListModel.selectedCustomer.id" type="button" class="btn a_importButton">
                        Export
                    </button>
                </div>
            </div>
        </div>

        <div class="span5">
            <div class="row-fluid" data-ng-cloak
                 data-pls-ignore-location-change-check="true">
                <div class="span12 form-inline control-group"
                     data-ng-cloak>
                    <label for="sort-select" class="span4">
                        Product List Primary Sort: </label>
                    <select class="span7"
                            id="sort-select"
                            data-ng-model="productListModel.sortOrder"
                            data-ng-init="getProductListSortOrder()"
                            data-ng-change="updateSortOrder()"
                            data-ng-options="sortOrderValue as sortOrderLabel for (sortOrderValue, sortOrderLabel) in sortOrdersValues"
                            data-ng-disabled="!_.isNumber(productListModel.selectedCustomer.id) || disableProductListPrimarySort()">
                    </select>
                    <i data-ng-if="productListModel.sortOrder === 'PRODUCT_DESCRIPTION'"
                       class="icon-info-sign"
                       data-pls-popover="el-content1"
                       data-shift-left="180"> <img
                            src="resources/img/prod-descr-prim-sort.png"
                            id="el-content1" alt=""/>
                    </i>
                    <i data-ng-if="productListModel.sortOrder === 'SKU_PRODUCT_CODE'"
                       class="icon-info-sign"
                       data-pls-popover="el-content2"
                       data-shift-left="180"> <img
                            src="resources/img/prod-code-prim-sort.png"
                            id="el-content2" alt=""/>
                    </i>
                </div>
            </div>
            <fieldset>
                <legend>Details</legend>

                <div class="row-fluid">
                    <div class="span5">
                        <strong>Product Description:</strong>
                    </div>
                    <div style="max-width: 200px"
                         class="span7 text-clipping a_description"
                         id="details-description-div"
                         data-ng-bind="selectedProducts[0].description"></div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <strong>NMFC #:</strong>
                    </div>
                    <div class="span7 text-clipping a_fullNmfcNumber"
                         data-ng-bind="selectedProducts[0] | nmfc"></div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <strong>Class:</strong>
                    </div>
                    <div class="span7 a_commodityClass"
                         id="details-commodity-class-div"
                         data-ng-bind="selectedProducts[0].commodityClass | commodityClass"></div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <strong>SKU/Product Code:</strong>
                    </div>
                    <div class="span7 text-clipping a_productCode"
                         data-ng-bind="selectedProducts[0].productCode"></div>
                </div>
                <div class="well well-small"
                     data-ng-class="{muted : !(selectedProducts[0] && selectedProducts[0].hazmat)}">
                    <div class="row-fluid">
                        <label class="checkbox" for="hazmat"> <input
                                id="hazmat" type="checkbox"
                                data-ng-model="selectedProducts[0].hazmat"
                                disabled>Hazmat:
                        </label>
                        <hr/>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">UN #:</div>
                        <div
                                class="span7 text-clipping a_hazmatUnNumber"
                                data-ng-bind="selectedProducts[0].hazmatUnNumber"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">Packaging Group:</div>
                        <div
                                class="span7 text-clipping a_hazmatPackingGroup"
                                data-ng-bind="selectedProducts[0].hazmatPackingGroup"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">Hazmat Class:</div>
                        <div class="span7 a_hazmatClass"
                             data-ng-bind="selectedProducts[0].hazmatClass"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            Emergency Response
                            <hr/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">Company:</div>
                        <div
                                class="span7 text-clipping a_hazmatEmergencyCompany"
                                data-ng-bind="selectedProducts[0].hazmatEmergencyCompany"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">Phone:</div>
                        <div class="span7 a_hazmatEmergencyPhone"
                             data-ng-bind="selectedProducts[0].hazmatEmergencyPhone | phone"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">Contract #:</div>
                        <div
                                class="span7 text-clipping a_hazmatEmergencyContract"
                                data-ng-bind="selectedProducts[0].hazmatEmergencyContract"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">Instructions:</div>
                        <textarea id="emergencyInstructionTxt"
                                  class="span7 valign-bottom a_hazmatInstructions"
                                  rows="3"
                                  data-ng-model="selectedProducts[0].hazmatInstructions"
                                  readonly></textarea>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div data-pls-add-edit-product data-selected-customer="productListModel.selectedCustomer"></div>
    <div data-pls-import="importDialog"></div>
</div>