<div data-ng-controller="BaseSalesOrderCtrl">
    <div data-ng-controller="CreateSalesOrderCtrl">
        <div class="row-fluid" data-ng-init="init(); wizardData.shipment.proNumber">
            <h4 class="span2 text-center">Create Sales Order:</h4>
            <ul class="breadcrumb span10">
                <li data-ng-repeat="breadCrumb in wizardData.breadCrumbs.list" data-ng-class="{active: wizardData.step != breadCrumb.id}">
                    <strong data-ng-if="wizardData.step == breadCrumb.id"><span data-ng-bind="breadCrumb.label"></span></strong>
                    <span data-ng-if="wizardData.step != breadCrumb.id" data-ng-bind="breadCrumb.label"></span>
                    <span data-ng-if="breadCrumb.next" class="divider">/</span>
                </li>
            </ul>
        </div>
        <div data-ng-switch="wizardData.step">
            <div data-ng-switch-when="general_information">
                <div data-ng-include="'pages/content/sales-order/so-general-information.html'"></div>
            </div>
            <div data-ng-switch-when="addresses">
                <div data-ng-include="'pages/content/sales-order/so-addresses.html'"></div>
            </div>
            <div data-ng-switch-when="details">
                <div data-ng-include="'pages/content/sales-order/so-details.html'"></div>
            </div>
            <div data-ng-switch-when="docs">
                <div data-ng-include="'pages/content/sales-order/so-docs.html'"></div>
            </div>
        </div>
        
         <div data-ng-switch="wizardData.step">
             <div data-ng-switch-default>
                 <div class="row-fluid">
                    <div class="offset9 span3">
                        <button type="button" class="span4 btn" data-ng-click="clearAll()" data-ng-if="wizardData.step == 'general_information'">Clear All</button>
                        <button type="button" class="span4 btn" data-ng-class="{offset4: wizardData.step != 'general_information'}" data-ng-click="prevStep()" data-ng-disabled="!canPrevStep()"><i class="icon-chevron-left"></i>Back</button>
                        <button type="button" class="span4 btn" data-ng-click="nextStep()" data-ng-disabled="!canNextStep()" data-ng-hide="isLastStep()">Next<i class="icon-chevron-right"></i></button>
                        <button type="button" class="span4 btn" data-ng-click="done()" data-ng-disabled="!canDone()" data-ng-if="isLastStep()">Done</button>
                    </div>
                </div>
            </div>
            <div data-ng-switch-when="addresses">
            
                <div class="row-fluid">
                    <div class="offset8 span4">
                        <div class="span6"></div>
                        <button type="button" class="span3 btn" data-ng-class="{offset0: wizardData.step != 'general_information'}" data-ng-click="prevStep()" data-ng-disabled="!canPrevStep()"><i class="icon-chevron-left"></i>Back</button>
                        <button type="button" class="span3 btn" data-ng-click="nextStep()" data-ng-disabled="!canNextStep()" data-ng-hide="isLastStep()">Next<i class="icon-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div data-pls-customer-notification-list="wizardData.selectedCustomer.id"></div>
        <div data-pls-add-edit-product data-selected-customer="wizardData.selectedCustomer"></div>
    </div>
    <div data-ng-include="'pages/content/sales-order/so-docs-full-view-dlg.html'"></div>
    <div data-ng-include="'pages/content/trackingBoard/terminal-info.html'"></div>
    <div data-ng-include="'pages/content/address-book/add-edit-address.html'"></div>
    <div data-ng-include="'pages/content/sales-order/add-edit-cost-details.html'"></div>
    <div data-pls-send-mail="emailOptions" data-dialog-show-option="emailOptions.showSendEmailDialog" data-modal-options="emailOptions.docSendMailModalOptions"></div>
    <div data-pls-payment-dialog></div>
    <div data-google-maps data-origin="wizardData.shipment.originDetails.address" data-destination="wizardData.shipment.destinationDetails.address"></div>
</div>