<div data-ng-controller="SOAddressesCtrl">
    
    <div data-ng-init="init()" data-ng-include="'pages/content/sales-order/sales-order-customer-carrier.html'"></div>
    <div class="row-fluid">
        <div class="span4">
            <div data-pls-quote-address="wizardData.shipment.originDetails.address" data-lazy-loading="!_.isEmpty(editSalesOrderModel)"
                 data-customer-id="wizardData.selectedCustomer.id" data-parent-dialog="detailsDialogDiv" data-origin="true"
                 data-view-id="originAddressPanel" data-address-form="wizardData.origForm"></div>
        </div>
        <div class="span4">
            <div data-pls-quote-address="wizardData.shipment.destinationDetails.address" data-lazy-loading="!_.isEmpty(editSalesOrderModel)"
                 data-customer-id="wizardData.selectedCustomer.id" data-parent-dialog="detailsDialogDiv" data-origin="false"
                 data-view-id="destinationAddressPanel" data-address-form="wizardData.destForm"></div>
        </div>
        <div class="span4 well well-small">
            <form name="billToForm" novalidate class="margin0">
                <div class="row-fluid">
                    <div data-pls-bill-to data-shipment="wizardData.shipment" data-customer="wizardData.selectedCustomer"
                         data-location-form="wizardData.locationForm" data-bill-to-form="wizardData.billToForm"></div>
                </div>
                <div class="row-fluid" data-ng-if="wizardData.showCustomsBroker">
                    <label class="control-label span3">Customs Broker:</label>

                    <div class="span9">
                        <input class="span12" type="text" maxlength="255" required data-ng-model="wizardData.shipment.customsBroker.name">
                    </div>
                </div>
                <div class="row-fluid" data-ng-if="wizardData.showCustomsBroker">
                    <label class="control-label span3" for="phone">Phone:</label>

                    <div class="span9">
                        <div class="controls">
                            +
                            <input class="span2" type="text" required data-ng-model="wizardData.shipment.customsBroker.phone.countryCode" data-ng-minlength="1" data-ng-maxlength="3" maxlength="3" data-ng-pattern="/^\d+$/">
                            (
                            <input class="span2" type="text" required data-ng-model="wizardData.shipment.customsBroker.phone.areaCode" data-ng-minlength="1" data-ng-maxlength="3" maxlength="3" data-ng-pattern="/^\d+$/">
                            )
                            <input class="span3" type="text" required data-ng-model="wizardData.shipment.customsBroker.phone.number" placeholder="#######" data-ng-minlength="7" data-ng-maxlength="7" maxlength="7" data-ng-pattern="/^\d+$/" id="phone">
                            &nbsp;Ext.:
                            <input class="span3" type="text" data-ng-model="wizardData.shipment.customsBroker.phone.extension" placeholder="######" data-ng-maxlength="6" maxlength="6" data-ng-pattern="/^\d+$/" id="extension">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div data-pls-gl-generator data-shipment="wizardData.shipment" data-customer="wizardData.selectedCustomer"></div>
</div>