<div id="so-general-information" data-ng-controller="SOGeneralInfoCtrl" data-pls-ignore-location-change-check="{{isFormClean()}}">
    <form name="soGeneralForm" novalidate data-ng-init="init()" data-pls-input-cleaning>
        <div class="row-fluid">
            <div class="span3 form-horizontal">
                <strong class="span4 text-right">Type:</strong>
                <strong class="span8">LTL</strong>
            </div>

            <div class="span9">
                <div class="form-inline control-group row-fluid">
                    <div class="span2 text-right">
                        <label class="control-label" for="pickupDate">Pickup Date:</label>
                    </div>

                    <div class="span1">
                        <label class="control-label input-small" for="pickupDate">
                            <strong>{{parseISODate(wizardData.shipment.finishOrder.pickupDate) | date:'EEEE'}}</strong>
                        </label>
                    </div>

                    <div class="span3">
                        <div class="input-append">
                            <input id="pickupDate" name="dateField" type="text" data-pls-datepicker
                                   data-ng-model="wizardData.shipment.finishOrder.pickupDate" data-ng-required="true"
                                   data-max-date="wizardData.shipment.finishOrder.estimatedDelivery" class="input-small a_pickupDate"/>
                            <button type="button" class="btn" data-toggle="datepicker">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </div>

                    <div class="span2 text-right">
                        <label class="offset1 control-label" for="estimatedDelivery">Est. Delivery Date:</label>
                    </div>

                    <div class="span1">
                        <label class="control-label input-small" for="estimatedDelivery">
                            <strong>{{parseISODate(wizardData.shipment.finishOrder.estimatedDelivery) | date:'EEEE'}}</strong>
                        </label>
                    </div>

                    <div class="span3">
                        <div class="input-append">
                            <input id="estimatedDelivery" name="dateField" type="text" data-pls-datepicker
                                   data-ng-model="wizardData.shipment.finishOrder.estimatedDelivery"
                                   data-ng-required="isEstDeliveryRequired"
                                   data-min-date="wizardData.shipment.finishOrder.pickupDate" class="input-small a_estimatedDelivery"/>
                            <button type="button" class="btn" data-toggle="datepicker">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span3">
                <div class="row-fluid">
                    <div class="span4 text-right"><strong>Status:</strong></div>
                    <div class="span8">
                        <select class="span12 a_status" data-ng-model="wizardData.shipment.status"
                                data-ng-options="status[0] as status[1] for status in _.pairs(shipmentStatuses)"></select>
                    </div>
                </div>

                <div class="row-fluid">
                    <strong class="span4 text-right">Customer:</strong>

                    <div class="span8">
                        <div data-pls-customer-lookup="wizardData.selectedCustomer" data-customer-disabled="wizardData.shipment.id"
                             id="customerInput" data-not-disable-me data-pls-customer-lookup-required></div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span4 text-right"><strong>Carrier:</strong></div>
                    <div class="span6">
                        <input id="inputSCAC" class="span12 a_carrier" data-ng-required="wizardData.shipment.status !== 'OPEN'"
                               data-pls-scac-search="wizardData.carrierTuple"/>
                    </div>
                    <div class="span2">
                        <button type="button" class="btn span12" data-ng-click="openTerminalInfoModalDialog()" data-not-disable-me
                                title="Select Carrier, Origin and Destination to see Carrier Terminal Information"
                                data-ng-disabled="!wizardData.carrierTuple || !wizardData.shipment.selectedProposition.carrier || !wizardData.shipment.selectedProposition.carrier.scac || !wizardData.shipment.originDetails.zip || !wizardData.shipment.originDetails.zip || !wizardData.shipment.destinationDetails.zip || !wizardData.shipment.destinationDetails.zip.zip">
                            <i class="icon-road"></i>
                        </button>
                    </div>
                </div>

                <div class="row-fluid">
                    <strong class="span4 label-middle text-right">Freight Bill Pay To:</strong>

                    <div data-pls-freight-bill-pay-to data-selected-customer="wizardData.selectedCustomer"
                         data-shipment="wizardData.shipment" class="span8">
                    </div>
                </div>

                <div class="a_origin">
                    <div data-pls-zip-select="wizardData.shipment.originDetails.zip" data-zip-label="Origin:"
                         data-center-align="true" data-validate-warning="displayWarning"></div>
                </div>

                <div class="a_destination">
                    <div data-pls-zip-select="wizardData.shipment.destinationDetails.zip" data-zip-label="Destination:"
                         data-center-align="true" data-validate-warning="displayWarning"></div>
                </div>

                <div class="row-fluid">
                    <div class="span4 text-right"><strong>Guaranteed by:</strong></div>
                    <div class="span8">
                        <select name="guaranteedSelect" data-ng-model="wizardData.shipment.guaranteedBy" class="span12"
                                data-ng-options="time | longTime: false for time in guaranteedTimeOptions" data-ng-change="changeGuaranteed()"
                                data-tooltip="{{wizardData.shipment.guaranteedBy === undefined ?
                                 'Please select Guaranted By or remove Guaranteed Delivery cost' : 'Please add Guaranteed Delivery cost or unselect Guaranteed By'}}"
                                data-tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[soGeneralForm.guaranteedSelect.$invalid]}}">
                        </select>
                    </div>
                </div>

                <div class="row-fluid">
                    <strong class="span4 text-right">Pro #:</strong>

                    <div class="span8">
                        <input type="text" data-ng-model="wizardData.shipment.proNumber" maxlength="30" class="span12 a_proNumber"
                               data-ng-required="'DELIVERED' === wizardData.shipment.status && ($root.isFieldRequired('REQUIRE_SHIPMENT_PRO') || isRequiredField('PRO'))">
                    </div>
                </div>
                
                <div class="row-fluid">
                    <strong class="span4 text-right">Volume Quote ID:</strong>

                    <div class="span8">
                        <input type="text" data-ng-model="wizardData.shipment.volumeQuoteID" maxlength="50" class="span12">
                    </div>
                </div>

                <div class="row-fluid" data-ng-show="$root.isFieldRequired('OVERRIDE_SO_CARRIER_COST') && !wizardData.shipment.id">
                    <strong class="span4 text-right">Carrier Cost Override:</strong>

                    <div class="span8">
                        <input type="text" data-ng-model="carrierCostOverride" maxlength="30" class="span12" data-ng-change="setCCOCostDetails()">
                    </div>
                </div>

                 <div class="row-fluid">
                    <div data-ng-if="$root.isFieldRequired('CAN_VIEW_INTERNAL_NOTES')">
                     <textarea readonly id="internalNote" data-ng-model="wizardData.selectedCustomer.internalNote"
                        class="span12 pls-font-bold pls-font-14" rows="12" maxlength="2000"></textarea>
                </div>
                </div>
            </div>

            <div class="span9">
                <div class="form-inline control-group">
                    <div class="span2 text-right">
                        <label class="control-label" for="actualPickupDate">Actual Pickup Date:</label>
                    </div>
                    <div class="span1">
                        <label class="control-label input-small" for="actualPickupDate">
                            <strong>{{parseISODate(wizardData.shipment.finishOrder.actualPickupDate) | date:'EEEE'}}</strong>
                        </label>
                    </div>
                    <div class="span3">
                        <div class="input-append">
                            <input id="actualPickupDate" name="dateField" type="text" data-pls-datepicker
                                   data-ng-model="wizardData.shipment.finishOrder.actualPickupDate" data-max-date="maxPickupDate"
                                   data-ng-required="_.contains(['IN_TRANSIT','DELIVERED','OUT_FOR_DELIVERY'], wizardData.shipment.status)"
                                   data-ng-change="updateStatusForActualDate()" class="input-small a_actualPickupDate"/>
                            <button type="button" class="btn" data-toggle="datepicker">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </div>

                    <div class="span2 text-right">
                        <label class="offset1 control-label" for="actualDeliveryDate">Actual Delivery Date:</label>
                    </div>
                    <div class="span1">
                        <label class="control-label input-small" for="actualDeliveryDate">
                            <strong>{{parseISODate(wizardData.shipment.finishOrder.actualDeliveryDate) | date:'EEEE'}}</strong>
                        </label>
                    </div>
                    <div class="span3">
                        <div class="input-append">
                            <input id="actualDeliveryDate" name="dateField" type="text" data-pls-datepicker
                                   data-ng-model="wizardData.shipment.finishOrder.actualDeliveryDate"
                                   data-min-date="wizardData.shipment.finishOrder.actualPickupDate" data-max-date="maxDeliveryDate"
                                   data-ng-required="wizardData.shipment.status == 'DELIVERED'" data-ng-change="updateStatusForActualDate()"
                                   class="input-small a_actualDeliveryDate"/>
                            <button type="button" class="btn" data-toggle="datepicker">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row-fluid a_products">
                    <div data-pls-quote-products="wizardData.shipment" data-rate-quote-dictionary="rateQuoteDictionary"
                         data-selected-customer="wizardData.selectedCustomer" data-render-grid="isPageOpen('general_information')"
                         data-quote-processing="getQuote" data-parent-dialog="parentDialog" data-description-required="true"
                         data-dimensions-required="originAndDestinationAreCanada()"></div>
                </div>
                <div class="row-fluid"><span>&nbsp;</span></div>
                <div class="row-fluid">
                    <strong>Line Items :</strong>
                    {{wizardData.shipment.finishOrder.quoteMaterials.length}} {{!editSalesOrderModel.formDisabled ? ' of ' + maxCountOfProducts : ''}}
                </div>
                <br/>

                <div class="row-fluid">
                    <div class="span6">
                        <div class="gridStyle gridHeight1 span12 a_costDetailsGrid" data-ng-if="isPageOpen('general_information')"
                             data-ng-grid="costDetailsGrid"></div>
                        <div class="row-fluid"><span>&nbsp;</span></div>
                        <div class="row-fluid">
                            <div class="span6">
                                <label for="revenueComment" class="control-label"><strong>Revenue Comment:</strong></label>
                                <textarea class="span12" id="revenueComment" data-ng-if="selectedCostDetails[0]"
                                          data-ng-model="selectedCostDetails[0].revenueNote" rows="1" maxlength="500"
                                          data-ng-disabled="true"></textarea>
                                <textarea class="span12" data-ng-if="!selectedCostDetails[0]" rows="1" maxlength="500"
                                          data-ng-disabled="true"></textarea>
                            </div>
                            <div class="span6">
                                <label for="costComment" class="control-label"><strong>Cost Comment:</strong></label>
                                <textarea class="span12" id="costComment" data-ng-if="selectedCostDetails[0]"
                                          data-ng-model="selectedCostDetails[0].costNote" rows="1" maxlength="500" data-ng-disabled="true"></textarea>
                                <textarea class="span12" data-ng-if="!selectedCostDetails[0]" rows="1" maxlength="500"
                                          data-ng-disabled="true"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="span2">
                        <button class="btn btn-block" type="button"
                                data-ng-disabled="!$root.isFieldRequired('EDIT_PLS_REVENUE') || !$root.isFieldRequired('EDIT_CARRIER_COST')"
                                data-ng-hide="editSalesOrderModel.formDisabled" data-ng-click="addCostDetails()">Add
                        </button>
                        <button class="btn btn-block" type="button"
                                data-ng-disabled="!(($root.isFieldRequired('EDIT_PLS_REVENUE') ||
                                                    $root.isFieldRequired('EDIT_CARRIER_COST')) &&
                                                    !_.isEmpty(selectedCostDetails))"
                                data-ng-hide="editSalesOrderModel.formDisabled" data-ng-click="editCostDetails()">Edit
                        </button>
                        <button class="btn btn-block a_removeCostButton" type="button"
                                data-ng-disabled="!($root.isFieldRequired('EDIT_PLS_REVENUE') && $root.isFieldRequired('EDIT_CARRIER_COST') &&
                                         !_.isEmpty(selectedCostDetails))"
                                data-ng-hide="editSalesOrderModel.formDisabled" data-ng-click="deleteSelectedCostDetails()">Remove
                        </button>
                    </div>
                    <div class="span4"
                         data-ng-if="$root.isFieldRequired('EDIT_PLS_REVENUE') || $root.isFieldRequired('EDIT_CARRIER_COST') || $root.isFieldRequired('VIEW_PLS_REVENUE_AND_CARRIER_COST')">
                        <div class="row-fluid" data-ng-if="wizardData.shipment.volumeQuoteID">
                            <span class="span5 text-left">Volume Quote ID:</span>
                            <span data-ng-bind="wizardData.shipment.volumeQuoteID"></span>
                        </div>
                        <div class="row-fluid" data-ng-if="wizardData.shipment.quoteRef">
                            <span class="span5 text-left">Quote Ref #:</span>
                            <span data-ng-bind="wizardData.shipment.quoteRef"></span>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="span2">
                                    <i class="pls-integration-ltllc-icon" data-ng-show="wizardData.shipment.selectedProposition.ratingCarrierType==='LTLLC' && authData.plsUser"></i>
                                    <i class="pls-vltl-icon" data-ng-show="wizardData.shipment.selectedProposition.shipmentType==='VLTL'"></i>
                                </td>
                                <td class="span2" data-ng-if="editSalesOrderModel">
                                    <div class="text-center">Quoted</div>
                                </td>
                                <td class="span2">
                                    <div class="text-center">Actual</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="span3" data-ng-if="editSalesOrderModel">
                                    <div class="text-left">Total Revenue:</div>
                                </td>
                                <td class="span2" data-ng-if="!editSalesOrderModel">
                                    <div class="text-left">Total Revenue:</div>
                                </td>
                                <td class="span2" data-ng-if="editSalesOrderModel">
                                    <div class="text-center">{{wizardData.shipment.quotedTotalRevenue | plsCurrency}}</div>
                                </td>
                                <td class="span2">
                                    <div class="text-center">{{totalRevenue | plsCurrency}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <div class="text-left">Total Cost:</div>
                                </td>
                                <td class="span2" data-ng-if="editSalesOrderModel">
                                    <div class="text-center">{{wizardData.shipment.quotedTotalCost | plsCurrency}}</div>
                                </td>
                                <td class="span2">
                                    <div class="text-center">{{totalCost | plsCurrency}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <div class="text-left">Margin:</div>
                                </td>
                                <td class="span2" data-ng-if="editSalesOrderModel">
                                    <div class="text-center">{{wizardData.shipment.quotedTotalRevenue - wizardData.shipment.quotedTotalCost |
                                        plsCurrency}}
                                    </div>
                                </td>
                                <td class="span2">
                                    <div class="text-center">{{totalRevenue - totalCost | plsCurrency}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <div class="text-left">Margin %:</div>
                                </td>
                                <td class="span2" data-ng-if="editSalesOrderModel">
                                    <div class="text-center">{{wizardData.shipment.quotedTotalRevenue === 0 ? undefined : (1 -
                                        wizardData.shipment.quotedTotalCost/wizardData.shipment.quotedTotalRevenue) * 100 | number : 2}}
                                    </div>
                                </td>
                                <td class="span2">
                                    <div class="text-center">{{totalRevenue === 0 ? undefined : (1 - totalCost/totalRevenue) * 100 | number : 2}}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div data-ng-if="wizardData.shipment.billTo.paymentMethod === 'PREPAID_ONLY'" class="row-fluid">
                    <div class="offset8 span4">
                        <button type="button" data-ng-click="showDialog = true" data-show-dialog="showDialog" data-parent-dialog-id="detailsDialogDiv"
                                data-mode="{{$root.isPlsPermissions('EDIT_PREPAID_PAYMENT') ? 'editable' : 'modal'}}"
                                data-pls-prepaid-details="wizardData.shipment.prepaidDetails" data-total-revenue="wizardData.shipment.selectedProposition.totalShipperAmt" class="btn span5">Prepaid Details
                        </button>

                        <div data-pls-prepaid-amount data-prepaid-details="wizardData.shipment.prepaidDetails" data-total-revenue="totalRevenue"
                             data-type="right" class="span7"></div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </form>
</div>