<div data-ng-controller="SONotesCtrl" data-not-disable-me>
    <div class="row-fluid">
        <div class="span12">
            <div data-ng-include="'pages/content/sales-order/sales-order-customer-carrier.html'"></div>
        </div>
    </div>
    <div class="row-fluid" data-ng-if="isPageOpen('notes');">
        <div class="gridStyle gridHeight4_12 span6" data-ng-grid="notesGridOptions"></div>
        <div class="span6 well well-small">
            <div class="row-fluid">
                <div class="span5">
                    <b>Details</b>
                </div>
                <div class="span4">
                    <label class="control-label a_username offset1">{{notesModel.selectedNotes[0].username}}</label>
                </div>
                <div class="span3">
                    <label class="control-label a_createDate offset2">{{notesModel.selectedNotes[0].createdDate | date:$root.appDateTimeFormat}}</label>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <textarea data-ng-if="(editSalesOrderModel.formDisabled && !wizardData.shipment.invoiceDate) || !enableTextArea()" rows="17" class="input-block-level a_text" 
                        data-ng-model="notesModel.selectedNotes[0].text" data-ng-disabled="true"></textarea>
                    <textarea data-ng-if="(!editSalesOrderModel.formDisabled && wizardData.shipment.invoiceDate) || enableTextArea()" rows="17" class="input-block-level a_text" 
                        data-ng-model="notesModel.currentNote.text" data-required maxlength="500"></textarea>
                </div>
            </div>
            <div class="row-fluid" data-ng-if="notesModel.appendMode===false && notesModel.editMode===false">
                <button type="button" data-ng-click="editNote();" 
                    data-ng-disabled="notesModel.selectedNotes.length != 1 || (editSalesOrderModel.formDisabled && !wizardData.shipment.invoiceDate)" 
                    class="btn">
                    <i class="icon-edit"></i>
                    Edit
                </button>
                <button type="button" data-ng-click="newNote();" 
                    data-ng-disabled="editSalesOrderModel.formDisabled && !wizardData.shipment.invoiceDate" 
                    class="btn">
                    <i class="icon-plus"></i>
                    New
                </button>
                <button type="button" data-ng-click="pauseFinancials();"
                    data-ng-disabled="editSalesOrderModel.formDisabled && !wizardData.shipment.invoiceDate" 
                    data-ng-if="wizardData.shipment.holdFinalizationStatus === false && $root.isFieldRequired('CAN_PUT_LOADS_ON_HOLD')"
                    class="btn pull-right">
                    Pause Financials
                </button>
                <button type="button" data-ng-click="allowFinancials();"
                    data-ng-disabled="editSalesOrderModel.formDisabled && !wizardData.shipment.invoiceDate" 
                    data-ng-if="wizardData.shipment.holdFinalizationStatus === true && $root.isFieldRequired('CAN_PUT_LOADS_ON_HOLD')"
                    class="btn pull-right">
                    Allow Financials
                </button>
            </div>
            <div class="row-fluid" data-ng-if="notesModel.appendMode===true || notesModel.editMode===true">
                <button type="button" data-ng-click="saveNote();" 
                     data-ng-disabled="!notesModel.currentNote.text" 
                    class="btn">
                    <i class="icon-arrow-left"></i>
                    Add
                </button>
                <button type="button" data-ng-click="cancelNote();" 
                    class="btn">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
