<div data-ng-controller="FinishQuoteCtrl">
	<div class="row-fluid" data-ng-init="initStep()">
		<h4 class="span2">Finish Quote</h4>
        <div class="span10 padding-top10">
                <span data-ng-show="$root.isFieldRequired('VIEW_PLS_CUSTOMER_COST')" class="a_customer"><strong>Customer:&nbsp;</strong>{{wizardData.selectedCustomer.name}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="a_carrier"><strong>Carrier:&nbsp;</strong>{{wizardData.shipment.selectedProposition.carrier.name}}</span>
                <span><button type="button" class="btn-link" data-ng-click="showTerminalInformation()">Carrier Terminal Info</button></span>
        </div>
	</div>
	<div class="row-fluid">
		<div class="span9" data-pls-pdf-container="bolOptions"></div>
		<div class="span3">
			<div class="row-fluid">
				<div class="span12">
					<div data-pls-quote-price-info="wizardData.shipment" data-view-id="priceInfoPanel" data-parent-view-id="finish-quote"></div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
						<div class="row-fluid">
							<div class="span12 form-inline">
								<input class="a_termsOfAgreementChk" type="checkbox" name="terms_agreed" data-ng-model="confirmedTermsOfAgreement" style="margin-top: 0"/>&nbsp;
                                Agree to
								<button type="button" class="btn a_termsOfAgreement" data-ng-click="openTermsOfAgreementDialog()">
                                    Terms of Agreement
                                </button>
							</div>
						</div>
						<div>&nbsp;</div>
						<div class="row-fluid">
							<div class="span12">
								<button type="button" class="btn span5 a_backButton" data-ng-click="previousStep()">
									<i class="icon-chevron-left"></i>Back
								</button>
								<button type="button" class="btn btn-primary span5 a_bookItButton" data-ng-disabled="!storedBolId" data-ng-click="bookIt()">Book It</button>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

    <div data-pls-send-mail="emailOptions" data-dialog-show-option="showSendMailDialog" data-modal-options="shipmentSendMailModalOptions"></div>

    <div data-pls-modal="showTermsOfAgreement" data-close="closeTermsOfAgreementDialog()" class="modalWidth10" data-enter="confirmTermsOfAgreement()">

        <div class="modal-header">
            <h4>Terms of Agreement</h4>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div data-pls-pdf-container="toaOptions"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn cancel a_closeButton" data-ng-click="closeTermsOfAgreementDialog()"><i class="icon-chevron-left"></i> Back</button>
            <button type="button" class="btn btn-primary cancel a_agreeButton" data-ng-click="confirmTermsOfAgreement()">Agree</button>
        </div>
    </div>
    <div data-ng-include="'pages/content/quotes/shipment-details.html'"></div>
    <div data-ng-include="'pages/content/trackingBoard/terminal-info.html'"></div>
    <div data-pls-payment-dialog></div>
</div>