<div data-ng-controller="SaveQuoteController">
    <div data-pls-modal="showSaveQuoteDialog" data-close="closeSaveQuoteDialog()" class="modalWidth12 modalHeight7 a_saveQuoteDialog" data-enter="ok()">

        <div class="modal-header">
            <h4 data-ng-if="saveQuoteDialog">Save Quote</h4>
            <h4 data-ng-if="!saveQuoteDialog">Saved Quote</h4>
        </div>
        <div class="modal-body">
			<div class="row-fluid">
                <div class="span6">
                    <strong>Customer:</strong>
                    <span class="a_customer">{{wizardData.selectedCustomer.name}}</span>
                </div>
			</div>
            <div class="row-fluid">
                <div class="span6" data-ng-if="(!wizardData.shipment.selectedProposition.hideCostDetails || $root.isFieldRequired('CAN_VIEW_HIDDEN_RATES')) && $root.isPlsPermissions('VIEW_PLS_CUSTOMER_COST_DETAILS')">
                    <div class="span3 form-vertical">
                        <label class="control-label text-warning" data-ng-if="showRevenueAndCost()">Customer Revenue / Carrier Cost</label>
                        <label class="control-label text-warning" data-ng-if="showCostOnly()">Total Cost</label>
                        <div class="controls wrap">
                            <span data-ng-if="showRevenueAndCost()">{{getTotalCost() | plsCurrency}} / {{getCarrierTotalCost() | plsCurrency}}</span>
                            <span data-ng-if="showCostOnly()">{{getTotalCost() | plsCurrency}}</span>
                        </div>
                    </div>
                    <div class="span3 form-vertical">
                        <label class="control-label text-warning">Fuel surcharge</label>
                        <div class="controls wrap">
                            <span data-ng-if="showCostOnly()" data-ng-bind="getFuelSurcharge(wizardData.shipment.selectedProposition, 'S') | plsCurrency"></span>
                            <span data-ng-if="showRevenueAndCost()">{{getFuelSurcharge(wizardData.shipment.selectedProposition, 'S') | plsCurrency}} / {{getFuelSurcharge(wizardData.shipment.selectedProposition, 'C') | plsCurrency}}</span>
                        </div>
                    </div>
                    <div class="span3 form-vertical">
                        <label class="control-label text-warning">Accessorials</label>
                        <div class="controls wrap">
                            <span data-ng-if="showCostOnly()" data-ng-bind="getAccessorials('S') | plsCurrency"></span>
                            <span data-ng-if="showRevenueAndCost()">{{getAccessorials('S') | plsCurrency}} / {{getAccessorials('C') | plsCurrency}}</span>
                        </div>
                    </div>
                    <div class="span3 form-vertical">
                        <label class="control-label text-warning">Guaranteed</label>
                        <div class="controls wrap">
                            <span data-ng-if="(showCostOnly() || !getSelectedCarrierGuaranteed()) && getSelectedGuaranteed()">{{getSelectedGuaranteed().guaranteedBy | longTime}} ({{getSelectedGuaranteed().subTotal | plsCurrency}})</span>
                            <span data-ng-if="showRevenueAndCost() && getSelectedCarrierGuaranteed()">{{getSelectedGuaranteed().guaranteedBy | longTime}} ({{getSelectedGuaranteed().subTotal | plsCurrency}} / {{getSelectedCarrierGuaranteed().subTotal | plsCurrency}})</span>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="span3 form-vertical">
                        <label class="control-label text-warning">Liability New/Used</label>
                        <div class="controls wrap">
                            <span data-ng-if="$root.isFieldRequired('CAN_VIEW_LIABILITY')">{{wizardData.shipment.selectedProposition.newLiability | plsCurrency}} / {{wizardData.shipment.selectedProposition.usedLiability | plsCurrency}}</span>
                        </div>
                    </div>
                    <div class="span3 form-vertical">
                        <label class="control-label text-warning">Direct/Indirect</label>
                        <div class="controls">
                            <span data-ng-bind="wizardData.shipment.selectedProposition.serviceType"></span>
                        </div>
                    </div>
                    <div class="span3 form-vertical">
                        <label class="control-label text-warning">Transit Est. Date</label>
                        <div class="controls">
                            <span data-ng-bind= "_.isUndefined(wizardData.shipment.selectedProposition.estimatedTransitDate) ?
                                  'N/A' : wizardData.shipment.selectedProposition.estimatedTransitDate | date:wideAppDateFormat">
                            </span>
                        </div>
                    </div>
                    <div class="span3 form-vertical">
                        <label class="control-label text-warning">Transit Est. Time</label>
                        <div class="controls">
                            <span data-ng-bind="wizardData.shipment.selectedProposition.estimatedTransitTime | minutesTime"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <span class="control-label">&nbsp;</span>
            </div>
			<div class="row-fluid">
                <div data-pls-quote-details="wizardData.shipment" 
                    view-id="quoteDetailsPanel" data-parent-view-id="save-quote"></div>
            </div>
            <div class="row-fluid">
                <span class="control-label">&nbsp;</span>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    <div class="span6"><img data-ng-src="{{wizardData.shipment.selectedProposition.carrier.logoPath}}" src="" alt="Carrier Logo"></div>
                    <div class="span6 a_carrierName">{{wizardData.shipment.selectedProposition.carrier.name}}</div>
                </div>
                <div class="span3">
                    <span class="span4">Special Msg:</span>
                    <textarea class="span8 a_specialMessage" disabled data-ng-model="wizardData.shipment.selectedProposition.carrier.specialMessage"></textarea>
                </div>
                <div class="span3">
                    <span class="span4">Prohibited:</span>
                    <textarea class="span8 a_prohibited" disabled data-ng-model="wizardData.shipment.selectedProposition.prohibited"></textarea>
                </div>
                <div class="span3">
                    <label for="refInp" class="control-label span4 text-center">Quote Ref #:</label>
                    <input id="refInp" type="text" class="span8 a_refInp" maxlength="30" data-ng-disabled="!saveQuoteDialog"
                           data-ng-model="quoteRef">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn cancel a_closeSaveQuoteDialog" data-ng-click="closeSaveQuoteDialog()">Cancel</button>
            <button type="button" class="btn btn-primary cancel a_saveQuoteButton" data-ng-click="saveQuote()" data-ng-show="saveQuoteDialog">Ok</button>
            <button type="button" class="btn btn-primary cancel a_buildOrderButton" data-ng-show="!saveQuoteDialog"
                    data-ng-click="buildOrder()" data-ng-if="!isCanNotBook" 
                    data-ng-disabled="wizardData.shipment.selectedProposition.blockedFrmBkng === 'YES'
                                     || _.isUndefined(wizardData.selectedCustomer)
                                     || _.isUndefined(wizardData.selectedCustomer.id)">
                        Build Order</button>
            <button type="button" class="btn disabled btn-primary cancel a_buildOrderButton" data-ng-if="isCanNotBook"
                    data-tooltip="{{$root.authData.organization.statusReason === 'CREDIT_HOLD' || wizardData.customerStatus === 'CREDIT_HOLD' ? 'Customer is on Credit Hold' : 'Customer is on Hold for missing Tax ID'}}"  
                    data-tooltip-trigger='mouseenter' data-ng-show="!saveQuoteDialog"
                    data-ng-disabled="wizardData.shipment.selectedProposition.blockedFrmBkng === 'YES'
                                     || _.isUndefined(wizardData.selectedCustomer)
                                     || _.isUndefined(wizardData.selectedCustomer.id)">
                        Build Order</button>
        </div>
    </div>
    <div data-pls-modal="showNotification" data-close="closeNotification()"
         class="modal a_notification" data-enter="closeNotification()">

        <div class="modal-header">
            <h4 data-ng-show="showNotification">Save Quote Notification</h4>
        </div>

        <div class="modal-body">
            <div class="text-center" data-ng-if="quoteUnavailable">
                You will be redirected to "Start Quote" page.<br>
                Carrier is not available anymore or Carrier Cost is changed for the Shipment Order.
            </div>
            <div class="text-center" data-ng-if="quoteExpired">
                You will be redirected to "Start Quote" page.<br>
                Quoting date is older than 7 days or Pickup Date is earlier than Today.
            </div>
        </div>

        <div class="modal-footer">
            <div class="text-center">
                <button class="btn" type="button" data-ng-click="closeNotification()">OK</button>
            </div>
        </div>
    </div>
</div>