<div data-ng-controller="QuoteDetailsController" data-pls-ignore-location-change-check="true">
    <div class="row-fluid" data-ng-init="init()">
        <div class="span9">
            <form name="savedQuotesForm" data-pls-input-cleaning novalidate>
                <div class="span4">
                    <label class="control-label span2 label-middle customer-label" for="customerSearch">Customer:
                        </label>
                    <div class="span8">
                        <div id="customerSearch" data-pls-customer-lookup="selectedCustomer"
                            data-show-all-statuses="true"></div>
                    </div>
                </div>
                <div class="span8 form-inline">
                    <label class="control-label">Create Date Range</label>
                    &nbsp;&nbsp;&nbsp;
                    <label for="fromDateInput" class="control-label">From:</label>
                    <div class="input-append">
                        <input name="fromDateField" type="text"
                            id="fromDateInput"
                            data-ng-model="fromDate"
                            data-date-format="mm/dd/yy"
                            data-ng-required="toDate"
                            data-min-date="minFromDate"
                            data-max-date="maxFromDate"
                            data-pls-datepicker
                            class="input-small"/>
                        <button type="button" class="btn"
                            data-toggle="datepicker">
                            <i class="icon-calendar"></i>
                        </button>
                    </div>
                    &nbsp;
                    <label for="toDateInput" class="control-label">To:</label>
                    <div class="input-append">
                        <input name="toDateField" type="text"
                            id="toDateInput"
                            data-ng-model="toDate"
                            data-date-format="mm/dd/yy"
                            data-min-date="minToDate"
                            data-max-date="maxToDate"
                            data-ng-required="fromDate"
                            data-pls-datepicker
                            class="input-small"/>
                        <button type="button" class="btn"
                            data-toggle="datepicker">
                            <i class="icon-calendar"></i>
                        </button>
                    </div>
                    &nbsp;&nbsp;
                    <button type="button" class="btn" data-ng-disabled="!fromDate != !toDate"
                        data-ng-click="getSavedQuotes()">Search</button>
                </div>
           </form>
        </div>
        <div class="span3 text-right">
           <button type="button" class="btn" data-ng-click="viewQuoteDetails()" data-ng-disabled="selectedQuotes.length != 1">View</button>&nbsp;&nbsp;
           <button type="button" class="btn" data-ng-click="emailQuote()" data-ng-disabled="selectedQuotes.length != 1">Email to</button>&nbsp;&nbsp;
           <button type="button" class="btn" data-ng-click="deleteQuote()" data-ng-disabled="selectedQuotes.length != 1">Delete</button>&nbsp;&nbsp;
           <button type="button" class="btn" data-ng-show="$root.isFieldRequired('EXPORT_SAVED_QUOTES')"
               data-ng-click="exportAllSavedQuotes(quotesGrid)" data-ng-disabled="_.isEmpty(savedQuotes)">Export</button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="gridStyle span12 gridHeight4" data-ng-grid="quotesGrid" data-ng-model="savedQuotes"></div>
        </div>
    </div>
     <div class="row-fluid">
        <div class="text-right">
                <br>
            <div data-ng-show="authData.plsUser">
                Record(s): <strong data-ng-bind="rowCount"></strong><div class="input-append input-mini"></div>
                Total Cost: <strong data-ng-bind="totalCostSum | plsCurrency"></strong><div class="input-append input-mini"></div>
                Total Revenue: <strong data-ng-bind="totalRevenueSum | plsCurrency"></strong><div class="input-append input-mini"></div>
            </div>
            <div data-ng-show="!authData.plsUser">
                Record(s): <strong data-ng-bind="rowCount"></strong><div class="input-append input-mini"></div>
                Total: <strong data-ng-bind="totalRevenueSum | plsCurrency"></strong><div class="input-append input-mini"></div>
            </div>
        </div>
    </div>
    <div data-ng-include="'pages/content/quotes/save-quote.html'"></div>
    <div data-ng-include="'pages/content/quotes/load-list.html'"></div>
    <div data-pls-send-mail="emailOptions" data-dialog-show-option="emailOptions.showSendEmailDialog"></div>
</div>