<div data-ng-controller="ShipmentDetailsSpecialitiesCtrl">
    <div data-ng-init="initTab()" data-ng-if="!shipmentDetailsModel.shipment.isManualBol">
        <div class="row-fluid">
            <div class="span6 well well-small" id="notificationDiv">
                <div class="row-fluid">
                    <h4>Notifications</h4>
                </div>
                <hr>
                <div class="row-fluid">
                    <span class="span8">Notify:</span>
                    <span class="span4">Settings:</span>
                </div>
                <div class="row-fluid">
                    <div class="span8">
                        <select data-ng-if="shipmentDetailsModel.shipmentNotifications"
                                class="input-block-level a_shipmentNotifications"
                                size="5"
                                data-ng-options="email for email in getEmails()"
                                data-ng-model="shipmentDetailsModel.selectedEmail">
                        </select>
	                    <select data-ng-if="!shipmentDetailsModel.shipmentNotifications" class="input-block-level" size="5">
                        </select>
                    </div>

                    <div class="span4">
                        <div data-ng-repeat="notification in shipmentDetailsModel.notifications">
                            <span data-pls-selected-item="isSelected(notification.value)" data-label="{{notification.label}}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6 well well-small">
                <div class="span4">
                    <label for="pickupNotes" class="control-label">Load Specific Pickup Notes:</label>
                    <textarea id="pickupNotes" class="span12" data-ng-model="shipmentDetailsModel.shipment.finishOrder.pickupNotes" rows="7" disabled
                              readonly></textarea>
                </div>
                <div class="span4">
                    <label for="deliveryNotes" class="control-label">Load Specific Delivery Notes:</label>
                    <textarea id="deliveryNotes" class="span12" data-ng-model="shipmentDetailsModel.shipment.finishOrder.deliveryNotes" rows="7"
                              disabled readonly></textarea>
                </div>
                <div class="span4">
                    <label for="shippingLabelNotes" class="control-label">Shipping Label Notes:</label>
                    <textarea id="shippingLabelNotes" class="span12" data-ng-model="shipmentDetailsModel.shipment.finishOrder.shippingLabelNotes"
                              rows="7" disabled readonly></textarea>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 form-inline well well-small">
                <h4>Identifiers</h4>
                <hr>
                <div class="row-fluid">
                    <div data-ng-class="{span3: isVisibleJobGrid(), span6: !isVisibleJobGrid()}">
                        <div class="row-fluid">
                            <div class="span5 text-left">BOL #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.bolNumber"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5 text-left">SO #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.soNumber"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5 text-left">PO #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.poNumber"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5 text-left">PU #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.puNumber"></div>
                        </div>
                    </div>
                    <div  data-ng-class="{span5: isVisibleJobGrid(), span6: !isVisibleJobGrid()}">
                        <div class="row-fluid">
                            <div class="span5 text-left">Shipper Ref #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.ref"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5 text-left">Trailer #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.trailerNumber"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5 text-left">Cargo Value:</div>

                            <div class="span7 text-clipping">
                                <span data-ng-bind="shipmentDetailsModel.shipment.cargoValue"></span>
                                <span data-ng-if="shipmentDetailsModel.shipment.cargoValue">{{shipmentDetailsModel.shipment.selectedProposition.carrier.currencyCode}}</span>
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-if="!$root.isBrandOrAluma(shipmentDetailsModel.selectedCustomer.id)">
                            <div class="span5 text-left">GL #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.glNumber"></div>
                        </div>
                    </div>
                    <div class="span4" data-ng-if="isVisibleJobGrid()">
                        <div class="row-fluid">
                            <div data-ng-grid="jobGrid" class="pls-grid-responsive gridStyle gridHeight1_2 span12 text-center"></div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid" data-ng-if="$root.isBrandOrAluma(shipmentDetailsModel.selectedCustomer.id)">
                    <div class="span6">
                        <div class="span5 text-left nowrap">Branch / Cost Center:</div>
                        <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.opBolNumber"></div>
                    </div>
                    <div class="span6">
                        <div class="span5 text-left">GL #:</div>
                        <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.glNumber"></div>
                    </div>
                </div>
                <div class="row-fluid" data-ng-if="$root.isBrandOrAluma(shipmentDetailsModel.selectedCustomer.id)">
                    <div class="span6">
                        <div class="span5 text-left">Job Code:</div>
                        <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.jobNumbers[0].jobNumber"></div>
                    </div>
                    <div class="span6">
                        <div class="span5 text-left">Contract #:</div>
                        <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.partNumber"></div>
                    </div>
                </div>
                <hr/>
                <div class="row-fluid">
                    <span class="span3 control-label">Requested By:</span>
                    <textarea class="span9 form-control" rows="3" disabled readonly
                                data-ng-model="shipmentDetailsModel.shipment.finishOrder.requestedBy">
                    </textarea>
                </div>
            </div>
            <div class="span6 well well-small" id="pickupWindowDiv">
                <div class="row-fluid">
                    <span class="span5">Pickup Date:</span>
                    <span class="span7" id="pickupDateText"
                          data-ng-bind="$root.parseISODate(shipmentDetailsModel.shipment.finishOrder.pickupDate) | date:$root.wideAppDateFormat"></span>
                </div>

                <div class="row-fluid">
                    <span class="span4">Shipping hours of operation:</span>
                    <span class="span2 text-right">From:</span>
                    <span class="span2" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.pickupWindowFrom | pickupWindowTime"></span>
                    <span class="span1 text-right">To:</span>
                    <span class="span2" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.pickupWindowTo | pickupWindowTime"></span>
                </div>
                <div class="row-fluid">
                    <span class="span4">Receiving hours of operation:</span>
                    <span class="span2 text-right">From:</span>
                    <span class="span2" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.deliveryWindowFrom | pickupWindowTime"></span>
                    <span class="span1 text-right">To:</span>
                    <span class="span2" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.deliveryWindowTo | pickupWindowTime"></span>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="shipmentDetailsModel.shipment.isManualBol">
        <div class="row-fluid">

            <div class="span6 form-inline well well-small">
                <h4>Identifiers</h4>
                <hr>
                <div class="row-fluid">
                    <div data-ng-class="{span4: isVisibleJobGrid(), span6: !isVisibleJobGrid()}">
                        <div class="row-fluid">
                            <div class="span5 text-left">BOL #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.bolNumber"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5 text-left">PO #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.poNumber"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5 text-left">SO #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.soNumber"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5 text-left">PU #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.puNumber"></div>
                        </div>
                    </div>
                    <div data-ng-class="{span5: isVisibleJobGrid(), span6: !isVisibleJobGrid()}">
                        <div class="row-fluid">
                            <div class="span5 text-left">Shipper Ref #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.ref"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5 text-left">Trailer #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.trailerNumber"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5 text-left">Cargo Value:</div>

                            <div class="span7 text-clipping">
                                <span data-ng-bind="shipmentDetailsModel.shipment.cargoValue"></span>
                                <span data-ng-if="shipmentDetailsModel.shipment.cargoValue">{{shipmentDetailsModel.shipment.selectedProposition.carrier.currencyCode}}</span>
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-if="!$root.isBrandOrAluma(shipmentDetailsModel.selectedCustomer.id)">
                            <div class="span5 text-left">GL #:</div>
                            <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.glNumber"></div>
                        </div>
                    </div>
                    <div class="span3" data-ng-if="isVisibleJobGrid()">
                        <div class="row-fluid">
                            <div data-ng-grid="jobGrid" class="gridStyle gridHeight1_2 span12 text-center"></div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid" data-ng-if="$root.isBrandOrAluma(shipmentDetailsModel.selectedCustomer.id)">
                    <div class="span6">
                        <div class="span5 text-left nowrap">Branch / Cost Center:</div>
                        <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.opBolNumber"></div>
                    </div>
                    <div class="span6">
                        <div class="span5 text-left">GL #:</div>
                        <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.glNumber"></div>
                    </div>
                </div>
                <div class="row-fluid" data-ng-if="$root.isBrandOrAluma(shipmentDetailsModel.selectedCustomer.id)">
                    <div class="span6">
                        <div class="span5 text-left">Job Code:</div>
                        <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.jobNumbers[0].jobNumber"></div>
                    </div>
                    <div class="span6">
                        <div class="span5 text-left">Contract #:</div>
                        <div class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.partNumber"></div>
                    </div>
                </div>
                <hr>
                <div class="row-fluid">
                    <span class="span3 control-label">Requested By:</span>
                    <textarea class="span9 form-control" rows="3" disabled readonly
                                data-ng-model="shipmentDetailsModel.shipment.finishOrder.requestedBy">
                    </textarea>
                </div>
            </div>
            <div class="span6 well well-small">
                <div class="span4">
                    <label for="pickupNotes" class="control-label">Load Specific Pickup Notes:</label>
                    <textarea id="pickupNotes" class="span12" data-ng-model="shipmentDetailsModel.shipment.finishOrder.pickupNotes" rows="6" disabled
                              readonly></textarea>
                </div>
                <div class="span4">
                    <label for="deliveryNotes" class="control-label">Load Specific Delivery Notes:</label>
                    <textarea id="deliveryNotes" class="span12" data-ng-model="shipmentDetailsModel.shipment.finishOrder.deliveryNotes" rows="6"
                              disabled readonly></textarea>
                </div>
                <div class="span4">
                    <label for="shippingLabelNotes" class="control-label">Shipping Label Notes:</label>
                    <textarea id="shippingLabelNotes" class="span12" data-ng-model="shipmentDetailsModel.shipment.finishOrder.shippingLabelNotes"
                              rows="6" disabled readonly></textarea>
                </div>
            </div>
            <div class="span6 well well-small" id="pickupWindowDiv">
                <div class="row-fluid">
                    <span class="span5">Pickup Date:</span>
                    <span class="span7" id="pickupDateText"
                          data-ng-bind="$root.parseISODate(shipmentDetailsModel.shipment.finishOrder.pickupDate) | date:$root.wideAppDateFormat"></span>
                </div>

                <div class="row-fluid">
                    <span class="span4">Shipping hours of operation:</span>
                    <span class="span2 text-right">From:</span>
                    <span class="span2" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.pickupWindowFrom | pickupWindowTime"></span>
                    <span class="span1 text-right">To:</span>
                    <span class="span2" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.pickupWindowTo | pickupWindowTime"></span>
                </div>
                <div class="row-fluid">
                    <span class="span4">Receiving hours of operation:</span>
                    <span class="span2 text-right">From:</span>
                    <span class="span2" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.deliveryWindowFrom | pickupWindowTime"></span>
                    <span class="span1 text-right">To:</span>
                    <span class="span2" data-ng-bind="shipmentDetailsModel.shipment.finishOrder.deliveryWindowTo | pickupWindowTime"></span>
                </div>
            </div>
        </div>
    </div>
</div>