<div data-ng-controller="ShipmentDetailsOrderCtrl">
    <div data-ng-class="$root.isPlsPermissions('EDIT_PLS_REVENUE || EDIT_CARRIER_COST || VIEW_PLS_REVENUE_AND_CARRIER_COST || VIEW_PLS_CUSTOMER_COST_DETAILS')
                        && !shipmentDetailsModel.shipment.isManualBol ? 'span9' : 'span12'">
        <div class="row-fluid" data-ng-init="initTab()">
            <div class="span4 well well-small a_origin">
                <h4>Origin</h4>
                <hr>
                <div class="row-fluid">
                    <label class="control-label span4">Name:</label>
                    <span class="span8 a_origin_addressName text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.originDetails.address.addressName"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Code:</label>
                    <span class="span8 a_origin_addressCode text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.originDetails.address.addressCode"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Address 1:</label>
                    <span class="span8 a_origin_address1 text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.originDetails.address.address1"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Address 2:</label>
                    <span class="span8 a_origin_address2 text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.originDetails.address.address2"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">City, ST, ZIP:</label>
                    <span class="span8 a_origin_zip  text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.originDetails.address.zip | zip"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Country:</label>
                    <span class="span8 a_origin_country  text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.originDetails.address.zip.country.id"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Contact Name:</label>
                    <span class="span8 a_origin_contactName text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.originDetails.address.contactName"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Phone:</label>
                    <span class="span8 a_origin_phone" data-ng-bind="shipmentDetailsModel.shipment.originDetails.address.phone | phone"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Fax:</label>
                    <span class="span8 a_origin_fax" data-ng-bind="shipmentDetailsModel.shipment.originDetails.address.fax | phone"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Email:</label>
                    <span class="span8 a_origin_email text-clipping" data-ng-bind="shipmentDetailsModel.shipment.originDetails.address.email"></span>
                </div>
                <div class="row-fluid" data-ng-if="!shipmentDetailsModel.shipment.isManualBol">
                    <label class="control-label span4">Selected Accessorials:</label>
                    <span class="span8 text-clipping"
                          data-ng-bind="getAccessorialsNames(shipmentDetailsModel.shipment.originDetails.accessorials)"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Pickup Notes:</label>
                    <textarea class="span8" rows="2" data-ng-bind="shipmentDetailsModel.shipment.originDetails.address.pickupNotes"
                              readonly></textarea>
                </div>
            </div>

            <div class="span4 well well-small a_destination">
                <h4>Destination</h4>
                <hr>
                <div class="row-fluid">
                    <label class="control-label span4">Name:</label>
                    <span class="span8 a_dest_addressName text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.destinationDetails.address.addressName"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Code:</label>
                    <span class="span8 a_dest_addressName text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.destinationDetails.address.addressCode"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Address 1:</label>
                    <span class="span8 a_dest_address1 text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.destinationDetails.address.address1"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Address 2:</label>
                    <span class="span8 a_dest_address2" data-ng-bind="shipmentDetailsModel.shipment.destinationDetails.address.address2"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">City, ST, ZIP:</label>
                    <span class="span8 a_dest_zip  text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.destinationDetails.address.zip | zip"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Country:</label>
                    <span class="span8 a_dest_country  text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.destinationDetails.address.zip.country.id"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Contact Name:</label>
                    <span class="span8 a_dest_contactName text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.destinationDetails.address.contactName"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Phone:</label>
                    <span class="span8 a_dest_phone" data-ng-bind="shipmentDetailsModel.shipment.destinationDetails.address.phone | phone"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Fax:</label>
                    <span class="span8 a_dest_fax" data-ng-bind="shipmentDetailsModel.shipment.destinationDetails.address.fax | phone"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Email:</label>
                    <span class="span8 a_dest_email text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.destinationDetails.address.email"></span>
                </div>
                <div class="row-fluid" data-ng-if="!shipmentDetailsModel.shipment.isManualBol">
                    <label class="control-label span4">Selected Accessorials:</label>
                    <span class="span8 text-clipping"
                          data-ng-bind="getAccessorialsNames(shipmentDetailsModel.shipment.destinationDetails.accessorials)"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Delivery Notes:</label>
                    <textarea class="span8" rows="2" data-ng-bind="shipmentDetailsModel.shipment.destinationDetails.address.deliveryNotes"
                              readonly></textarea>
                </div>
            </div>

            <div class="span4 well well-small a_billTo">
                <div class="row-fluid">
                    <h4 class="pull-left" data-tooltip="This address designates where PLS will send the invoice.
                    Note that this address does not appear on the BOL nor does it represent a shipping address">Client Bill&nbsp;To</h4>

                    <div class="pull-right">
                        <div class="section-header-label">
                            Currency Code: {{shipmentDetailsModel.shipment.billTo.currency ||
                            shipmentDetailsModel.shipment.selectedProposition.carrier.currencyCode}}&nbsp;
                            <i class="icon-question-sign" data-tooltip="Bill To search is limited by Currency
                            Code from Carrier proposals"></i>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row-fluid">
                    <label class="control-label span4">Location:</label>
                    <span class="span8 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.location.name"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Name:</label>
                    <span class="span8 a_billTo_addressName text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.billTo.address.addressName"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Address 1:</label>
                    <span class="span8 a_billTo_address1 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.billTo.address.address1"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Address 2:</label>
                    <span class="span8 a_billTo_address2" data-ng-bind="shipmentDetailsModel.shipment.billTo.address.address2"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">City, ST, ZIP:</label>
                    <span class="span8 a_billTo_zip  text-clipping" data-ng-bind="shipmentDetailsModel.shipment.billTo.address.zip | zip"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Country:</label>
                    <span class="span8 a_billTo_country  text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.billTo.address.zip.country.id"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">I/O:</label>
                    <span class="span8" data-ng-bind="shipmentDetailsModel.shipment.shipmentDirection | shipmentDirection"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Pay Terms:</label>
                    <span class="span8" data-ng-bind="shipmentDetailsModel.shipment.paymentTerms | paymentTerms"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Invoice Contact:</label>
                    <span class="span8 a_billTo_contactName text-clipping"
                          data-ng-bind="shipmentDetailsModel.shipment.billTo.address.contactName"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Phone:</label>
                    <span class="span8 a_billTo_phone" data-ng-bind="shipmentDetailsModel.shipment.billTo.address.phone | phone"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Fax:</label>
                    <span class="span8 a_billTo_fax" data-ng-bind="shipmentDetailsModel.shipment.billTo.address.fax | phone"></span>
                </div>
                <div class="row-fluid">
                    <label class="control-label span4">Emails:</label>
                    <span class="span8 a_billTo_email text-clipping" data-ng-bind="shipmentDetailsModel.shipment.billTo.address.email"></span>
                </div>
                <div class="row-fluid" data-ng-show="shipmentDetailsModel.showCustomsBroker">
                    <label class="control-label span4">Customs Broker:</label>
                    <span class="span8 a_billTo_customsBroker" data-ng-bind="shipmentDetailsModel.shipment.customsBroker.name"></span>
                </div>
                <div class="row-fluid" data-ng-show="shipmentDetailsModel.showCustomsBroker">
                    <label class="control-label span4">Phone:</label>
                    <span class="span8 a_billTo_brokerPhone" data-ng-bind="shipmentDetailsModel.shipment.customsBroker.phone | phone"></span>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="gridStyle full-width gridHeight1 a_materialsGrid" data-ng-grid="shipmentDetailsModel.materialsGrid"></div>
            </div>
            <div class="row-fluid">
			    <div class="span6">
			        Total Weight: {{totals.weight | number}} lbs
			    </div>
			    <div class="span5">
			        <div class="row">
			            <div class="offset3 span3">
			                Q-Ty: {{totals.quantity}}
			            </div>
		                <div class="offset1 span3">
			                Pieces: {{totals.pieces}}
			            </div>
			        </div>
			    </div>
			</div>
            <div>
                <strong>Line Items :</strong> {{shipmentDetailsModel.shipment.finishOrder.quoteMaterials.length}}
            </div>
        </div>
    </div>

    <div class="span3" data-ng-if="!shipmentDetailsModel.shipment.isManualBol">
        <div class="row-fluid">
            <div class="row-fluid a_priceInfoPanel"
                 data-ng-if="$root.isPlsPermissions('EDIT_PLS_REVENUE || EDIT_CARRIER_COST || VIEW_PLS_REVENUE_AND_CARRIER_COST || VIEW_PLS_CUSTOMER_COST_DETAILS')">
                <div data-pls-quote-price-info="shipmentDetailsModel.shipment" data-show-accessorials-details="isEmptyAccessorialsDetails"
                     data-view-id="priceInfoPanel" data-parent-view-id="shipment-order"></div>
            </div>

            <div class="row-fluid" data-ng-show="accessorialsDetailsVisibility">
                <span>Accessorial Details</span>

                <div>
                    <div class="gridStyle full-width gridHeight4 a_materialsGrid" data-ng-grid="shipmentDetailsModel.accessorialsDetailsGrid"></div>
                </div>
            </div>
        </div>

        <div data-ng-if="shipmentDetailsModel.shipment.billTo.paymentMethod === 'PREPAID_ONLY'"  class="row-fluid" >
            <div data-pls-prepaid-details="shipmentDetailsModel.shipment.prepaidDetails" data-mode="readonly" class="span12 padding-bottom10"></div>
        </div>

        <div class="well well-small" data-ng-if="$root.isPlsPermissions('CAN_ADD_FREIGHT_BILL_TO_ON_SHIPMENT_ENTRY_AND_QUOTES')">
            <div class="row-fluid">
                <label class="control-label span5">Freight Bill Pay To:</label>
                <span class="span7 text-clipping" data-ng-bind="shipmentDetailsModel.shipment.freightBillPayTo.company"></span>
            </div>
        </div>
    </div>
</div>