<div data-ng-controller="AddCustomerDetailsCtrl">
    <div class="row-fluid" data-ng-init="addCustomerWizard.addCustomerDialog.init()">
        <div class="span6">
            <div class="row-fluid">
                <label class="control-label span2 offset1 label-middle" for="customerName"><b>Customer:</b></label>
                <div class="span8 control">
                    <input id="customerName" type="text" class="span12 a_customerName" data-pls-update-model-onblur data-ng-model="addCustomerWizard.customer.name"
                           maxlength="240" required/>
                </div>
            </div>
            <div class="row-fluid">
                <label class="control-label span2 offset1 label-middle" for="country"><b>Country:</b></label>
                <div class="span8 control">
                    <input id="country" class="span12 a_country" data-pls-country-search="addCustomerWizard.customer.address.country" maxlength="50" required/>
                </div>
            </div>
            <div class="row-fluid">
                <label class="control-label span2 offset1 label-middle" for="address1"><b>Address 1:</b></label>
                <div class="span8 control">
                    <input id="address1" type="text" class="span12 a_address1" data-ng-model="addCustomerWizard.customer.address.address1" maxlength="200" required/>
                </div>
            </div>
            <div class="row-fluid">
                <label class="control-label span2 offset1 label-middle" for="address2">Address 2:</label>
                <div class="span8 control">
                    <input id="address2" type="text" class="span12 a_address2" data-ng-model="addCustomerWizard.customer.address.address2" maxlength="200"/>
                </div>
            </div>
            <div class="row-fluid" data-ng-if="addCustomerWizard.zipAutoComplete">
                <label class="control-label span2 offset1 label-middle" for="cityStZip"><b>City, St, ZIP:</b></label>
                <div class="span8 control">
                    <input id="cityStZip" class="span12 a_cityStZip" data-pls-zip-search="addCustomerWizard.customer.address.zip" data-input-label-filter="zip"
                           data-country="addCustomerWizard.customer.address.country.id" required/>
                </div>
            </div>
            <div class="row-fluid" data-ng-if="!addCustomerWizard.zipAutoComplete">
                <label class="control-label span2 offset1 label-middle" for="city"><b>City:</b></label>
                <div class="span8 control">
                    <input id="city" type="text" class="span12 a_city" data-ng-model="addCustomerWizard.customer.address.zip.city" maxlength="30"
                           required data-ng-disabled="!addCustomerWizard.customer.address.country"/>
                </div>
            </div>
            <div class="row-fluid" data-ng-if="!addCustomerWizard.zipAutoComplete">
                <label class="control-label span2 offset1 label-middle" for="zip"><b>Zip:</b></label>
                <div class="span8 control">
                    <input id="zip" type="text" class="span12 a_zip" data-ng-model="addCustomerWizard.customer.address.zip.zip" maxlength="10"
                           required data-ng-disabled="!addCustomerWizard.customer.address.country"/>
                </div>
            </div>
            <div class="row-fluid">
                <label class="control-label span2 offset1 label-middle" for="contactFirst"><b>Contact:</b></label>
                <div class="span8 control">
                    <input id="contactFirst" type="text" class="span6 a_contactFirst" data-ng-model="addCustomerWizard.customer.contactFirstName"
                           maxlength="20" data-ng-pattern="/^[a-zA-Z0-9 ]+$/" required placeholder="First Name"/>
                    <input id="contactLast" type="text" class="span6 a_contactLast" data-ng-model="addCustomerWizard.customer.contactLastName"
                           maxlength="30" data-ng-pattern="/^[a-zA-Z0-9 ]+$/" required placeholder="Last Name"/>
                </div>
            </div>
            <div class="row-fluid">
                <label class="control-label span2 offset1 label-middle" for="phone"><b>Phone:</b></label>
                <div class="span8 control">
                    + 
                    <span id="phoneCountryCodeId" data-ng-bind="addCustomerWizard.customer.contactPhone.countryCode"></span>
                    &nbsp;(<input type="text" maxlength="3" class="span2 a_phoneAreaCode" data-ng-model="addCustomerWizard.customer.contactPhone.areaCode"
                             data-ng-minlength="1" data-ng-maxlength="3" data-pls-digits-validation placeholder="###" required/>
                    )&nbsp;<input id="phone" type="text" maxlength="7" class="span4 a_phoneNumber" data-ng-model="addCustomerWizard.customer.contactPhone.number"
                             data-ng-minlength="7" data-ng-maxlength="7" data-pls-digits-validation placeholder="#######" required/>
                    &nbsp;&nbsp;Ext.:&nbsp;
                    <input id="customerDetailsPhoneExtension" type="text" data-ng-model="addCustomerWizard.customer.contactPhone.extension"
                            maxlength="6" class="span3" data-ng-maxlength="6" data-pls-digits-validation placeholder="######"/>
                </div>
            </div>
            <div class="row-fluid">
                <label class="control-label span2 offset1 label-middle" for="fax">Fax:</label>
                <div class="span8 control">
                    + 
                    <span id="phoneCountryCodeId" data-ng-bind="addCustomerWizard.customer.contactFax.countryCode"></span>
                    &nbsp;(<input type="text" maxlength="3" class="span2 a_faxAreaCode" data-ng-model="addCustomerWizard.customer.contactFax.areaCode"
                             data-ng-minlength="1" data-ng-maxlength="3" data-pls-digits-validation placeholder="###"
                             data-ng-required="addCustomerWizard.customer.contactFax.number"/>
                    )&nbsp;<input id="fax" type="text" maxlength="7" class="span4 a_faxNumber" data-ng-model="addCustomerWizard.customer.contactFax.number"
                             data-ng-minlength="7" data-ng-maxlength="7" data-pls-digits-validation placeholder="#######"
                             data-ng-required="addCustomerWizard.customer.contactFax.areaCode"/>
                </div>
            </div>
            <div class="row-fluid">
                <label class="control-label span2 offset1 label-middle" for="email"><b>Email:</b></label>
                <div class="span8 control">
                    <input id="email" type="email" class="span12 a_email"
                        data-ng-pattern="/^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[_A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$/"
                        data-ng-model="addCustomerWizard.customer.contactEmail" maxlength="50" required/>
                </div>
            </div>
            <div class="row-fluid">
                <label class="control-label span2 offset1 label-middle" for="logo">Logo:</label>
                <div id="logo" class="controls span8" data-pls-customer-logo="addCustomerWizard.customer.logoId"
                     data-display-on-bol="addCustomerWizard.customer.displayLogoOnBol"
                     data-display-on-ship-Label="addCustomerWizard.customer.displayLogoOnShipLabel"
                     data-customer-id="addCustomerWizard.customer.id" data-parent-dialog="addCustomer"></div>
            </div>
        </div>
        <div class="span6">
            <div class="row-fluid">
                <label class="control-label span4 label-middle" for="Network"><b>Business Unit Name (Code):</b></label>
                <div class="controls span8">
                    <select id="Network" data-ng-model="addCustomerWizard.customer.networkId" class="span11"
                            data-ng-change="networkSelected()"
                            data-ng-options="network.id as (network.name + ' (' + network.unitCode + ')') for network in addCustomerWizard.networks" required>
                   </select>
                </div>
            </div>
            <div class="row-fluid">
                <label class="control-label span4 label-middle" for="companyCode"><b>Company Code:</b></label>
                <div class="controls span8">
                    <select id="companyCode" data-ng-model="addCustomerWizard.customer.companyCode" class="span11" required
                            data-ng-disabled="!isFreightSolutionsSelected()"
                            data-ng-options="codes.companyCode as (codes.description + ' (' + codes.companyCode + ')') for codes in addCustomerWizard.companyCodes">
                   </select>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group">
                    <label class="span4" for="costCenterCode"><b>Cost Center:</b></label>
                    <label class="span8" id="costCenterCode" data-ng-bind="getCostCenter()"></label>
                </div>
            </div>
            <div class="row-fluid">
                <label class="control-label span4 label-middle" for="location"><b>Location:</b></label>
                <div class="controls span8">
                    <input id="location" type="text" data-ng-model="addCustomerWizard.customer.location" class="span11" required maxlength="50"/>
                </div>
            </div>
            <div class="row-fluid">
                <label class="control-label span4 label-middle" for="accExec"><b>Account Executive:</b></label>
                <div class="controls span8">
                    <select id="accExec" data-ng-model="addCustomerWizard.customer.accountExecutive" class="span11 a_accExec"
                            data-ng-options="ae.id as ae.name for ae in addCustomerWizard.accountExecutives" required>
                        <option value="">
                    </select>
                </div>
            </div>
            <br>
            <div class="row-fluid">
                <div class="control-group form-inline">
                    <label class="control-label span4 label-middle">AE effective dates:</label>
                    <div class="controls span8">
                        <label class="control-label inline label-middle" for="accountExecutiveStartDate">Start:</label>
                        <div class="input-append">
                            <input name="dateField" type="text" id="accountExecutiveStartDate"
                                   data-ng-model="addCustomerWizard.customer.accountExecutiveStartDate"
                                   data-max-date="addCustomerWizard.customer.accountExecutiveEndDate"
                                   data-pls-datepicker class="input-small a_accountExecutiveStartDate" required/>
                            <button type="button" class="btn" data-toggle="datepicker">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                        &nbsp;&nbsp;
                        <label class="control-label label-middle" for="accountExecutiveEndDate">End:</label>
                        <div class="input-append">
                            <input name="dateField" type="text" id="accountExecutiveEndDate"
                                   data-ng-model="addCustomerWizard.customer.accountExecutiveEndDate"
                                   data-min-date="addCustomerWizard.customer.accountExecutiveStartDate"
                                   data-pls-datepicker class="input-small a_accountExecutiveEndDate"/>
                            <button type="button" class="btn" data-toggle="datepicker">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="control-group form-inline">
                    <label class="checkbox span4 label-middle" for="contractCustomer">
                        <input id="contractCustomer" class="a_contractCustomer" type="checkbox" data-ng-model="addCustomerWizard.customer.contract"
                               data-ng-change="customerContractChanged()">
                        Contract Customer:
                    </label>
                    <div class="controls span8">
                        <label class="control-label inline label-middle" for="startDate">Start:</label>
                        <div class="input-append">
                            <input type="text" id="startDate" data-ng-model="addCustomerWizard.customer.startDate"
                                   data-max-date="addCustomerWizard.customer.endDate" data-pls-datepicker class="input-small a_startDate"
                                   data-ng-required="addCustomerWizard.customer.contract" data-ng-disabled="!addCustomerWizard.customer.contract"/>
                            <button type="button" class="btn" data-toggle="datepicker" data-ng-disabled="!addCustomerWizard.customer.contract">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                        &nbsp;&nbsp;
                        <label class="control-label inline label-middle" for="endDate">End:</label>
                        <div class="input-append">
                            <input type="text" id="endDate" data-ng-model="addCustomerWizard.customer.endDate"
                                   data-min-date="addCustomerWizard.customer.startDate" data-pls-datepicker class="input-small a_endDate"
                                   data-ng-required="addCustomerWizard.customer.contract" data-ng-disabled="!addCustomerWizard.customer.contract"/>
                            <button type="button" class="btn" data-toggle="datepicker" data-ng-disabled="!addCustomerWizard.customer.contract">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row-fluid">
                <label class="control-label span4 label-middle" for="taxId"><b>Tax ID:</b></label>
                <div class="span8">
                    <input data-ng-if="addCustomerWizard.customer.address.country.id === 'USA'" id="taxId" type="text" class="span11 a_taxId"
                           data-ng-model="addCustomerWizard.customer.federalTaxId" maxlength="10"
                           data-ng-pattern="/^\d{2}-\d{7}$/" placeholder="##-#######" />
                    <input data-ng-if="addCustomerWizard.customer.address.country.id !== 'USA'" type="text" class="span11 a_taxId"
                           data-ng-model="addCustomerWizard.customer.federalTaxId" maxlength="35" />
                </div>
            </div>

            <div class="row-fluid">
                <label class="control-label span4 label-middle" for="ediNum">EDI #:</label>
                <div class="span8">
                    <input id="ediNum" type="text" class="span11 a_ediNum" data-ng-model="addCustomerWizard.customer.ediAccount"
                    data-ng-pattern="/^[a-zA-Z0-9 ]+$/"
                    maxlength="50"/>
                </div>
            </div>

            <div class="row-fluid">
                <label class="checkbox" for="createOrdersFromVendorBills">
                    <input id="createOrdersFromVendorBills" type="checkbox"
                        data-ng-model="addCustomerWizard.customer.createOrdersFromVendorBills">
                    Create Orders From Vendor Bills
                </label>
            </div>
            <div class="row-fluid">
                <label class="checkbox" for="generateConsigneeInvoice">
                    <input id="generateConsigneeInvoice" type="checkbox"
                        data-ng-model="addCustomerWizard.customer.generateConsigneeInvoice">
                    Generate Consignee Invoice
                </label>
            </div>
        </div>
    </div>
</div>
