<div class="row-fluid" data-pls-ignore-location-change-check="true">
    <div class="span2 offset10 padding-bottom10" data-ng-controller="ImportExportCtrl" data-ng-if="$root.isFieldRequired('CAN_EXPORT_PRICES') || $root.isFieldRequired('CAN_IMPORT_PRICES')">
        <button type="button" class="btn span5" data-ng-show="$root.isFieldRequired('CAN_EXPORT_PRICES')" data-ng-click="exportPrices()">Export</button>
        <button type="button" class="btn btn-primary span5" data-ng-show="$root.isFieldRequired('CAN_IMPORT_PRICES')" data-ng-click="importPrices()">Import</button>
        <div data-pls-import="importPricesOptions"></div>
        <div data-pls-progress-panel="exportPricesProgressPanelOptions"></div>
    </div>
</div>
<div class="row-fluid" data-pls-ignore-location-change-check="true">
    <div class="span12">
        <div class="tabbable tabs-left tabbable-bordered">
            <ul class="nav nav-tabs">
                <li class="active pls-menu-item">
                    <a href="#/pricing/tariffs">Tariffs</a>
                </li>
                <li class="pls-menu-item">
                    <a href="#/pricing/fuel">Fuel</a>
                </li>
                <li class="pls-menu-item">
                    <a href="#/pricing/customer">Customer Tariff</a>
                </li>
                <li class="pls-menu-item">
                    <a href="#/pricing/scac-codes">SCAC Codes</a>
                </li>
                <li class="pls-menu-item">
                    <a href="#/pricing/acc-types">Acc Type</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="pricingTab">
                    <div data-ng-include="route.current.pricingTab"></div>
                </div>
            </div>
        </div>
    </div>
</div>