<div data-ng-show="_.contains(['BUY_SELL'], profileDetails.ltlPricingType) ">
    <div class="control-group">
        <label class="control-label">Detail Id:</label>
        <div class="controls customer-label" data-ng-bind="profileDetails.profileDetails[1].id"></div>
    </div>
    <div class="control-group row-fluid">
        <label class="control-label" for="inputActive">Use Blanket</label>
        <div class="controls">
            <input type="checkbox" id="useBlanketAsSell"
                data-ng-disabled="profileDetails.profileDetails.useBlanketAsBuy"
                data-ng-model="profileDetails.profileDetails.useBlanketAsSell" /> 
        </div>
    </div>
</div>
<div data-ng-hide="_.contains(['MARGIN'], profileDetails.ltlPricingType)">
    <div class="control-group">
        <label class="control-label" for="inputCarrierType_1">Carrier Rating Type:</label>
        <div class="controls" >
            <select id="inputCarrierType_1" class="span12"
                    data-ng-change="getCarrierAPIDetails(profileDetails.profileDetails[1])"
                    data-ng-model="profileDetails.profileDetails[1].carrierType"
                    data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.ltlPricingType)"
                    data-ng-options="type.ltlRatingCarrierType as type.description for type in profileDictionary.carrierTypesWithoutAPI" required>
            </select>
        </div>
    </div>
</div>

<div class="control-group"
     data-ng-show="_.contains(['SMC3','MANUAL', 'CARRIER_API'], profileDetails.profileDetails[0].carrierType) && !_.contains(['MARGIN'], profileDetails.ltlPricingType)">
    <label class="control-label" for="inputMileageCalc_1">Mileage Calc:</label>
    <div class="controls" >
        <select id="inputMileageCalc_1"
                class="span12"
                data-ng-model="profileDetails.profileDetails[1].mileageCalc" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.ltlPricingType)"
                data-ng-options="type.id as type.description + ' ' + type.id.mileageVersion for type in profileDictionary.mileageTypes" required></select>
    </div>
</div>
<!-- NOT USED ANYWHERE in the SYSTEM. HENCE COMMENTING IT -->
<!-- 
<div class="control-group" data-ng-show="_.contains(['SMC3'], profileDetails.profileDetails[1].carrierType)">
    <label class="control-label" for="inputCarrierConnect_1">Carrier Connect:</label>
    <div class="controls" >
        <select id="inputCarrierConnect_1"
        data-ng-model="profileDetails.profileDetails[1].smc3Carrier"
        data-ng-options="carrier.scac as carrier.name for carrier in profileDictionary.smc3Carriers" required></select>
    </div>
</div>
 -->
<div class="control-group"
     data-ng-show="_.contains(['SMC3', 'CARRIER_API'], profileDetails.profileDetails[0].carrierType) && !_.contains(['MARGIN'], profileDetails.ltlPricingType)">
    <label class="control-label" for="inputRatingModule_1">SMC3 Tariff:</label>
    <div class="controls">
        <select id="inputRatingModule_1"
                class="span12"
                data-ng-model="profileDetails.profileDetails[1].smc3Tariff" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.ltlPricingType)"
                data-ng-options="tariff.tariffName as tariff.description for tariff in profileDictionary.smc3Tariffs" required></select>
    </div>
</div>
<!--
<div class="control-group" data-ng-show="_.contains(['SMC3','MANUAL'], profileDetails.profileDetails[1].carrierType)">
    <label class="control-label" for="inputMScale_1">M Scale:</label>
    <div class="controls" >
        <select id="inputMScale_1" data-ng-model="profileDetails.profileDetails[1].mscale" 
         data-ng-options="mscale.ltlLookupValue as mscale.description for mscale in profileDictionary.mscaleValues"></select>
    </div>
</div>
-->
<!-- profileDetails.defaultPricingTypeDetails.carrierType == 'SMC3' -->

<div data-ng-show="_.contains(['API'], profileDetails.profileDetails[1].carrierType)">
    <div class="control-group row-fluid">
        <label class="control-label text-left span6" >{{profileDetails.profileDetails[1].carrierAPIDetails.apiName}}</label>
    </div>
    <!-- 
    <div class="control-group">
        <label class="control-label" for="inputLogin_1">Login:</label>
        <div class="controls" >
            <input type="text" id="inputLogin_1" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPassword_1">Password:</label>
        <div class="controls" >
            <input type="password" id="inputPassword_1" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputKeyToken_1">Key/Token:</label>
        <div class="controls  controls-row" >
            <input type="text" id="inputKeyToken_1" />
            <button class="btn btn-small" type="button">
                Verify
            </button>
        </div>
    </div>
     
    <div class="form-horizontal">
        <div class="span3">&nbsp;</div>
        <button class="btn btn-small" type="button">Verify</button>
    </div>
     -->
</div>