<div id="carrierDetailsDialog" data-ng-controller="CarrierDetailsController" data-pls-modal="showCarrierDetails"
     data-close="closeCarrierDetailsDialog()" class="modalWidth6 modalHeight6" data-options="carrierDetailsModel"
     data-enter="closeCarrierDetailsDialog()">
    <div class="modal-header">
        <div class="row-fluid">
            <h4>Carrier Details</h4>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid" data-ng-if="carrierDetails.origProposal">
            <div class="row-fluid">
                <div class="span2 text-left"><b>Entered Class</b></div>
                <div class="span2 text-left"><b>Rated Class</b></div>
                <div class="span2 text-left"><b>NMFC</b></div>
                <div class="span1 text-left"><b>Qty</b></div>
                <div class="span2 text-left"><b>Weight</b></div>
                <div class="span2 text-left"><b>Base Rate</b></div>
                <div class="span1 text-right"><b>Rated Amount</b></div>
            </div>
            <div class="row-fluid">
                <div class="row-fluid"
                     data-ng-repeat="smc3CostDetail in carrierDetails.origProposal.pricingDetails.smc3CostDetails">
                    <div class="span2 text-left">{{smc3CostDetail.enteredNmfcClass}}</div>
                    <div class="span2 text-left">{{smc3CostDetail.nmfcClass}}</div>
                    <div class="span2 text-left">{{smc3CostDetail.nmfc}}</div>
                    <div class="span1 text-left">{{smc3CostDetail.quantity}}</div>
                    <div class="span2 text-left">{{smc3CostDetail.weight}}</div>
                    <div class="span2 text-left">{{smc3CostDetail.rate | plsCurrency}}</div>
                    <div class="span1 text-right">{{smc3CostDetail.charge | plsCurrency}}</div>
                </div>
                <div class="row-fluid" data-ng-if="carrierDetails.origProposal.pricingDetails.deficitChargeFromSmc3">
                    <div class="span4"></div>
                    <div class="span5 text-right">Deficit Charge From Smc3</div>
                    <div class="span3 text-right">
                        {{carrierDetails.origProposal.pricingDetails.deficitChargeFromSmc3 | plsCurrency}}
                    </div>
                </div>
            </div>
            <br/>
            <div class="row-fluid">
                <div class="span5">
                    <div class="row-fluid">
                        <div class="span6 text-left"><b>Move Type</b></div>
                        <div class="span4 text-left">{{carrierDetails.origProposal.pricingDetails.movementType}}</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 text-left"><b>Direct/Indirect</b></div>
                        <div class="span4 text-left">{{carrierDetails.serviceType}}</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 text-left"><b>Move ID</b></div>
                        <div class="span6 text-left">{{getMoveId()}}</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 text-left"><b>FSC ID</b></div>
                        <div class="span4 text-left">{{carrierDetails.origProposal.pricingDetails.carrierFSId}}</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 text-left"><b>Tariff Type</b></div>
                        <div class="span4 text-left">{{carrierDetails.origProposal.pricingDetails.pricingType}}</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 text-left"><b>Effective Date</b></div>
                        <div class="span4 text-left">
                            {{parseISODate(carrierDetails.origProposal.pricingDetails.effectiveDate)
                            | date:$root.appDateFullFormat}}
                        </div>
                    </div>
                </div>
                <div class="span7">
                    <div class="row-fluid">
                        <div class="span1"></div>
                        <div class="span7 text-left offset1">Total</div>
                        <div class="span3 text-right">
                            <div data-ng-if="!carrierDetails.origProposal.pricingDetails.deficitChargeFromSmc3">
                                {{carrierDetails.origProposal.pricingDetails.totalChargeFromSmc3 | plsCurrency}}
                            </div>
                            <div data-ng-if="carrierDetails.origProposal.pricingDetails.deficitChargeFromSmc3">
                                {{carrierDetails.origProposal.pricingDetails.totalChargeFromSmc3
                                + carrierDetails.origProposal.pricingDetails.deficitChargeFromSmc3 | plsCurrency}}
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" data-ng-repeat="accessorial in getAccessorialsExcludingFuel">
                        <div class="span1"></div>
                        <div class="span7 text-left offset1">{{accessorial.refType | ref}}&nbsp;({{accessorial.refType}})
                            <strong data-ng-hide="accessorial.guaranteedBy === undefined">
                                (by {{accessorial.guaranteedBy | longTime}})</strong>:
                            <i data-ng-if="accessorial.note" data-rel="popover" data-trigger="hover"
                               data-animation="false" data-content="{{accessorial.note}}" class="icon-info-sign"></i>
                        </div>
                        <div class="span3 text-right">{{accessorial.subTotal | plsCurrency}}</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span1"></div>
                        <div class="span7 text-left offset1">Accessorial Total</div>
                        <div class="span3 text-right">{{accessorialTotal | plsCurrency}}</div>
                    </div>
                    <div class="row-fluid" data-ng-if="carrierDetails.origProposal.pricingDetails.smc3MinimumCharge">
                        <div class="span1"></div>
                        <div class="span7 text-left offset1">CZAR Minimum Floor</div>
                        <div class="span3 text-right">
                            {{carrierDetails.origProposal.pricingDetails.smc3MinimumCharge | plsCurrency}}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span1"></div>
                        <div class="span7 text-left offset1">{{carrierDetails.origProposal.pricingDetails.costDiscount}}% Discount
                        </div>
                        <div class="span3 text-right">
                            {{basePriceFromSmc3 - carrierDetails.origProposal.pricingDetails.costAfterDiscount | plsCurrency}}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span1"></div>
                        <div class="span7 text-left offset1">Total After Discount</div>
                        <div class="span3 text-right">
                            {{carrierDetails.origProposal.pricingDetails.costAfterDiscount | plsCurrency}}
                        </div>
                    </div>
                    <div class="row-fluid" data-ng-if="carrierDetails.origProposal.pricingDetails.minimumCost">
                        <div class="span1"></div>
                        <div class="span7 text-left offset1">Minimum PLS Cost</div>
                        <div class="span3 text-right">{{carrierDetails.origProposal.pricingDetails.minimumCost | plsCurrency}}</div>
                    </div>
                    <div class="row-fluid" data-ng-if="carrierDetails.origProposal.pricingDetails.minimumCost">
                        <div class="span1"></div>
                        <div class="span7 text-left offset1">Total After Applying PLS Minimum Cost</div>
                        <div class="span3 text-right">{{getBaseRate(carrierDetails.origProposal, 'C') | plsCurrency}}</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span1"></div>
                        <div class="span7 text-left offset1">
                            {{carrierDetails.origProposal.pricingDetails.carrierFuelDiscount}}% Fuel Surcharge
                        </div>
                        <div class="span3 text-right">{{getFuelSurcharge(carrierDetails.origProposal, 'C') | plsCurrency}}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span1"></div>
                        <div class="span7 text-left offset1"><b>Total Cost</b></div>
                        <div class="span3 text-right"><b>{{carrierDetails.origProposal.totalCarrierAmt | plsCurrency}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button type="button" class="btn" data-ng-click="closeCarrierDetailsDialog()">OK</button>
        </div>
    </div>
</div>