<div data-pls-ignore-location-change-check="{{isFormClean()}}">
    <div data-ng-if="shipmentEntryData.shipment" data-ng-include="'pages/tpl/shipment-entry/address-information-template.html'"></div>
    <div data-ng-if="shipmentEntryData.shipment" data-ng-include="'pages/tpl/shipment-entry/product-information-template.html'"></div>
    <div data-ng-if="shipmentEntryData.shipment" data-ng-include="'pages/tpl/shipment-entry/select-carrier-template.html'"></div>
    <div data-ng-if="shipmentEntryData.shipment" data-ng-include="'pages/tpl/shipment-entry/notes-and-notifications-template.html'"></div>
    <div data-ng-if="shipmentEntryData.shipment" data-ng-include="'pages/content/quotes/shipment-details.html'"></div>
    <div data-ng-if="shipmentEntryData.shipment" data-ng-include="'pages/tpl/shipment-entry/preview-bol-window.html'"></div>
    <div data-ng-if="shipmentEntryData.shipment" data-ng-include="'pages/content/shipment-entry/save-info.html'"></div>
    <div data-ng-if="shipmentEntryData.shipment" data-ng-include="'pages/content/shipment-entry/success-warning.html'"></div>

    <div data-pls-send-mail="emailOptions" data-dialog-show-option="showSendMailDialog" data-modal-options="shipmentSendMailModalOptions"></div>
    <div data-pls-add-edit-product data-selected-customer="shipmentEntryData.selectedCustomer"></div>
    <div data-pls-payment-dialog></div>
    <div data-ng-include="'pages/content/quotes/copyfrom/copy-from.html'"></div>

    <div data-pls-gl-generator data-shipment="shipmentEntryData.shipment" data-customer="shipmentEntryData.selectedCustomer"></div>

    <div class="well well-small">
        <div class="row-fluid">
            <div class="span6 form-inline">
                <span data-ng-show = "!shipmentEntryData.shipment.id">
	                <input type="checkbox" name="terms_agreed" data-ng-model="confirmedTermsOfAgreement" style="margin-top: 0"/>&nbsp;
	                Agree to
	                <button type="button" class="btn a_termsOfAgreement" data-ng-click="openTermsOfAgreementDialog()">
	                    Terms of Agreement
	                </button>
                </span>
                <button type="button" class="btn text-right" data-ng-click="previewBol()"
                    data-ng-show="shipmentEntryData.shipment.id" data-ng-disabled="validatePreviewBol()">Preview BOL</button>
            </div>
            <div class="text-right span6">
                <button type="button" class="btn" data-ng-click="previewBol()"
                    data-ng-show="!shipmentEntryData.shipment.id" data-ng-disabled="validatePreviewBol()">Preview BOL</button>
                <button type="button" class="btn" data-ng-click="reQuote()" data-ng-disabled="isRequoteDisabled" data-ng-show="shipmentEntryData.shipment.id">Re-Quote</button>
                <button type="button" class="btn" data-ng-click="cancelShipment()" data-ng-show="shipmentEntryData.shipment.id" >Cancel</button>
                <button type="button" class="btn btn-primary" data-ng-click="bookIt()" data-ng-show="shipmentEntryData.shipment.id"
                    data-ng-disabled="validateShipment()">Save</button>
                <button type="button" class="btn btn-primary a_bookItButton" data-ng-click="bookIt()" data-ng-show="!shipmentEntryData.shipment.id"
                    data-ng-disabled="validateShipment()">Book It</button>
            </div>
        </div>
        <div data-pls-modal="showTermsOfAgreement" data-close="closeTermsOfAgreementDialog()" class="modalWidth10" data-enter="confirmTermsOfAgreement()">
            <div class="modal-header">
                <h4>Terms of Agreement</h4>
            </div>
            <div class="modal-body">
                <div data-ng-if="showTermsOfAgreement" class="row-fluid">
                    <div data-pls-pdf-container="termsAgreementOptions"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel a_closeButton" data-ng-click="closeTermsOfAgreementDialog()"><i class="icon-chevron-left"></i> Back</button>
                <button type="button" class="btn btn-primary cancel a_agreeButton" data-ng-click="confirmTermsOfAgreement()">Agree</button>
            </div>
        </div>
    </div>
</div>