<div id="closeLoad" data-pls-modal="isCloseLoadBoxVisible" data-close="cancelCloseLoad()"
     class="modalWidth4" data-ng-controller="FinancialBoardCloseLoadController"
     data-enter="closeLoad()">
    <div class="modal-header">
        <h4>
            <span>Close Load</span> 
        </h4>
    </div>
    <div class="modal-body">
        <form name="closeLoadForm" class="form-inline" novalidate>
           <div class="row-fluid">
                <label class="control-label span12" for="closeLoadNoteTxt"><strong>Are you sure you want to close load # {{loadId}}?</strong></label>
                <textarea class="span12" id="closeLoadNoteTxt" data-ng-model="note" rows="6" maxlength="400" 
                placeholder="Please state your reason for closing this load here..."></textarea>
           </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" data-ng-click="cancelCloseLoad()">Cancel</button>
        <button class="btn btn-primary" type="button" data-ng-disabled="closeLoadForm.$invalid" data-ng-click="closeLoad()">Ok</button>
    </div>
</div>