<div data-ng-controller="FinancialBoardErrorsController" data-ng-init="init()">
    <div class="row-fluid">
        <div class="span12">
            <div class="offset6 span6">
                <button type="button" class="offset3 btn span3" data-ng-click="cancelError()" data-ng-if="$root.isFieldRequired('FIN_BOARD_ERRORS_CANCEL')"
                        data-ng-disabled="selectedErrors.length != 1">Cancel Error</button>
                <button type="button" data-ng-class="{offset6: !$root.isFieldRequired('FIN_BOARD_ERRORS_CANCEL')}" class="btn span2" data-ng-click="exportErrors()"
                        data-ng-if="$root.isFieldRequired('CAN_EXPORT_INVOICE')"
                        data-ng-disabled="!errors.length || errorsGrid.ngGrid.filteredRows.length === 0">Export</button>
                <button type="button" class="btn span4" data-ng-click="reprocessInvoice()" data-ng-if="$root.isFieldRequired('CAN_PROCESS_INVOICE')"
                        data-ng-disabled="selectedErrors.length != 1">Re-Process Invoice</button>&nbsp;

            </div>
        </div>
    </div>
    <div class="row-fluid">
        &nbsp;
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="gridStyle span12 gridHeight4" data-ng-grid="errorsGrid" data-ng-model="errors"></div>
        </div>
    </div>

    <div data-pls-modal="processConfirmationDialog" data-close="processConfirmationDialog=false" class="modalWidth6 modalHeight7"
         data-enter="submitReprocessInvoice()" data-enter-allowed="!reprocessDialog.subject">
        <div class="modal-header">
            <h4>Re-Process Invoice</h4>
        </div>
        <div class="modal-body">
            <div class="form-inline">
                <label for="subject">Subject:</label>
                <input id="subject" data-ng-model="reprocessDialog.subject" data-ng-required="true"
                       maxlength="250" type="text" class="span10 float-right">
            </div>
            <br/>
            <div class="form-inline">
                <label for="comments">Note:</label>
                <textarea id="comments" data-ng-model="reprocessDialog.comments"
                       maxlength="2000" class="span10 float-right"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-ng-click="processConfirmationDialog=false" class="btn">Close</button>
            <button type="button" data-ng-if="$root.isFieldRequired('CAN_PROCESS_INVOICE')"
                data-ng-disabled="!reprocessDialog.subject"
                data-ng-click="submitReprocessInvoice()" class="btn btn-primary">Re-Process Invoice</button>
        </div>
    </div>
</div>