<div id="cbi-details" data-pls-modal="cbiDetailsPopup.show" data-close="cbiDetailsPopup.close()" class="modalWidth12 modalHeight7">
    <div class="modal-header">
        <h5>View Consolidated Invoice {{selectedInvoices[0].invoiceNumber}}</h5>
    </div>
    <div class="modal-body">
        <div class="row-fluid control-group">
            <div class="span2">
                    Records: <strong><span data-ng-bind="cbiItems.length" class="ng-binding"></span></strong>
                </div>
            <div class="span10" style="text-align: right;">
                <button type="button" class="btn" data-ng-click="exportCBI()" data-ng-show ="$root.isFieldRequired('EXPORT_CONSOLIDATED_INVOICES_ORDER_LIST')" data-ng-disabled="cbiItems.length === 0">Export</button>
                <button type="button" class="btn" data-ng-disabled="selectedCbiItems.length !== 1" data-ng-click="viewShipment(true)">View</button>
                <button type="button" class="btn" data-ng-click="cbiDetailsPopup.close()">Close</button>
           </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="gridStyle span12 gridHeight4" data-ng-grid="cbiDetailsGrid" data-ng-model="cbiItems"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>