<div data-ng-controller="FinancialBoardPriceController"
    data-ng-init="initPriceAudit()">
    <div class="row-fluid">
        <div class="span4">
            <span class="control-label">Records: <strong>{{gridRecords}}</strong></span>
        </div>
        <div class="span8 text-right">
            <button type="button" class="btn"
                    data-ng-if="$root.isPlsPermissions('BOARD_CAN_EDIT_SALES_ORDER')"
                    data-ng-click="editShipment('notes')"
                    data-ng-disabled="selectedShipments.length != 1">Add Note</button>
            <button type="button" class="btn"
                data-ng-click="editShipment()"
                data-ng-disabled="selectedShipments.length != 1">Edit</button>
            <button type="button" class="btn"
                data-ng-click="exportInvoices()"
                data-ng-disabled="shipmentsGrid.ngGrid.filteredRows.length === 0 || shipments && shipments.length === 0">Export</button>
            <button type="button" class="btn" data-ng-click="approve()"
                data-ng-if="$root.isFieldRequired('CAN_APPROVE_INVOICE')"
                data-ng-disabled="selectedShipments.length === 0">Approve</button>
            <button type="button" class="btn" data-ng-click="sendToInvoiceAudit()"
                    data-ng-disabled="selectedShipments.length === 0">Send To Invoice Audit</button>
            <button type="button" class="btn btn-primary" data-ng-click="showCloseLoadBox()"
                    data-ng-disabled="isAdjustment() || selectedShipments.length != 1">Close Load</button>
        </div>
    </div>
    &nbsp;
    <div class="row-fluid">
        <div class="gridStyle span12 gridHeight4"
            data-ng-grid="shipmentsGrid" data-ng-model="shipments"></div>
    </div>
    <div data-ng-include="'pages/content/sales-order/edit-sales-order.html'"></div>
    <div data-ng-include="'pages/content/financialBoard/send-to-audit.html'"></div>
    <div data-ng-include="'pages/content/financialBoard/close-load.html'"></div>
</div>