<div data-ng-controller="FinancialBoardTransactionalController" data-ng-init="initTransactionalTab()" data-pls-ignore-location-change-check="true">
    <div class="row-fluid">
        <div class="span4">
            <span>Records:  </span>
            <span data-ng-bind="gridRecords" class="pls-font-bold"></span>
            <span>Approved:  </span>
            <span data-ng-bind="gridApproved" class="pls-font-bold"></span>
            <span>Selected:  </span>
            <span data-ng-bind="gridSelected" class="pls-font-bold"></span>
        </div>
        <div class="span8 text-right">
            <button type="button" class="btn"
                    data-ng-if="$root.isPlsPermissions('BOARD_CAN_EDIT_SALES_ORDER')"
                    data-ng-click="editShipment('notes')"
                    data-ng-disabled="selectedInvoices.length != 1">Add Note</button>
            <button type="button" class="btn" data-ng-click="processInvoices()" data-ng-if="pageModel.processAllowed"
                    data-ng-disabled="!selectedInvoices.length">Override Scheduled Process</button>&nbsp;
            <button type="button" class="btn" data-ng-click="editShipment()"
                    data-ng-disabled="selectedInvoices.length != 1">Edit</button>&nbsp;
            <button type="button" class="btn" data-ng-click="exportInvoices()" data-ng-if="pageModel.exportAllowed"
                    data-ng-disabled="!invoices.length || invoiceGrid.ngGrid.filteredRows.length === 0">Export</button>
            <button type="button" class="btn" data-ng-click="sendToInvoiceAudit()" data-ng-if="pageModel.sendToAuditAllowed"
                    data-ng-disabled="selectedInvoices.length != 1">Send To Invoice Audit</button>
            <button type="button" class="btn" data-ng-click="sendToPriceAudit()" data-ng-if="$root.isFieldRequired('VIEW_PRICE_AUDIT')"
                    data-ng-disabled="selectedInvoices.length != 1">Send To Billing Hold</button>
        </div>
    </div>
    <div class="row-fluid">
        &nbsp;
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="gridStyle span12 gridHeight4" data-ng-grid="invoiceGrid" data-ng-model="invoices"></div>
        </div>
    </div>
    <div data-pls-process-invoice-dialog></div>

    <div data-ng-include="'pages/content/sales-order/edit-sales-order.html'"></div>
    <div data-ng-include="'pages/content/financialBoard/send-to-audit.html'"></div>
</div>