<div data-pls-ignore-location-change-check="false">
    <div class="row-fluid">
        <h4 class="span2 text-center">Create Manual BOL:</h4>
        <div class="span10">
            <data-pls-breadcrumb data-all-pages="docsPage.bolModel.steps" data-current-page="docs"></data-pls-breadcrumb>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <strong>Customer:</strong>
            <span class="a_customer">{{docsPage.bolModel.selectedCustomer.name}}</span>
            <strong>&nbsp;&nbsp;&nbsp;&nbsp;Carrier:</strong>
            <span class="a_carrier">{{docsPage.bolModel.shipment.selectedProposition.carrier.name}}</span>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <button class="btn btn-block a_printButton span2" type="button" data-ng-click="printDocument()" data-ng-disabled="_.isEmpty(selectedDocs)">Print</button>
            <div data-not-disable-me>
            <select class="span4" data-ng-init="selectedPrintType = printTypes[2]" data-ng-model="selectedPrintType"
                title="{{selectedPrintType.description}}" data-ng-disabled="!isSelectedOnlyShippingLabelDocument()" data-not-disable-me
                data-ng-options="printType as printType.label for printType in printTypes"></select>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="row-fluid">
                <div class="gridStyle gridHeight4 span10 a_docsGrid" data-ng-grid="docsGrid.options"></div>
                <div class="span2">
                    <button class="btn btn-block a_viewButton" type="button" data-ng-click="viewDocument()" data-ng-disabled="_.isEmpty(selectedDocs)">
                        View
                    </button>
                </div>
            </div>
        </div>
        <div class="span6 a_pdf" data-pls-pdf-container="docOptions"></div>
    </div>
    <br>
    <div class="row-fluid">
        <div class="offset10 span2">
            <button type="button" class="span6 btn" data-ng-click="navigateTo(docsPage.previous)">
                <i class="icon-chevron-left"></i>Back</button>
            <button type="button" class="span6 btn" data-ng-click="done();">Done</button>
            <input style="height:1;width:0;border:none"/>
        </div>
    </div>
    <div data-ng-include="'pages/content/sales-order/so-docs-full-view-dlg.html'"></div>
    <div data-ng-include="'pages/content/quotes/shipment-details.html'"></div>
</div>