<div data-pls-ignore-location-change-check="false">
    <div class="row-fluid">
        <h4 class="span2 text-center">Create Manual BOL:</h4>

        <div class="span10">
            <data-pls-breadcrumb data-all-pages="detailsPage.bolModel.steps" data-current-page="details"></data-pls-breadcrumb>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <strong>Customer:</strong>
            <span class="a_customer">{{detailsPage.bolModel.selectedCustomer.name}}</span>
            <strong>&nbsp;&nbsp;&nbsp;&nbsp;Carrier:</strong>
            <span class="a_carrier">{{detailsPage.bolModel.shipment.selectedProposition.carrier.name}}</span>
        </div>
    </div>
    <div class="row-fluid">
        <div id="refsDiv" class="span6 well well-small form-horizontal">
            <h5 class="pls-inline-block">Identifiers</h5>
            <hr/>

            <div class="row-fluid">
                <div data-ng-class="{'span3': !isBrandOrAluma(detailsPage.bolModel.selectedCustomer.id), 'span7': isBrandOrAluma(detailsPage.bolModel.selectedCustomer.id)}">
                    <div data-pls-identifier="BOL" data-shipment="detailsPage.bolModel.shipment"
                         data-invalid-identifier="invalidIdentifier.bol" class="row-fluid"></div>

                    <div data-pls-identifier="SO" data-shipment="detailsPage.bolModel.shipment"
                         data-invalid-identifier="invalidIdentifier.so" class="row-fluid"></div>

                    <div data-pls-identifier="PO" data-shipment="detailsPage.bolModel.shipment"
                         data-invalid-identifier="invalidIdentifier.po" class="row-fluid"></div>

                    <div data-pls-identifier="PU" data-shipment="detailsPage.bolModel.shipment"
                         data-invalid-identifier="invalidIdentifier.pu" class="row-fluid"></div>

                    <div data-pls-identifier="PRO" data-shipment="detailsPage.bolModel.shipment"
                         data-invalid-identifier="invalidIdentifier.pro" class="row-fluid"></div>
                </div>

                <div class="span5">
                    <div data-pls-identifier="SR" data-shipment="detailsPage.bolModel.shipment"
                         data-invalid-identifier="invalidIdentifier.sr" class="row-fluid"></div>

                    <div data-pls-identifier="TR" data-shipment="detailsPage.bolModel.shipment"
                         data-invalid-identifier="invalidIdentifier.tr" class="row-fluid"></div>

                    <div data-pls-identifier="CARGO" data-shipment="detailsPage.bolModel.shipment"
                         data-invalid-identifier="invalidIdentifier.cargo" class="row-fluid"></div>

                    <div data-pls-identifier="GL" data-shipment="detailsPage.bolModel.shipment" data-ng-if="!isBrandOrAluma(detailsPage.bolModel.selectedCustomer.id)"
                         data-is-shipment-details="true" data-customer-id="detailsPage.bolModel.selectedCustomer.id"
                         data-invalid-identifier="invalidIdentifier.gl" class="row-fluid"></div>
                </div>

                <div data-pls-identifier="JOB" data-shipment="detailsPage.bolModel.shipment" data-ng-if="!isBrandOrAluma(detailsPage.bolModel.selectedCustomer.id)"
                     data-invalid-identifier="invalidIdentifier.job" class="span4" data-customer-id="detailsPage.bolModel.selectedCustomer.id"></div>

            </div>

            <div data-brand-industrial-identifiers data-shipment="detailsPage.bolModel.shipment"
                 data-customer-id="detailsPage.bolModel.selectedCustomer.id"
                 data-ng-if="isBrandOrAluma(detailsPage.bolModel.selectedCustomer.id)"
                 data-invalid-identifier-gl="invalidIdentifier.gl" data-invalid-identifier-opbol="invalidIdentifier.opbol"></div>

            <div data-pls-identifier="RB" data-shipment="detailsPage.bolModel.shipment"
                 data-invalid-identifier="invalidIdentifier.rb" class="row-fluid"></div>
        </div>

        <div class="span6">
            <div class="row-fluid">
                <div id="notesDiv" class="span12 well well-small">
                    <div class="span4">
                        <label for="pickupNotes" class="control-label">Load Specific Pickup Notes:</label>
                        <textarea data-ng-model="detailsPage.bolModel.shipment.finishOrder.pickupNotes" id="pickupNotes" rows="8" maxlength="250"
                                  class="span12"></textarea>
                    </div>
                    <div class="span4">
                        <label for="deliveryNotes" class="control-label">Load Specific Delivery Notes:</label>
                        <textarea data-ng-model="detailsPage.bolModel.shipment.finishOrder.deliveryNotes" id="deliveryNotes" rows="8" maxlength="250"
                                  class="span12"></textarea>
                    </div>
                    <div class="span4">
                        <label for="shippingLabelNotes" class="control-label">Shipping Label Notes:</label>
                        <textarea data-ng-model="detailsPage.bolModel.shipment.finishOrder.shippingLabelNotes" id="shippingLabelNotes" rows="8"
                                  maxlength="250" class="span12"></textarea>
                    </div>
                </div>
            </div>

            <div id="pickupWindowDiv" class="well well-small">
                <div class="row-fluid">
                    <label class="control-label span5">
                        <strong>Pickup Date:</strong>
                    </label>
                    <span data-ng-bind="$root.parseISODate(detailsPage.bolModel.shipment.finishOrder.pickupDate) | date:$root.wideAppDateFormat"
                          class="controls span7 a_pickupDate"></span>
                </div>

                <div class="row-fluid">
                    <label for="fromTime" class="control-label span3 label-middle">
                        <strong>Shipping hours of operation:</strong>
                    </label>

                    <div data-ng-init="detailsPage.bolModel.shipment.finishOrder.pickupWindowFrom">
                        <div class="offset1 span1">
                            <label for="fromTime" class="control-label text-right label-middle">From:</label>
                        </div>
                        <div class="span2">
                            <input data-pls-pickup-window="detailsPage.bolModel.shipment.finishOrder.pickupWindowFrom" data-typeahead-min-length="2"
                                   data-pls-pickup-window-required="true" id="fromTime" placeholder="HH:MM AM/PM"
                                   class="input-mini span12 a_pickupWindowFrom">
                        </div>
                    </div>

                    <div data-ng-init="detailsPage.bolModel.shipment.finishOrder.pickupWindowTo">
                        <div class="offset1 span1">
                            <label for="toTime" class="control-label text-right label-middle">To:</label>
                        </div>
                        <div class="span2">
                            <input data-pls-pickup-window="detailsPage.bolModel.shipment.finishOrder.pickupWindowTo" data-typeahead-min-length="2"
                                   data-pls-pickup-window-required="true" id="toTime" placeholder="HH:MM AM/PM"
                                   class="input-mini span12 a_pickupWindowTo">
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <label for="deliveryFromTime" class="control-label span3 label-middle">
                        <strong>Receiving hours of operation:</strong>
                    </label>

                    <div data-ng-init="detailsPage.bolModel.shipment.finishOrder.deliveryWindowFrom">
                        <div class="offset1 span1">
                            <label for="deliveryFromTime" class="control-label text-right label-middle">From:</label>
                        </div>
                        <div class="span2">
                            <input data-pls-pickup-window="detailsPage.bolModel.shipment.finishOrder.deliveryWindowFrom" data-typeahead-min-length="2"
                                   data-pls-pickup-window-required="false" id="deliveryFromTime" placeholder="HH:MM AM/PM" class="input-mini span12">
                        </div>
                    </div>

                    <div data-ng-init="detailsPage.bolModel.shipment.finishOrder.deliveryWindowTo">
                        <div class="offset1 span1">
                            <label for="deliveryToTime" class="control-label text-right label-middle">To:</label>
                        </div>
                        <div class="span2">
                            <input data-pls-pickup-window="detailsPage.bolModel.shipment.finishOrder.deliveryWindowTo" data-typeahead-min-length="2"
                                   data-pls-pickup-window-required="false" id="deliveryToTime" placeholder="HH:MM AM/PM" class="input-mini span12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="offset10 span2">
        <button type="button" class="span6 btn" data-ng-click="navigateTo(detailsPage.previous)">
            <i class="icon-chevron-left"></i>Back</button>
        <button type="button" class="span6 btn" data-ng-click="navigateTo(detailsPage.next)"
            data-ng-disabled="!canNextStep()">Next<i class="icon-chevron-right"></i></button>
    </div>
</div>