<div data-ng-controller="CustomerActivityCtrl">
	<div class="row-fluid">
		<div class="span12">
			<div class="span8" data-pls-date-range data-range-type="dateRangeType"
				data-model="dateRange"></div>
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="span6">
			<div class="gridStyle gridHeight5 span12"
				data-ng-grid="customerUsersGrid.options"></div>
		</div>
		<div class="span6">

			<div class="row-fluid">
				<div class="span12">
					<button type="button" class="btn span3">Customer</button>
					<button type="button" class="btn span3">Add Customer</button>
					<button type="button" class="btn span3 disabled">Login as User...</button>
				</div>
			</div>

			<br />
			<div class="row-fluid">

				<div class="tabbable tabbable-bordered span12">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1" data-toggle="tab"
							data-ng-click="">Booked</a></li>
						<li><a href="#tab2" data-toggle="tab"
							data-ng-click="">Quoted</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<div
								data-ng-include="'pages/content/customer-activity/customer-activity-booked.html'">
							</div>
						</div>
						<div class="tab-pane" id="tab2">
							<div
								data-ng-include="'pages/content/customer-activity/customer-activity-quoted.html'">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

