<div class="row-fluid" data-ng-controller="PricingDetailsCtrl">
    <!--FIRST COLUMN -->
    <div class="span7">
        <div class="row-fluid" data-ng-form="formArea">
            <div class="span10">
                <!-- Copy From Controls -->
                <div class="form-horizontal" data-ng-hide="customerMarginSetup || isBlanketCSP || profileDetails.isCSPAndCarrierApi() || profileDetails.isLTLLCApi()">
                    <label class="control-label" for="inputCopyFrom"><b>Copy from:</b></label>
                    <div class="controls" >
                        <select class="span11" id="inputCopyFrom" data-ng-change="confirmCopyFrom()" data-ng-model="selectedRateToCopy"
                            data-ng-options="prof.id as prof.rateName for prof in copyProfiles">
                        </select>
                    </div>
                </div>

                <!-- ID -->
                <dl class="dl-horizontal">
                    <dt>ID:</dt>
                    <dd>{{priceDetail.id}}</dd>
                </dl>
                <div class="row-fluid">
                    <!-- PLS Cost Panel -->
                    <div class="span12 well well-small">
                        <div class="row-fluid">
                            <div class="span12" data-ng-if="!profileDetails.isCSPAndCarrierApi()">
                                <div class="row-fluid" data-ng-show="showCostPanel">
                                    <div class="span6">
                                        <b>PLS Cost</b>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span5" data-ng-show="showCostPanel">
                                        <label>Type:</label>
                                    </div>
                                    <div class="span7">
                                        <div class="span2 text-center">
                                            <label>Min (lbs)</label>
                                        </div>
                                        <div class="span3 text-center">
                                            <label>Max (lbs)</label>
                                        </div>
                                        <div class="span2 text-center">
                                            <label>Min (miles)</label>
                                        </div>
                                        <div class="span2 text-center">
                                            <label>Max (miles)</label>
                                        </div>
                                        <div class="span3 text-center" data-ng-show="showCostPanel">
                                            <label>Min Cost</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span5" data-ng-show="showCostPanel">
                                        <div class="span8">
                                            <select class="span12" id="inputCostType"
                                                    data-ng-model="priceDetail.costType"
                                                    data-ng-options="type.value as  type.label for type in detailsDictionary.ltlCostTypes"
                                                    data-ng-disabled="disabledCostPanel">
                                            </select>
                                        </div>
                                        <div class="span4">
                                            <div data-ng-if="_.contains(['PC', 'DC'], priceDetail.costType)" >
                                                <input class="input-block-level" type="text"
                                                        maxlength="5"
                                                        data-ng-model="priceDetail.costAmount"
                                                        data-ng-disabled="disabledCostPanel"
                                                        data-ng-required="!disabledCostPanel"
                                                        data-pls-number="positivePercentage"> 
                                            </div>
                                            <div data-ng-if="!_.contains(['PC', 'DC'], priceDetail.costType)" >
                                                 <input class="input-block-level" type="text"
                                                        data-ng-model="priceDetail.costAmount"
                                                        data-ng-disabled="disabledCostPanel"
                                                        data-ng-required="!disabledCostPanel" 
                                                        data-pls-number>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span7">
                                        <div class="span2">
                                            <input class="input-block-level" type="text" id="inputMinLbsValue" 
                                                    data-ng-model="priceDetail.minWeight"
                                                    data-ng-disabled="disabledCostPanel" 
                                                    data-pls-number>
                                        </div>
                                        <div class="span3">
                                            <input class="input-block-level" type="text" id="inputMaxLbsValue" 
                                                    data-ng-model="priceDetail.maxWeight"
                                                    data-ng-disabled="disabledCostPanel" 
                                                    data-pls-number>
                                        </div>
                                        <div class="span2">
                                            <input class="input-block-level" type="text" id="inputMinMilesValue" 
                                                    data-ng-model="priceDetail.minDistance"
                                                    data-ng-disabled="disabledCostPanel" 
                                                    data-pls-number>
                                        </div>
                                        <div class="span2">
                                            <input class="input-block-level" type="text" id="inputMaxMilesValue" 
                                                    data-ng-model="priceDetail.maxDistance"
                                                    data-ng-disabled="disabledCostPanel" 
                                                    data-pls-number>
                                        </div>
                                        <div class="span3" data-ng-show="showCostPanel">
                                            <input class="input-block-level" type="text" id="inputMinCostValue" 
                                                    data-ng-model="priceDetail.minCost"
                                                    data-ng-disabled="disabledCostPanel" 
                                                    data-pls-number>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span12" data-ng-show="showMarginPanel">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <b>{{marginPanelName}}</b>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                     <div class="span1">
                                        <label for="inputMarginType">Type:</label>
                                    </div>
                                    <div class="span5">
                                        <div class="span8">
                                            <select class="span12" id="inputMarginType"
                                                    data-ng-model="priceDetail.marginType"
                                                    data-ng-options="type.value as  type.label for type in detailsDictionary.ltlMarginTypes">
                                            </select>
                                        </div>
                                        <div class="span4">
                                            <input class="input-block-level" type="text" data-ng-model="priceDetail.marginAmount" data-pls-number
                                                   data-ng-required="profileDetails.isCSPAndCarrierApi() || profileDetails.isLTLLCApi()"/>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <span class="span3">Min $:</span>
                                        <div class="span6">
                                            <input class="input-block-level" type="text" id="inputMinMarginValue" data-ng-model="priceDetail.minMargin" data-pls-number>
                                        </div>
                                    </div>
                                    <div class="span2"></div>
                                </div>
                                <div class="row-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tariff controls -->
                <div class="row-fluid">
                    <div data-ng-class="{offset1: (profileDetails.isCSPAndCarrierApi()), offset7: !(profileDetails.isCSPAndCarrierApi())}">
                        <p class="muted">Only if need to be overridden</p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5" data-ng-hide="isMarginSetup || profileDetails.isCSPAndCarrierApi()">
                        <div class="row-fluid" data-ng-hide="profileDetails.isLTLLCApi()">
                            <div class="control-group form-horizontal span12">
                                <label class="control-label span4 text-left" for="inputTariff">Tariff:</label>
                                <div class="controls span8" >
                                    <select class="span12" id="inputTariff"
                                            data-ng-model="priceDetail.smcTariff" data-ng-disabled="isBlanketCSP"
                                            data-ng-options="tariff.tariffName as tariff.description for tariff in detailsDictionary.smc3Tariffs">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-hide="profileDetails.isLTLLCApi()">
                            <div class="control-group form-horizontal span12">
                                <label class="control-label span4 text-left" for="freightClass">Freight Class:</label>
                                <div class="controls span8" >
                                    <select class="span12" id="freightClass" data-ng-disabled="isBlanketCSP"
                                            data-ng-model="priceDetail.freightClass"
                                            data-ng-options="c as c | commodityClass for c in detailsDictionary.classes">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="control-group form-horizontal span12">
                                 <label class="control-label span4 text-left" for="inputMovType">Move Type:</label>
                                 <div class="controls span8" >
                                     <select class="input-small span12" id="inputMovType" 
                                                 data-ng-model="priceDetail.movementType" 
                                                 data-ng-disabled="isBlanketCSP">
                                         <option value="BOTH">Both</option>
                                         <option value="INTRA">Intra State</option>
                                         <option value="INTER">Inter State</option>
                                     </select>
                                 </div>
                             </div>
                         </div>
                    </div>
                    <div class="span5">
                        <div class="row-fluid">
                            <div class="control-group form-horizontal span12">
                                <label class="control-label span6" for="inputEffectiveDate">Effective:</label>
                                <div class="input-append span6" >
                                    <input name="dateField" type="text" id="inputEffectiveDate"
                                        data-ng-model="priceDetail.effDate"
                                        data-date-format="mm/dd/yy" 
                                        data-max-date="priceDetail.expDate"
                                        data-pls-datepicker data-ng-disabled="isBlanketCSP"
                                        data-pls-highlighting-date data-effective='priceDetail.effDate' data-expired='priceDetail.expDate'
                                        class="input-small"/>
                                    <button type="button" class="btn" data-toggle="datepicker" data-ng-disabled="isBlanketCSP">
                                        <i class="icon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="control-group form-horizontal span12">
                                <label class="control-label span6" for="inputExpiredDate">Expired:</label>
                                <div class="input-append span6" >
                                    <input name="dateField" type="text" id="inputExpiredDate"
                                        data-ng-model="priceDetail.expDate"
                                        data-date-format="mm/dd/yy"
                                        data-min-date="priceDetail.effDate"
                                        data-pls-datepicker data-ng-disabled="isBlanketCSP"
                                        class="input-small" />
                                    <button type="button" class="btn" data-toggle="datepicker" data-ng-disabled="isBlanketCSP">
                                        <i class="icon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="control-group form-horizontal span12" data-ng-hide="isMarginSetup || profileDetails.isCSPAndCarrierApi()">
                                <label class="control-label span6" for="inputType">Type:</label>
                                <div class="controls span6">
                                    <select class="input-small span12" id="inputType" 
                                                data-ng-model="priceDetail.serviceType" data-ng-disabled="isBlanketCSP"
                                                data-ng-options="type.value as  type.label for type in detailsDictionary.ltlServiceTypes">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="row-fluid">
                        <b>Origin (City/State/Zip/Country):</b>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <textarea rows="3" class="input-block-level" data-ng-model="editedAddress.origin" data-ng-disabled="isBlanketCSP">
                            </textarea>
                            <b>Destination (City/State/Zip/Country):</b>
                            <textarea rows="3" class="input-block-level" data-ng-model="editedAddress.destination" data-ng-disabled="isBlanketCSP">
                            </textarea>
                            <div class="row-fluid">
                                <div class="offset8 span3 controls-row">
                                    <button class="btn btn-block" type="button" data-ng-click="setZips()"
                                            data-ng-disabled="isBlanketCSP || !editedAddress.origin || !editedAddress.destination">Set &gt;</button>
                                </div>
                            </div>
                        </div>
                        <div class="span5">
                            <div class="gridStyle gridHeight2 span12" data-ng-grid="addressGrid"></div>
                        </div>
                        <div class="span2">
                            <div class="row-fluid">
                                <button class="btn btn-block" type="button" data-ng-click="editZips()" data-ng-disabled="isBlanketCSP || selectedAddresses.length != 1">Edit</button>
                            </div>
                            <br>
                            <div class="row-fluid">
                                <button class="btn btn-block" type="button" data-ng-click="deleteZips()" data-ng-disabled="isBlanketCSP || selectedAddresses.length != 1">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAK mapping controls -->
            <div class="span2" data-ng-hide="customerMarginSetup || profileDetails.isCSPAndCarrierApi() || profileDetails.isLTLLCApi()">
                <b>FAK Mapping:</b>
                {{commodityClass}}
                <div class="span12">
                    <table style="height:30px" class="nonmarg">
                        <tr data-ng-repeat="class in detailsDictionary.classes">
                            <td>
                                <label class="control-label" for="class{{$index}}">{{class | commodityClass}}</label>
                            </td>
                            <td>
                                <select data-ng-attr-id="class{{$index}}" data-ng-disabled="isBlanketCSP"
                                        data-ng-model="priceDetail.fakMapping[class]"
                                        data-ng-options="c as c | commodityClass for c in detailsDictionary.classes">
                                        <option value=""></option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row-fluid">
            <button class="btn offset4 span2" type="button" data-ng-click="clear()">Clear</button>
            <button class="btn btn-primary span3" type="button"  data-ng-click="save(true)"
                data-ng-disabled="formArea.$invalid || !priceDetail.id || isBlanketCSP">Save as New</button>
            <button class="btn btn-primary span2" type="button" data-ng-disabled="formArea.$invalid || (isBlanketCSP && !priceDetail.id)" 
                data-ng-click="save()">Save</button>
        </div>
    </div>
    <!--END FIRST COLUMN -->

    <!--SECOND COLUMN -->
    <div class="span5">
        <div class="tabbable tabbable-bordered span12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="" data-toggle="tab" data-ng-click="loadListItems('Active')">Active</a></li>
                <li><a href="" data-toggle="tab" data-ng-click="loadListItems('Expired')">Expired</a></li>
                <li><a href="" data-toggle="tab" data-ng-click="loadListItems('Archived')">Archived</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="span10">
                        <div class="gridStyle gridHeight4 span12" data-ng-grid="gridOptions" data-ng-dblclick="editDetails()"></div>
                    </div>
                    <div class="span2">
                        <div class="row-fluid">
                            <button class="btn btn-block" type="button" data-ng-click="editDetails()" data-ng-disabled="selectedItems.length!=1 || currentTabName==='Archived'">
                                Edit
                            </button>
                        </div>
                        <br>
                        <div class="row-fluid">
                            <button class="btn btn-block" type="button" data-ng-click="expireEvent()" 
                                data-ng-disabled="currentTabName!=='Active' || selectedItems.length!=1 || isBlanketCSP">
                                Expire
                            </button>
                        </div>
                        <br>
                        <div class="row-fluid">
                            <button class="btn btn-block" type="button" data-ng-click="changeStatusEvent()" 
                                data-ng-disabled="selectedItems.length!=1 || isBlanketCSP">
                                {{changeStatusButtonName}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END SECOND COLUMN -->
</div>