<div class="row-fluid" data-ng-controller="FuelAndTriggersCtrl">
    <form name="formArea" novalidate>
        <!-- FIRST COLUMN -->
        <div class="span6 green-block">
            <div class="span12">
                <div class="form-horizontal" data-ng-hide="customerMarginSetup || _.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">
                    <!-- Copy From Controls -->
                    <div class="control-group">
                        <label class="control-label" for="inputCopyFrom"><b>Copy from:</b></label>
                        <div class="controls">
                            <select class="span11" id="inputCopyFrom" data-ng-change="openDialog()" data-ng-model="selectedRateToCopy"
                                    data-ng-options="prof.rateName for prof in copyProfiles">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">&nbsp;</div>
            <div class="row-fluid">
                <div class="span12 well well-small">
                    <div class="row-fluid" data-ng-hide="customerMarginSetup">
                        <label class="control-label span3 offset1 label-middle" for="inputRegion">Region:</label>
                        <select class="span8" id="inputRegion" data-ng-model="selectedFuel.dotRegion"
                                data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"
                                data-ng-options="region.description for region in dotRegionsList">
                        </select>
                    </div>

                    <div class="row-fluid" data-ng-hide="customerMarginSetup">
                        <label class="control-label span3 offset1 label-middle" for="inputEffectiveDay">Effective Day:</label>
                        <select class="span8" id="inputEffectiveDay" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"
                                data-ng-hide="customerMarginSetup" data-ng-model="selectedFuel.effectiveDay" 
                                data-ng-options="type.value as  type.label for type in detailsDictionary.fuelWeekDays">
                        </select>
                    </div>

                    <div class="row-fluid" data-ng-hide="_.contains(['BLANKET', 'BENCHMARK'], profileDetails.pricingType.ltlPricingType) 
                           || (_.contains(['BUY', 'BUY_SELL'], pricingType) && _.contains(['BUY_SELL'], profileDetails.pricingType.ltlPricingType))">
                        <label class="control-label span3 offset1 label-middle" for="inputUpchargeFlat1">
                            <input type="radio" name="upchargeType" id="upchargeFlatRadio"
                                    value="FL" data-ng-model="selectedFuel.upchargeType"/>
                                    Upcharge Flat:
                        </label>
                        <input id="inputUpchargeFlat1" type="text"
                            data-ng-model="selectedFuel.upchargeFlat" data-pls-number/>
                    </div>

                    <div class="row-fluid" data-ng-hide="_.contains(['BLANKET', 'BENCHMARK'], profileDetails.pricingType.ltlPricingType)
                           || (_.contains(['BUY', 'BUY_SELL'], pricingType) && _.contains(['BUY_SELL'], profileDetails.pricingType.ltlPricingType))">
                        <label class="control-label span3 offset1 label-middle" for="upchargePercentRadio">
                            <input type="radio" name="upchargeType"
                                    id="upchargePercentRadio" value="PC"
                                    data-ng-model="selectedFuel.upchargeType"/> Upcharge %:
                        </label>
                        <input id="inputUpchargeFlat" type="text"
                                data-ng-model="selectedFuel.upchargePercent" data-pls-number/>
                    </div>

                    <div class="row-fluid">
                        <div class="offset2">
                            <p class="muted">Only if need to be overridden</p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label span3 offset1 label-middle" for="inputEffectiveDate">Effective:</label>
                        <div class="input-append">
                            <input name="dateField" type="text" id="inputEffectiveDate"
                                data-ng-model="selectedFuel.effectiveDate"
                                data-date-format="mm/dd/yy" data-pls-datepicker
                                data-max-date="selectedFuel.expirationDate"
                                data-pls-highlighting-date data-effective='selectedFuel.effectiveDate' data-expired='selectedFuel.expirationDate'
                                class="input-small" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                            <button type="button" class="btn" data-toggle="datepicker" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <label class="control-label span3 offset1 label-middle" for="inputExpiredDate">Expired:</label>
                        <div class="input-append">
                            <input name="dateField" type="text" id="inputExpiredDate"
                                data-ng-model="selectedFuel.expirationDate"
                                data-date-format="mm/dd/yy" data-pls-datepicker
                                data-min-date="selectedFuel.effectiveDate"
                                class="input-small" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                            <button type="button" class="btn" data-toggle="datepicker" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <b>Origin (City/State/Zip/Country):</b>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="row-fluid">
                                <textarea rows="5" class="input-large span12" id="textAreaOriginZip"
                                    data-ng-model="zipOriginText" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">
                                </textarea>
                            </div>
                            <div class="row-fluid">
                                <div class="offset8 span3 controls-row">
                                    <button class="btn btn-block" type="button"
                                            data-ng-click="submitGeoServiceChanges()">Set &gt;</button>
                                </div>
                            </div>
                        </div>
                        <div class="span5">
                            <div class="gridStyle gridHeight2 span12"
                                data-ng-grid="addressGrid">
                            </div>
                        </div>
                        <div class="span2">
                            <div class="row-fluid">
                                <button class="btn btn-block" type="button" data-ng-click="startEditGeoService()" 
                                    data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType) || selectedAddresses.length != 1">Edit
                                </button>
                            </div>
                            <br>
                            <div class="row-fluid">
                                <button class="btn btn-block" type="button" data-ng-click="deleteGeoService()" 
                                    data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType) || selectedAddresses.length != 1">Delete
                                </button>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row-fluid">
                        <div class="offset6">
                            <button class="btn btn-block span3" type="button"
                                data-ng-click="clear()">Clear</button>
                            <button class="btn btn-primary span6" type="button"
                                data-ng-click="save(true)" data-ng-disabled="formArea.$invalid || !isEditTrigger || _.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">Save As New</button>
                            <button class="btn btn-primary span3" type="button"
                                data-ng-click="save(false)" data-ng-disabled="formArea.$invalid || (!isEditTrigger && _.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType))">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="span6">
        <div class="tabbable tabbable-bordered span12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="" data-toggle="tab" data-ng-click="loadLtlFuelAndTriggers(tabsEnum.ACTIVE)">Active</a></li>
                <li><a href="" data-toggle="tab" data-ng-click="loadLtlFuelAndTriggers(tabsEnum.EXPIRED)">Expired</a></li>
                <li><a href="" data-toggle="tab" data-ng-click="loadLtlFuelAndTriggers(tabsEnum.ARCHIVED)">Archived</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="span10">
                        <div class="gridStyle gridHeight4 span12" data-ng-grid="gridOptions" data-ng-dblclick="startEdit()"></div>
                    </div>
                    <div class="span2">
                        <div class="row-fluid">
                            <button class="btn btn-block" type="button"
                                data-ng-click="startEdit()" 
                                data-ng-disabled="(selectedItems.length != 1 || currentTab === tabsEnum.ARCHIVED)">
                                Edit
                            </button>
                        </div>
                        <br>
                        <div class="row-fluid">
                            <button class="btn btn-block" type="button"
                                data-ng-click="onExpire()" 
                                data-ng-disabled="(selectedItems.length !== 1 || _.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType) || currentTab !== tabsEnum.ACTIVE)">
                                Expire
                            </button>
                        </div>
                        <br>
                        <div class="row-fluid">
                            <button class="btn btn-block" type="button" 
                                data-ng-click="onChangeStatus()" 
                                data-ng-disabled="selectedItems.length != 1 || _.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">
                                {{changeStatusButtonName}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
