<div data-ng-controller = "TerminalInfoCtrl">
    <form name="formArea" novalidate class="form-horizontal small-labels">
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group" data-ng-hide="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">
                    <label class="control-label" for="inputCopyFrom"><b>Copy from:</b></label>
                    <div class="controls">
                        <select id="inputCopyFrom" class="span9" data-ng-change="openDialog()" data-ng-model="selectedRateToCopy"
                                data-ng-options="prof.id as prof.rateName for prof in copyProfiles">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputCompany">Terminal:</label>
                    <div class="controls">
                        <input id="inputCompany" type="text" class="span10" data-ng-model="terminalInfo.terminal" required
                            data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputCountry">Country:</label>
                    <div class="controls">
                        <select id="inputCountry" class="span10" required
                                data-ng-model="terminalInfo.address.country.id"
                                data-ng-options="type.id as type.name for type in CountryList"
                                data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputAddress1">Address:</label>
                    <div class="controls">
                        <input type="text" id="inputAddress1" class="span10" data-ng-model="terminalInfo.address.address1" required
                            data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="inputAddress2" class="span10" data-ng-model="terminalInfo.address.address2"  
                            data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputCityStZip">City, St, Zip:</label>
                    <div class="controls">
                        <input id="inputCityStZip" class="span10" data-pls-zip-search="terminalInfo.address.zip" data-input-label-filter="zip"
                                data-country="terminalInfo.address.country.id" required
                                data-zip-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputContact">Contact:</label>
                    <div class="controls">
                        <input type="text" id="inputContact" class="span10" data-ng-model="terminalInfo.contactName"
                            data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="phone">Phone:</label>
                    <div class="controls">
                        <div class="row-fluid">
                            <input type="text" maxlength="3" class="span2" data-ng-model="terminalInfo.phone.countryCode"
                            data-ng-minlength="1" data-ng-maxlength="3"
                                   data-pls-digits-validation placeholder="###"
                                   data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)" required/>
                            (
                            <input type="text" maxlength="3" class="span2" data-ng-model="terminalInfo.phone.areaCode"
                            data-ng-minlength="1" data-ng-maxlength="3"
                                   data-pls-digits-validation placeholder="###"
                                   data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)" required/>
                            )
                            <input id="phone" maxlength="7" type="text" class="span6" data-ng-model="terminalInfo.phone.number"
                            	   data-ng-minlength="7" data-ng-maxlength="7"
                                   data-pls-digits-validation placeholder="#######"
                                   data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="fax">Fax:</label>
                    <div class="controls">
                        <div class="row-fluid">
                            <input type="text" maxlength="3" class="span2" data-ng-model="terminalInfo.fax.countryCode" data-ng-minlength="1"
                                   data-ng-maxlength="3" data-pls-digits-validation placeholder="###"
                                   data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"
                                   data-ng-required="terminalInfo.fax.areaCode || terminalInfo.fax.number" />
                            (
                            <input type="text" maxlength="3" class="span2" data-ng-model="terminalInfo.fax.areaCode" data-ng-minlength="1"
                                   data-ng-maxlength="3" data-pls-digits-validation placeholder="###"
                                   data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"
                                   data-ng-required="terminalInfo.fax.countryCode || terminalInfo.fax.number"/>
                            )
                            <input id="fax" maxlength="7" type="text" class="span6" data-ng-model="terminalInfo.fax.number" data-ng-minlength="7"
                                   data-ng-maxlength="7" data-pls-digits-validation placeholder="#######"
                                   data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"
                                   data-ng-required="terminalInfo.fax.countryCode || terminalInfo.fax.areaCode"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">EMail:</label>
                    <div class="controls">
                        <input type="email" id="inputEmail" class="span10" data-ng-model="terminalInfo.email" data-ng-maxlength="50"
                            data-ng-pattern="/^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[_A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$/"
                            data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputTransit">Transit Days:</label>
                    <div class="controls">
                        <input type="text" id="inputTransit" class="span10" data-pls-number data-ng-model="terminalInfo.transiteTime"
                            data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-ng-model="terminalInfo.visible" id="inputBlockDisplay"
                                data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">Block Display
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
                <div class="offset10 span2">
                    <button type="button" class="btn span6" data-ng-click="loadTerminalInfo()"
                        data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">Cancel</button>
                    <button type="button" class="btn btn-primary span6" data-ng-click="save()"
                         data-ng-disabled="formArea.$invalid || _.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">Save</button>
                </div>
            </div>
    </form>
</div>