<div data-ng-controller="FreightBillCtrl">
    <form name="formArea" novalidate class="form-horizontal small-labels">
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group" data-ng-hide="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">
                    <label class="control-label" for="inputCopyFrom"><b>Copy from:</b></label>
                    <div class="controls">
                        <select id="inputCopyFrom" class="span9" data-ng-change="openDialog()" data-ng-model="selectedRateToCopy"
                                data-ng-options="prof.id as prof.rateName for prof in copyProfiles">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputCompany">Company:</label>
                    <div class="controls">
                        <input id="inputCompany" type="text" class="span10" data-ng-model="model.company" required
                            data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputContactName">Contact Name:</label>
                    <div class="controls">
                        <input id="inputContactName" type="text" class="span10" data-ng-model="model.contactName" required 
                            data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputCountry">Country:</label>
                    <div class="controls">
                        <select id="inputCountry" class="span10" required
                                data-ng-model="model.address.country.id"
                                data-ng-options="type.id as type.name for type in CountryList"
                                data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label span2" for="inputAddress1">Address:</label>
                    <div class="controls">
                        <input type="text" id="inputAddress1" class="span10" data-ng-model="model.address.address1" required
                            data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="inputAddress2" class="span10" data-ng-model="model.address.address2"
                            data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputCityStZip">City, St, Zip:</label>
                    <div class="controls">
                        <input id="inputCityStZip" class="span10" data-pls-zip-search="model.address.zip" data-input-label-filter="zip"
                                data-country="model.address.country.id" required
                                data-zip-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="phone">Phone:</label>
                    <div class="controls">
                        <div class="row-fluid">
                            <input id="phoneCountryCode" type="text" class="span2" data-ng-model="model.phone.countryCode" data-ng-minlength="1" 
                               data-ng-maxlength="3" data-ng-pattern="/^\d+$/" placeholder="`###" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                            (
                            <input id="phoneAreaCode" type="text" class="span2" data-ng-model="model.phone.areaCode" data-ng-minlength="1" required
                               data-ng-maxlength="3" data-ng-pattern="/^\d+$/" placeholder="###" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                            )
                            <input id="phone" type="text" class="span6" data-ng-model="model.phone.number" data-ng-minlength="7" required
                               data-ng-maxlength="7" data-ng-pattern="/^\d+$/" placeholder="#######" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="fax">Fax:</label>
                    <div class="controls">
                        <div class="row-fluid">
                            <input id="faxCountryCode" type="text" class="span2" data-ng-model="model.fax.countryCode" data-ng-minlength="1"
                               data-ng-maxlength="3" data-ng-pattern="/^\d+$/" placeholder="###" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                            (
                            <input id="faxAreaCode" type="text" class="span2" data-ng-model="model.fax.areaCode" data-ng-minlength="1"
                               data-ng-maxlength="3" data-ng-pattern="/^\d+$/" placeholder="###" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                            )
                            <input id="fax" type="text" class="span6" data-ng-model="model.fax.number" data-ng-minlength="7"
                               data-ng-maxlength="7" data-ng-pattern="/^\d+$/" placeholder="#######" data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">EMail:</label>
                    <div class="controls">
                        <input type="email" id="inputEmail" class="span10" data-ng-model="model.email" data-ng-maxlength="50" required
                            data-ng-pattern="/^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[_A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$/"
                            data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="inputAccount">Account #:</label>
                    <div class="controls">
                        <input type="text" id="inputAccount" class="span10" data-ng-model="model.accountNum" 
                            data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
                <div class="offset10 span2">
                    <button type="button" class="btn span6" data-ng-click="loadThirdParty()" 
                        data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType)">Cancel</button>
                    <button type="button" class="btn btn-primary span6" data-ng-click="save()"
                        data-ng-disabled="_.contains(['BLANKET_CSP'], profileDetails.pricingType.ltlPricingType) || formArea.$invalid">Save</button>
                </div>
            </div>
    </form>
</div>