<form name="customerProfileForm" novalidate class="margin0">
    <div data-ng-controller="EditCustomerProfileCtrl" data-ng-init="init()" data-pls-ignore-location-change-check="{{customerProfileForm.$pristine}}">
        <div class="row-fluid" data-pls-form-disabled="!$root.isFieldRequired('CUSTOMER_PROFILE_VIEW')" data-ng-if="profileModel.customer.id">
            <div class="span6">
                <div class="row-fluid">
                    <div class="span12 well well-small">
                        <h4>Main Information</h4>
                        <hr />
                        <div class="row-fluid">
                            <label class="control-label span3 offset1 label-middle" for="customerName"><b>Customer:</b></label>
                            <div class="span7">
                                <input id="customerName" type="text" class="span12 a_customerName" data-ng-model="profileModel.customer.name"
                                       maxlength="240" data-ng-blur="checkCustomerName()" required/>
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-if="$root.isFieldRequired('CUSTOMER_PROFILE_VIEW')">
                            <label class="control-label span3 offset1 label-middle" for="accountId">Account ID:</label>
                            <span id="accountId" class="controls span7 label-middle a_accountId">{{profileModel.customer.id}}</span>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label span3 offset1 label-middle" for="country"><b>Country:</b></label>
                            <div class="span7">
                                <input id="country" class="span12 a_country" data-pls-country-search="profileModel.customer.address.country"
                                       maxlength="50" required/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label span3 offset1 label-middle" for="address1"><b>Address 1:</b></label>
                            <div class="span7">
                                <input id="address1" type="text" class="span12 a_address1" data-ng-model="profileModel.customer.address.address1"
                                       maxlength="200" required/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label span3 offset1 label-middle" for="address2">Address 2:</label>
                            <div class="span7">
                                <input id="address2" type="text" class="span12 a_address2" data-ng-model="profileModel.customer.address.address2"
                                       maxlength="200" />
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-if="profileModel.zipAutoComplete">
                            <label class="control-label span3 offset1 label-middle" for="cityStZip"><b>City, St, ZIP:</b></label>
                            <div class="span7">
                                <input id="cityStZip" class="span12 a_cityStZip" data-pls-zip-search="profileModel.customer.address.zip" data-input-label-filter="zip"
                                       data-country="profileModel.customer.address.country.id" required/>
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-if="!profileModel.zipAutoComplete">
                            <label class="control-label span3 offset1 label-middle" for="city"><b>City:</b></label>
                            <div class="span7">
                                <input id="city" type="text" class="span12 a_city" data-ng-model="profileModel.customer.address.zip.city"
                                       maxlength="30" required data-ng-disabled="!profileModel.customer.address.country"/>
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-if="!profileModel.zipAutoComplete">
                            <label class="control-label span3 offset1 label-middle" for="zip"><b>ZIP:</b></label>
                            <div class="span7">
                                <input id="zip" type="text" class="span12 a_zip" data-ng-model="profileModel.customer.address.zip.zip"
                                       maxlength="10" required data-ng-disabled="!profileModel.customer.address.country"/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label span3 offset1 label-middle" for="contactFirst"><b>Contact:</b></label>
                            <div class="span7">
                                <input id="contactFirst" type="text" class="span6 a_contactFirst" data-ng-model="profileModel.customer.contactFirstName"
                                       maxlength="20" data-ng-pattern="/^[a-zA-Z0-9 ]+$/" required placeholder="First Name"/>
                                <input id="contactLast" type="text" class="span6 a_contactLast" data-ng-model="profileModel.customer.contactLastName"
                                       maxlength="30" data-ng-pattern="/^[a-zA-Z0-9 ]+$/" required placeholder="Last Name"/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label span3 offset1 label-middle" for="phone"><b>Phone:</b></label>
                            <div class="span7">
                                +
                                <span data-ng-bind="profileModel.customer.contactPhone.countryCode"></span>
                                (
                                <input type="text" class="span2 a_phoneAreaCode" data-ng-model="profileModel.customer.contactPhone.areaCode" data-ng-minlength="1"
                                       data-ng-maxlength="3" maxlength="3" data-pls-digits-validation placeholder="###" required/>
                                )
                                <input id="editCustProfPhone" type="text" class="span4 a_phoneNumber" data-ng-model="profileModel.customer.contactPhone.number" data-ng-minlength="7"
                                       data-ng-maxlength="7" maxlength="7" data-pls-digits-validation placeholder="#######" required/>
                                &nbsp;Ext.:
                                <input id="editCustProfPhoneExtension" type="text" class="span3" data-ng-model="profileModel.customer.contactPhone.extension"
                                       data-ng-maxlength="6" maxlength="6" data-pls-digits-validation placeholder="######"/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label span3 offset1 label-middle" for="fax">Fax:</label>
                            <div class="span7">
                                +
                                <span data-ng-bind="profileModel.customer.contactFax.countryCode"></span>
                                (
                                <input type="text" class="span3 a_faxAreaCode" data-ng-model="profileModel.customer.contactFax.areaCode" data-ng-minlength="1"
                                       data-ng-maxlength="3" maxlength="3" data-pls-digits-validation placeholder="###"
                                       data-ng-required="profileModel.customer.contactFax.number"/>
                                )
                                <input id="fax" type="text" class="span5 a_faxNumber" data-ng-model="profileModel.customer.contactFax.number" data-ng-minlength="7"
                                       data-ng-maxlength="7" maxlength="7" data-pls-digits-validation placeholder="#######"
                                       data-ng-required="profileModel.customer.contactFax.areaCode"/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label span3 offset1 label-middle" for="email"><b>Email:</b></label>
                            <div class="span7">
                                <input id="email" type="email" class="span12 a_email"
                                       data-ng-pattern="/^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[_A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$/"
                                       data-ng-model="profileModel.customer.contactEmail" maxlength="50"
                                       data-ng-change="changeAddress()" required/>
                            </div>
                        </div>
                        <div data-ng-if="$root.isFieldRequired('CUSTOMER_PROFILE_VIEW')">
                            <div class="row-fluid">
                                <label class="checkbox span3 offset1 label-middle"
                                    for="contractCustomer"> <input id="contractCustomer"
                                    type="checkbox" class="a_contractCustomer"
                                    data-ng-model="profileModel.customer.contract">Contract
                                    Customer
                                </label>
                                <div class="control-group span8 form-inline">
                                    <label class="control-label inline label-middle" for="startDate">Start:</label>
                                    <div class="input-append">
                                        <input name="dateField" type="text" id="startDate"
                                            data-ng-model="profileModel.customer.startDate"
                                            data-max-date="profileModel.customer.endDate"
                                            data-pls-datepicker class="input-small a_startDate"
                                            data-ng-required="profileModel.customer.contract"
                                            data-ng-disabled="!profileModel.customer.contract" />
                                        <button type="button" class="btn" data-toggle="datepicker"
                                            data-ng-disabled="!profileModel.customer.contract">
                                            <i class="icon-calendar"></i>
                                        </button>
                                    </div>
                                    <label class="control-label inline label-middle" for="endDate">End:</label>
                                    <div class="input-append">
                                        <input name="dateField" type="text" id="endDate"
                                            data-ng-model="profileModel.customer.endDate"
                                            data-min-date="profileModel.customer.startDate"
                                            data-pls-datepicker class="input-small a_endDate"
                                            data-ng-required="profileModel.customer.contract"
                                            data-ng-disabled="!profileModel.customer.contract" />
                                        <button type="button" class="btn" data-toggle="datepicker"
                                            data-ng-disabled="!profileModel.customer.contract">
                                            <i class="icon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3 offset1">Business Unit Name (Code):</div>
                                <div id="businessUnit" class="span7">{{profileModel.customer.network
                                    + ' (' + profileModel.customer.unitCode + ')'}}</div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3 offset1">Company Code:</div>
                                <div id="companyCode" class="span7">{{profileModel.customer.description
                                    + ' (' + profileModel.customer.companyCode + ')'}}</div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3 offset1">Cost Center:</div>
                                <div id="costCenterCode" class="span7">{{profileModel.customer.costCenterCode}}</div>
                            </div>
                            <div class="row-fluid">
                                <label class="control-label span3 offset1 label-middle"
                                    for="logo">Logo:</label>
                                <div id="logo" class="controls span7"
                                    data-pls-customer-logo="profileModel.customer.logoId"
                                    data-display-on-bol="profileModel.customer.displayLogoOnBol"
                                    data-display-on-ship-Label="profileModel.customer.displayLogoOnShipLabel"
                                    data-customer-id="profileModel.customer.id"></div>
                            </div>
                            <div class="row-fluid">
                                <label class="span3 offset1 label-middle" for="printBarcode">
                                    <input id="printBarcode" type="checkbox" data-ng-model="profileModel.customer.printBarcode">
                                        Print BOL# Barcode on BOL
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <div class="span12 well well-small">
                        <div class="row-fluid">
                            <div class="span6"><h4>Bill to information</h4></div>
                            <div class="span5 text-right"><h5>Currency Code: {{profileModel.customer.billTo.currency}}</h5></div>
                        </div>
                        <hr/>
                        <div class="row-fluid">
                            <label class="control-label span2 offset1 label-middle">Default Location:</label>
                            <div class="span8">
                                <select data-ng-options="location.id as location.location for location in profileModel.customerLocations"
                                    data-ng-model="profileModel.customer.locationId" class="span12"></select>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label span2 offset1 label-middle" for="billToSel">Default Bill To:</label>
                            <div class="span8">
                                <select data-ng-required="profileModel.customer.createOrdersFromVendorBills" id="billToSel"
                                    data-ng-model="profileModel.customer.billTo"
                                    data-ng-options="b.address.addressName for b in profileModel.billTos" class="span12 a_billToSel">
                                </select>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2 offset1">Country:</div>
                            <div class="span7 a_country">{{profileModel.customer.billTo.address.country.name}}</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2 offset1">Address 1:</div>
                            <div class="span7 a_billToAddress1">{{profileModel.customer.billTo.address.address1}}</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2 offset1">Address 2:</div>
                            <div class="span7 a_billToAddress2">{{profileModel.customer.billTo.address.address2}}</div>
                        </div>
                        <div class="row-fluid" data-ng-if="_.contains(['USA', 'CAN', 'MEX'], profileModel.customer.billTo.address.country.id)">
                            <div class="span2 offset1">City, ST, ZIP:</div>
                            <div class="span7 a_billToZipStCountry">{{profileModel.customer.billTo.address.zip | zip}}</div>
                        </div>
                        <div class="row-fluid" data-ng-if="!_.contains(['USA', 'CAN', 'MEX'], profileModel.customer.billTo.address.country.id)">
                            <div class="span2 offset1">City:</div>
                            <div class="span7">{{profileModel.customer.billTo.address.zip.city}}</div>
                        </div>
                        <div class="row-fluid" data-ng-if="!_.contains(['USA', 'CAN', 'MEX'], profileModel.customer.billTo.address.country.id)">
                            <div class="span2 offset1">ZIP:</div>
                            <div class="span7">{{profileModel.customer.billTo.address.zip.zip}}</div>
                        </div>
                         <div class="row-fluid">
                            <div class="span2 offset1">Invoice Contact:</div>
                            <div class="span7 a_billToContactName">{{profileModel.customer.billTo.address.contactName}}</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2 offset1">Phone:</div>
                            <div class="span7 a_phone" data-ng-bind="profileModel.customer.billTo.address.phone | phone"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2 offset1">Fax:</div>
                            <div class="span7 a_fax" data-ng-bind="profileModel.customer.billTo.address.fax | phone"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2 offset1">Emails:</div>
                            <div class="span7">
                                <textarea id="billToEmail" class="span12 a_billToEmail" data-ng-model="profileModel.customer.billTo.address.email" readonly>
                                </textarea>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="row-fluid" data-ng-if="$root.isFieldRequired('CUSTOMER_PROFILE_VIEW')">
                    <div class="span12 well well-small">
                        <div class="row-fluid">
                            <label class="control-label span2 offset1 label-middle" for="customerStatus"><b>Status:</b></label>
                            <div class="span8">
                                <select id="customerStatus" class="span8 a_customerStatus" data-ng-model="profileModel.customer.status" data-ng-disabled="!isStatusEditable()"
                                        data-ng-change="statusChanged()"
                                        data-ng-options="status | customerStatus for status in profileModel.customerStatuses">
                                </select>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label span2 offset1 label-middle" for="customerStatusReason"><b>Reason:</b></label>
                            <div class="span8">
                                <select id="customerStatusReason"  class="span8 a_customerStatusReason" data-ng-model="profileModel.customer.statusReason"
                                        data-ng-disabled="!isStatusReasonEditable()" data-ng-required="isStatusReasonEditable()"
                                        data-ng-options="sr | statusReason for sr in getStatusReasons()">
                                </select>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label span2 offset1 label-middle" for="taxId">Tax ID:</label>
                            <div class="span8">
                                <input data-ng-if="!isTaxIdEditable()" id="taxId" type="text" class="span8 a_taxId" 
                                     data-ng-model="profileModel.customer.federalTaxId" maxlength="10" placeholder="##-#######" readonly disabled/>
                                <input data-ng-if="isTaxIdEditable()" type="text" class="span8 a_taxId" data-pls-update-model-onblur
                                     data-ng-model="profileModel.customer.federalTaxId" data-ng-change="checkTaxId()"
                                     maxlength="{{taxIdFieldLength}}" placeholder="{{taxIdFieldPlaceholder}}"
                                     data-pls-dynamic-regexp data-model="profileModel.customer.address.country.id"
                                                            data-match-condition="USA"
                                                            data-match-exp="(^\d{2}-\d{7}$)" data-not-match-exp=".*"
                                                            required/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label span2 offset1 label-middle" for="ediNum">EDI #:</label>
                            <div class="span8">
                                <input id="ediNum" type="text" class="span8 a_ediNum" 
                                data-ng-model="profileModel.customer.ediAccount" maxlength="50" data-ng-pattern="/^[a-zA-Z0-9 ]+$/"
                                data-ng-blur="checkEdiNumber()"/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="checkbox offset3" for="createOrdersFromVendorBills">
                                <input id="createOrdersFromVendorBills" type="checkbox"
                                    data-ng-change="createOrdersFromVendorBillsChanged()" 
                                    data-ng-model="profileModel.customer.createOrdersFromVendorBills">
                                Create Orders From Vendor Bills
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="checkbox offset3" for="generateConsigneeInvoice">
                                <input id="generateConsigneeInvoice" type="checkbox"
                                    data-ng-model="profileModel.customer.generateConsigneeInvoice">
                                Generate Consignee Invoice
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row-fluid" data-ng-if="$root.isFieldRequired('CAN_UPDATE_INTERNAL_NOTES')">
                    <div class="span12 well well-small">
                        <div class="row-fluid">
                           <label class="control-label span2 offset1 label-middle" for="internalNote">Internal Notes</label>
                           <div class="span8">
                               <textarea id="internalNote" data-ng-model="profileModel.customer.internalNote"  class="span12" rows="6" maxlength="2000" ></textarea>
                           </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</form>