<div data-ng-controller="EditCustomerLocationsCtrl">
    <div class="row-fluid" data-ng-if="locationsModel.locationsData">
        <div class="row-fluid">
            Customer: {{editCustomerModel.customerName}}
        </div>
        <br/>
        <div class="row-fluid">
            <div class="gridStyle gridHeight3 span12 table" data-ng-grid="locationsGrid.options"></div>
        </div>

        <div class="row-fluid">
            <div class="span1" data-ng-if="$root.isFieldRequired('CUSTOMER_PROFILE_VIEW')">
                <button type="button" class="btn btn-block" data-ng-click="addLocation()">Add</button>
            </div>
            <div class="span1">
                <button type="button" class="btn btn-block" data-ng-disabled="_.isEmpty(locationsModel.selectedLocations)" data-ng-click="editLocation()">
                <span data-ng-bind="changeLabelAccordingToPermission('CUSTOMER_PROFILE_VIEW','View','Edit')"></span>
                </button>
            </div>
        </div>
    </div>
    <div data-ng-include="'pages/content/customer/edit/edit-location.html'"></div>
</div>