<div id="editCustomerDiv" data-ng-controller="EditCustomerCtrl">
    <div class="row-fluid">
        <div class="tabbable tabbable-bordered">
            <ul class="nav nav-tabs">
                <li class="pls-menu-item">
                    <a href="#/customer/{{editCustomerModel.customerId}}/profile">Profile</a>
                </li>
                <li class="pls-menu-item">
                    <a href="#/customer/{{editCustomerModel.customerId}}/billTo">Client Bill To</a>
                </li>
                <li class="pls-menu-item">
                    <a href="#/customer/{{editCustomerModel.customerId}}/locations">Locations</a>
                </li>
                <li class="pls-menu-item" data-ng-if="$root.isFieldRequired('CUSTOMER_PROFILE_VIEW')">
                    <a href="#/customer/{{editCustomerModel.customerId}}/notes">Notes</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active">
                    <div data-ng-include="route.current.editCustomerTab" data-ng-if="editCustomerModel.customerId"></div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row-fluid" data-ng-if="$root.isFieldRequired('CUSTOMER_PROFILE_VIEW')">
        <button type="button" class="btn btn-primary span2 offset4 a_saveChangesButton" data-ng-click="editCustomerModel.saveChanges()"
                data-ng-show="route.current.editCustomerTabName==='profile'"
                data-ng-disabled="editCustomerModel.isSaveDisabled()">Save Changes</button>
        <a href="#/customer/{{editCustomerModel.editCustomerPreviousTab}}"
                data-ng-class="{offset6:route.current.editCustomerTabName!=='profile' || !$root.isFieldRequired('CUSTOMER_PROFILE_VIEW')}"
                class="btn span1 a_cancelButton">Close</a>
    </div>
</div>
