<div data-ng-controller="UnpublishedAnnouncementsCtrl">
    <div data-ng-hide='showAddEditAnnouncementsPanel'>
        <div class="row-fluid">
            <label class="span3"><strong>Unpublished Messages:</strong></label>
        </div>
        <div class="row-fluid">
            <div>
                <div class="span11">
                    <div class="gridStyle gridHeight3 span12 table" data-ng-grid="unpublishedAnnouncementsGrid"></div>
                </div>
                <div class="span1">
                    <button class="btn btn-block" type="button" data-ng-click="publishAnnouncement()"
                        data-ng-disabled="selectedAnnouncement.length !== 1 || today > selectedAnnouncement[0].startDate 
                        || today > selectedAnnouncement[0].endDate">Publish</button>
                    <button class="btn btn-block" type="button" data-ng-click="showAddEditAnnouncementsPanel=true">Add</button>
                    <button class="btn btn-block" type="button" data-ng-click="editAnnouncement()"
                        data-ng-disabled="selectedAnnouncement.length !== 1">Edit</button>
                    <button class="btn btn-block" type="button" data-ng-click="showDeleteAnnouncementDialog=true"
                        data-ng-disabled="selectedAnnouncement.length !== 1">Delete</button>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <label class="span3"><strong>Announcement Text:</strong></label>
        </div>
        <div class="row-fluid">
            <textarea data-ng-model="selectedAnnouncement[0].text" data-ng-disabled="true" style="width: 100%" rows="8" maxlength="1500"></textarea>
        </div>
    </div>

    <!-- Add/Edit announcement panel -->
    <form name="announcementsForm" class="form-horizontal small-labels">
        <div data-ng-hide='!showAddEditAnnouncementsPanel'>
            <div class="row-fluid">
                <label class="span1 label-middle"><strong>Display Message</strong></label>
                <div class="input-append">
                    <label class="span3 label-middle"><strong>From:</strong></label>
                    <input tabindex="-1" name="dateField" type="text" required data-ng-model="announcement.startDate"
                        required data-min-date="minFromDate" data-max-date="announcement.endDate"
                        data-date-format="mm/dd/yy" data-pls-datepicker class="input-small" />
                    <button tabindex="-1" type="button" class="btn" data-toggle="datepicker">
                    <i class="icon-calendar"></i>
                    </button>
                </div>
                <div class="input-append">
                    <label class="span4 label-middle"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To:</strong></label>
                    <input tabindex="-1" name="dateField" type="text" data-ng-model="announcement.endDate"
                        required data-min-date="announcement.startDate" data-max-date="maxToDate"
                        data-date-format="mm/dd/yy" data-pls-datepicker class="input-small" />
                    <button tabindex="-1" type="button" class="btn" data-toggle="datepicker">
                        <i class="icon-calendar"></i>
                    </button>
                </div>
            </div>
            <div class="row-fluid">
                <label class="span1 label-middle"><strong>Theme:</strong></label>
                <input type="text" style="width: 93%" required maxlength="50" data-ng-model="announcement.theme">
            </div>
            <div class="row-fluid">
                <label class="span3"><strong>Announcement Text:</strong></label>
            </div>
            <div class="row-fluid">
                <textarea data-ng-model="announcement.text" required style="width: 99%" rows="8" maxlength="1500"></textarea>
            </div>
            <br>
            <div class="row-fluid">
                <button type="button" class="btn pull-right span1" data-ng-click="cancelManageAnnouncementDialog()">Cancel</button>
                <button type="button" class="btn pull-right span1" data-ng-disabled="announcementsForm.$invalid"
                        data-ng-click="saveAnnouncement()">{{announcement.id ? 'Save' : 'Ok'}}</button>
            </div>
        </div>
    </form>
 
    <div data-pls-modal="showDeleteAnnouncementDialog" data-close="showDeleteAnnouncementDialog=false" data-enter="deleteAnnouncement(true)">
        <div class="modal-header">
            <h4>Delete Announcement</h4>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12" >
                    Do you really want to delete the selected announcement?
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-ng-click="showDeleteAnnouncementDialog=false">Cancel</button>
            <button type="button" class="btn" data-ng-click="deleteAnnouncement()">Delete</button>
        </div>
    </div>
</div>