<div class="row-fluid" data-ng-controller="AddressInformationController">
<form name="shipmentEntryData.addressForm" novalidate class="margin0">
    <h4 class="text-center well well-small">Address Information</h4>
    <br>
    <div class="row-fluid">
        <div class="span3 control-group">
            <span class="span3 text-left">
                <label>Customer:</label>
            </span>
            <div class="span9">
                <div id="customerInput" data-pls-customer-lookup="shipmentEntryData.selectedCustomer" data-customer-disabled="shipmentEntryData.shipment.id" autocomplete="off" data-pls-customer-lookup-required></div>
            </div>
        </div>
        <div class="span2">
            <button id="addressCopyFromBtn" class="btn a_copyFromButton" type="button" data-ng-disabled="!shipmentEntryData.selectedCustomer || !shipmentEntryData.selectedCustomer.id" data-ng-click="openCopyFromDialog()" data-ng-if="$root.isFieldRequired('ADD_SHIPMENT_ENTRY');">Copy Shipment</button>
        </div>
        <div class="span4">
            <label class="control-label span3" for="pickupDate">Pickup Date:</label>
            <label class="control-label span2 input-small text-center" for="pickupDate"><strong>{{parseISODate(shipmentEntryData.shipment.finishOrder.pickupDate) | date:'EEEE'}}</strong></label>

            <div class="input-append span6">
                <input tabindex="-1" name="dateField" type="text" required data-ng-model="shipmentEntryData.shipment.finishOrder.pickupDate" data-date-format="mm/dd/yy" data-pls-datepicker class="span6" />
                <button tabindex="-1" type="button" class="btn" data-toggle="datepicker" style="height: 30px; margin-bottom: 8px;">
                <i class="icon-calendar"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <data-pls-address-autocomplete class="origin" data-num-items="15" data-ng-model="address" data-items="addresses"
            data-is-origin-address="true" data-on-address-update="updateOriginAddress(addressToUpdate);" data-shipment="shipmentEntryData.shipment"
            data-on-address-create="addAddress();" data-on-address-edit="editAddress(addressToEdit, isOrigin);"
            data-address-form="shipmentEntryData.originForm" data-on-map-open="openGoogleMaps(isOrigin)">
        </data-pls-address-autocomplete>
        <data-pls-address-autocomplete class="destination" data-num-items="15" data-ng-model="address" data-items="addresses"
            data-address-header="Destination" data-on-address-update="updateDestinationAddress(addressToUpdate);" data-shipment="shipmentEntryData.shipment"
            data-on-address-create="addAddress();" data-on-address-edit="editAddress(addressToEdit)" data-address-form="shipmentEntryData.destinationForm"
            data-on-map-open="openGoogleMaps()">
        </data-pls-address-autocomplete>
    </div>
</form>
    <div data-ng-if="!customerNotSelected();" data-ng-include="'pages/content/address-book/add-edit-address.html'"></div>
    <div data-ng-include="'pages/content/quotes/copyfrom/copy-from.html'"></div>
    <div data-google-maps data-origin="shipmentEntryData.shipment.originDetails.address" data-destination="shipmentEntryData.shipment.destinationDetails.address"></div>
</div>