<div data-ng-controller="NotesAndNotificationController">
    <h4 class="text-center well well-small">Notes and Notifications</h4>
    <br>
    <div class="row-fluid">
        <div class="span6 well well-small" id="notificationDiv">
            <h5>Notifications</h5>
            <div><hr/></div>
            <div class="row-fluid">
                <div class="span12 alert text-center">
                    The searching is performed in Address Book and User Mgt. You can also enter new Email manually.
                </div>
            </div>
            <div class="row-fluid">
                <div class="span9">
                    <span class="control-label">Email Address:</span>
                </div>
                <div class="span3">
                    <span class="control-label">Settings:</span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span7">
                    <div class="controls" data-ng-model="newEmailFormArea">
                        <input type="email" name="newEmailInp" class="input-block-level" id="notifyEmail" placeholder="Email" maxlength="255"
                               data-ng-pattern="/^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[_A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$/"
                               data-ng-change="selectEmailAddress(shipmentEntryData.editedEmail)"
                               data-ng-model="shipmentEntryData.editedEmail"
                               data-ng-paste="clearSelectedNotificationTypes()">
                    </div>
                    <div class="controls">
                        <select class="input-block-level a_emails" size="3" data-pls-onchange="selectEmailAddress" data-not-disable-me>
                            <option data-ng-repeat="email in getEmails()" data-not-disable-me
                                    data-ng-click="selectEmailAddress(email)" data-ng-selected="email == shipmentEntryData.editedEmail"
                                    value="{{email}}" label="{{email}}">{{email}}</option>
                        </select>
                    </div>
                </div>
                <div class="span2" data-ng-hide="readOnly">
                    <button type="button" class="btn btn-block a_addButton" data-ng-click="addEmailNotifications()"
                            data-ng-disabled="newEmailFormArea.$invalid || !shipmentEntryData.editedEmail || !isNewNotification() || !isAnyNotificationSelected()">Add</button>
                    <button type="button" class="btn btn-block a_removeButton" data-ng-disabled="!shipmentEntryData.editedEmail || isNewNotification()"
                            data-ng-click="removeEmailNotifications()">Remove</button>
                </div>
                <div class="span3" data-ng-hide="readOnly">
                    <div class="form-inline min-width-130" data-ng-repeat="notificationType in shipmentEntryData.notificationTypes">
                            <input type="checkbox" data-ng-attr-id="id_{{notificationType.label.split(' ').join('_') | lowercase}}" style="min-height: 0;" 
                                class="a_{{notificationType.label.split(' ').join('_') | lowercase}}" data-ng-disabled="!shipmentEntryData.editedEmail"
                                data-ng-model="notificationType.selected" data-ng-change="changeNotificationType(notificationType)">
                            <label for="id_{{notificationType.label.split(' ').join('_') | lowercase}}">
                                {{notificationType.label}}
                                <i data-ng-if="notificationType.value === 'DETAILS'" class="icon-info-sign"
                                    data-pls-popover="higherEmailsVolume" data-placement="top"></i>
                            </label>
                        <div data-ng-if="notificationType.value === 'DETAILS'" class="container-fluid" id="higherEmailsVolume">
                            Selecting this notification will generate higher volume of emails
                        </div>
                    </div>
                </div>
                <div class="span3" data-ng-show="readOnly">
                    <div data-ng-repeat="notificationType in shipmentEntryData.notificationTypes">
                        <span data-pls-selected-item="notificationType.selected" data-label="{{notificationType.label}}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="row-fluid">
                <div class="span12 well well-small" id="notesDiv">
                    <div class="span4">
                        <label for="pickupNotes" class="control-label">Load Specific Pickup Notes:</label>
                        <textarea id="pickupNotes" data-ng-model="shipmentEntryData.shipment.finishOrder.pickupNotes" style="width: 90%" rows="8" maxlength="3000"></textarea>
                    </div>
                    <div class="span4">
                        <label for="deliveryNotes" class="control-label">Load Specific Delivery Notes:</label>
                        <textarea id="deliveryNotes" data-ng-model="shipmentEntryData.shipment.finishOrder.deliveryNotes" style="width: 90%" rows="8" maxlength="3000"></textarea>
                    </div>
                    <div class="span4">
                        <label for="shippingLabelNotes" class="control-label">Shipping Label Notes:</label>
                        <textarea id="shippingLabelNotes" data-ng-model="shipmentEntryData.shipment.finishOrder.shippingLabelNotes" style="width: 90%" rows="8" maxlength="2000"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>