<div data-ng-controller="SelectCarrierController">
    <div>
        <h4 class="text-center well well-small">Select Carrier</h4>
        <br>

        <div class="row-fluid">
            <div class="span9">
                <div class="span12">
                    <form name="selectCarrierForm">
                        <div class="row-fluid form-inline controls">
                            <div class="row-fluid form-inline controls">
                                <div class="span2">
                                    <label class="control-label">
                                        <strong>Customer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                                    </label>
                                    <span class="a_customer">{{shipmentEntryData.selectedCustomer.name}}</span>
                                </div>
                                <div class="span4 ng-scope" data-ng-if="showItemByPermissions()">
                                    <label class="control-label" for="revenueOverride">
                                        Revenue&nbsp;Override:&nbsp;
                                    </label>
                                    <input class="input-mini"
                                           type="text" id="revenueOverride" data-pls-number="{{revOverrideNumPattern}}"
                                           data-ng-model="shipmentEntryData.shipment.margins.revenueOverride"
                                           data-ng-disabled="isRevenueOverrideDisabled()"
                                           maxlength="7" data-forbid-zero="{{forbidZero}}"/>
                                    <select class="input-small"
                                            data-ng-model="shipmentEntryData.shipment.margins.revenueOverrideOption"
                                            data-ng-disabled="isRevenueOverrideDisabled()"
                                            data-ng-init="shipmentEntryData.shipment.margins.revenueOverrideOption = 'marginPerc'">
                                        <option value="marginPerc">Margin %</option>
                                        <option value="flatMarkup">Flat Markup</option>
                                        <option value="totalRevenue">Total Revenue</option>
                                    </select>
                                </div>
                                <div data-ng-if="showItemByPermissions()">
                                    <div class="span3">
                                        <label class="control-label" for="costOverride">Carrier&nbsp;Cost&nbsp;Override:</label>
                                        <input class="input-mini" type="text" id="costOverride"
                                               data-pls-number="positiveZeroDecimal" data-forbid-zero="true"
                                               data-ng-disabled="!$root.isFieldRequired('EDIT_CARRIER_COST')"
                                               data-ng-model="shipmentEntryData.shipment.margins.costOverride" maxlength="7"/>
                                    </div>
                                    <div class="span3">
                                        <label class="control-label" for="volumeQuoteID">Volume&nbsp;Quote&nbsp;ID:</label>
                                        <input class="input-mini" type="text" id="volumeQuoteID"
                                               data-ng-model="shipmentEntryData.shipment.volumeQuoteID" maxlength="50"
                                               data-ng-disabled="!shipmentEntryData.shipment.margins.costOverride"
                                               data-ng-required="shipmentEntryData.shipment.margins.costOverride"/>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </form>
                    <div class="row-fluid form-inline">
                        <div class="span4 label-middle">Pickup Date: <strong class="a_pickupDate">
                            {{parseISODate(shipmentEntryData.shipment.finishOrder.pickupDate) | date:wideAppDateFormat}}</strong>
                        </div>
                        <div class="span4">
                            <div class="form-inline">
                                <label class="label-middle" for="guaranteedBy">Guaranteed By:</label>
                                <select id="guaranteedBy"
                                        class="input-small a_guaranteedBy"
                                        data-ng-model="shipmentEntryData.shipment.guaranteedBy"
                                        data-ng-change="getQuote()"
                                        data-ng-options="time | longTime: false for time in guaranteedTimeOptions">
                                </select>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="form-inline">
                                <label class="control-label label-middle">Sort Carrier by: </label> &nbsp;
                                <label class="radio">
                                    <input type="radio"
                                           name="carrierSortByOption"
                                           id="COST"
                                           value="totalCost"
                                           data-ng-model="shipmentEntryData.sortBy"
                                           data-ng-change="sortCarrierPropositions()">
                                    Cost
                                </label> <label class="radio">
                                <input type="radio" name="carrierSortByOption" id="TRANSIT_DAYS"
                                       value="estimatedTransitTime" data-ng-model="shipmentEntryData.sortBy"
                                       data-ng-change="sortCarrierPropositions()">
                                Transit Days
                            </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 gridStyle gridHeight4 table a_carrierPropositionsGrid" data-ng-grid="carrierPropositionsGrid"></div>
                </div>
            </div>
            <div data-pls-cost-details data-shipment="shipmentEntryData.shipment" data-selected-proposition="shipmentEntryData.shipment.selectedProposition"></div>
        </div>

        <div class="row-fluid">
            <div class="row-fluid">
                <div data-ng-if="shipmentEntryData.shipment" class="span4 well well-small">
                    <div data-pls-bill-to data-shipment="shipmentEntryData.shipment" data-customer="shipmentEntryData.selectedCustomer"
                         data-bill-to-form="shipmentEntryData.billToForm" data-location-form="shipmentEntryData.locationForm"></div>
                </div>

                <div class="span4">
                    <div class="row-fluid">
                        <div class="span12 well well-small">
                            <div class="row-fluid">
                                <div class="row-fluid">
                                    <div class="span6 form-inline">
                                        <strong>Total Miles:
                                            <span data-ng-bind="shipmentEntryData.shipment.selectedProposition.mileage"></span>
                                        </strong>
                                    </div>
                                </div>
                                <hr/>
                                <div data-ng-if="shipmentEntryData.shipment.guaranteedBy &&
                                 (!shipmentEntryData.shipment.selectedProposition.hideCostDetails ||
                                 authData.plsUser || $root.isFieldRequired('CAN_VIEW_HIDDEN_RATES'))" class="row-fluid">
                                    <span class="span4">Guaranteed by:</span>
                                    <textarea data-ng-bind-html="getSelectedPropositionGuaranteed()" rows="3" disabled="disabled"
                                              class="span8"></textarea>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <span class="span4">Special Message:</span>
                                <textarea data-ng-bind="shipmentEntryData.shipment.selectedProposition.carrier.specialMessage" rows="3"
                                          contenteditable="false" class="span8" disabled="disabled"></textarea>
                            </div>
                            <div class="row-fluid">
                                <span class="span4">Prohibited Commodities:</span>
                                <textarea data-ng-bind="shipmentEntryData.shipment.selectedProposition.prohibited" rows="3" class="span8"
                                          disabled="disabled"></textarea>
                            </div>
                            <div data-ng-show="$root.isPlsPermissions('CAN_ADD_FREIGHT_BILL_TO_ON_SHIPMENT_ENTRY_AND_QUOTES')" class="row-fluid">
                                <div class="span4 label-middle">Freight Bill Pay To:</div>

                                <div data-pls-freight-bill-pay-to data-selected-customer="shipmentEntryData.selectedCustomer"
                                     data-shipment="shipmentEntryData.shipment" class="span8 pls-margin-left-0">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid" data-ng-if="shipmentEntryData.showCustomsBroker">
                        <div class="span12 well well-small">
                            <form name="customsBrokerForm" novalidate>
                                <div class="row-fluid">
                                    <div class="control-group">
                                        <label class="control-label span2" for="nameInput">Customs Broker:</label>
                                        <input type="text" id="nameInput" class="span10" data-ng-model="shipmentEntryData.shipment.customsBroker.name"
                                               required>
                                    </div>
                                </div>
                                <div class='row-fluid'>
                                    <div class="control-group">
                                        <label class="control-label span2" for="phone">Phone:</label>+
                                        <input class="span2" type="text" data-ng-model="shipmentEntryData.shipment.customsBroker.phone.countryCode"
                                               data-ng-minlength="1"
                                               required data-ng-maxlength="3" maxlength="3" data-pls-digits-validation>
                                        (<input class="span2" type="text" data-ng-model="shipmentEntryData.shipment.customsBroker.phone.areaCode"
                                                data-ng-minlength="1"
                                                required data-ng-maxlength="3" maxlength="3" data-pls-digits-validation>)
                                        <input id="phone" class="span3" type="text"
                                               data-ng-model="shipmentEntryData.shipment.customsBroker.phone.number"
                                               placeholder="#######"
                                               required data-ng-minlength="7" data-ng-maxlength="7" maxlength="7" data-pls-digits-validation>
                                        &nbsp;Ext.:
                                        <input id="phoneExtension" class="span2" type="text" data-pls-digits-validation
                                               data-ng-model="shipmentEntryData.shipment.customsBroker.phone.extension"
                                               placeholder="######" data-ng-maxlength="6" maxlength="6">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12 well well-small">
                            <div data-pls-identifier="CARGO" data-invalid-identifier="invalidIdentifier.cargo"
                                 data-shipment="shipmentEntryData.shipment" class="row-fluid">
                            </div>

                            <div data-pls-identifier="RB" data-shipment="shipmentEntryData.shipment"
                                 data-invalid-identifier="invalidIdentifier.rb" class="row-fluid"></div>
                        </div>
                    </div>
                </div>

                <div class="span4 well well-small">
                    <h5>Identifiers</h5>
                    <hr/>

                    <div data-ng-show="shipmentEntryData.shipment.id" class="row-fluid">
                        <label class="control-label span3">Load ID:</label>

                        <div data-ng-bind="shipmentEntryData.shipment.id" class="span9" id="loadId"></div>
                    </div>

                    <div data-ng-if="$root.isFieldRequired('CAN_VIEW_EDIT_PRO_NUMBER')">
                        <div data-pls-identifier="PRO" data-shipment="shipmentEntryData.shipment"
                             data-invalid-identifier="invalidIdentifier.pro" data-pop-place="left" class="row-fluid"></div>
                    </div>

                    <div data-pls-identifier="BOL" data-shipment="shipmentEntryData.shipment"
                         data-invalid-identifier="invalidIdentifier.bol" data-pop-place="left" class="row-fluid"></div>

                    <div data-pls-identifier="PO" data-shipment="shipmentEntryData.shipment"
                         data-invalid-identifier="invalidIdentifier.po" data-pop-place="left" class="row-fluid"></div>

                    <div data-pls-identifier="SO" data-shipment="shipmentEntryData.shipment"
                         data-invalid-identifier="invalidIdentifier.so" data-pop-place="left" class="row-fluid"></div>

                    <div data-pls-identifier="SR" data-shipment="shipmentEntryData.shipment"
                         data-invalid-identifier="invalidIdentifier.sr" data-pop-place="left" class="row-fluid"></div>

                    <div data-pls-identifier="TR" data-shipment="shipmentEntryData.shipment"
                         data-invalid-identifier="invalidIdentifier.tr" data-pop-place="left" class="row-fluid"></div>

                    <div data-pls-identifier="PU" data-shipment="shipmentEntryData.shipment"
                         data-invalid-identifier="invalidIdentifier.pu" data-pop-place="left" class="row-fluid"></div>

                    <div data-pls-identifier="GL" data-shipment="shipmentEntryData.shipment" data-ng-if="!isBrandOrAluma(shipmentEntryData.selectedCustomer.id)"
                         data-customer-id="shipmentEntryData.selectedCustomer.id"
                         data-invalid-identifier="invalidIdentifier.gl" data-pop-place="left" class="row-fluid"></div>

                    <div class="row-fluid" data-ng-if="!isBrandOrAluma(shipmentEntryData.selectedCustomer.id)">
                        <div class="col-sm-9">
                            <div data-pls-identifier="JOB" data-shipment="shipmentEntryData.shipment"
                                 data-invalid-identifier="invalidIdentifier.job" data-customer-id="shipmentEntryData.selectedCustomer.id"></div>
                        </div>
                    </div>

                    <div data-brand-industrial-identifiers data-shipment="shipmentEntryData.shipment"
                         data-customer-id="shipmentEntryData.selectedCustomer.id"
                         data-ng-if="isBrandOrAluma(shipmentEntryData.selectedCustomer.id)"
                         data-invalid-identifier-gl="invalidIdentifier.gl" data-invalid-identifier-opbol="invalidIdentifier.opbol"></div>
                </div>
            </div>
        </div>

        <div class="row-fluid">&nbsp;</div>

        <div data-pls-notification data-on-cancel="back" data-hide-contacts="true" data-title="'Contact Us'"
             data-message="'<p>No available Carrier for ZIP codes combination</p></br><p><strong><b>Please call your Sales Representative.</b><strong/></p>'"
             data-dialog-open="pickUpWindowOpen" data-user-id="authData.personId" data-customer-id="authData.organization.orgId"></div>
        <div data-pls-notification
             data-on-cancel="back"
             data-hide-contacts="true"
             data-message="'<p>This shipment was not priced through the Quoting system, therefore Cost Details are not available.</p>'"
             data-dialog-open="pricingDetailsWindowOpen" data-user-id="authData.personId" data-customer-id="authData.organization.orgId"></div>
    </div>

    <div data-ng-include="'pages/content/trackingBoard/terminal-info.html'"></div>
    <div data-ng-include="'pages/content/shipment-entry/carrier-details.html'"></div>
</div>