<div data-ng-controller="TrackingBoardHoldController">
    <div class="row-fluid text-right">
                <button type="button" class="btn"
                    data-ng-click="exportAllShipments(shipmentsGrid, undefined, 'Hold')"
                    data-ng-disabled="shipmentsGrid.ngGrid.filteredRows.length === 0">Export</button>
                <button type="button" class="btn"
                        data-ng-click="viewShipmentDetails(selectedShipments[0])" 
                        data-ng-disabled="selectedShipments.length != 1">View</button>
                <button type="button" class="btn" 
                        data-ng-click="toShipmentEntry(selectedShipments[0].shipmentId)"
                        data-ng-disabled="!isPermittedToEdit(selectedShipments)">Shipment Edit</button>
    </div>
    <br/>
    <div class="row-fluid">
        <div class="gridStyle span12 gridHeight4_8"
            data-ng-grid="shipmentsGrid" data-ng-model="shipments"></div>
    </div>

    <div class="row-fluid">
        <div class="text-right">
            <div class="span11">
                Records: <strong><span data-ng-bind="shipmentsGrid.ngGrid.filteredRows.length"></span></strong>
            </div>
       </div>
    </div>

    <!-- Terminal information modal pop up -->
    <div data-ng-include="'pages/content/trackingBoard/terminal-info.html'"></div>
    <!-- Shipment Details modal popup -->
    <div data-ng-include="'pages/content/quotes/shipment-details.html'"></div>
</div>